[2019-01-09 06:17] DooblyNoobly commented on #1063
### Critera:

- Solve this issue ticket and ensure that #1426 is also fixed in the process

A bounty of 50usd will be awarded to the contributor on the successful merge of a solution.

[2019-01-10 06:28] fomalsd commented on #1063
also one more thing: you can rightclick behind FoV and it will show tile's contents as well

[2019-01-10 17:15] dapocalypse commented on #1427
can I do this?

[2019-01-10 18:17] Jibbajabbafic commented on #1427
@dapocalypse Doobly is already doing it

[2019-01-11 03:32] chairbender commented on #1042
this is already fixed, just hadn't been marked as such yet

[2019-01-11 03:32] #1042 closed, assigned to krille90

[2019-01-11 05:47] #389 closed, assigned to chairbender

[2019-01-11 15:59] chairbender commented on #1110
I've tested this on high ping server and client. I can get it to happen on client only, and even then the client lerps back out of the closed door. Rarely, I can get the client stuck in the door but they can just move to open it back up. It only happens if you enter the door with very specific timing, right when it is about to close.

I will try to fix the client side cases where the door closes o

[2019-01-11 17:25] chairbender commented on #1110
Per discord discussion about how this should work, in ss13 it is possible to leave a door open by putting a body in it. If door safety is disabled, it is possible to damage a player by closing the doors on them.

Given that, it seems to make the most sense to reopen the door when it closes on a player (unless safety is off, in which case it should hurt the player), rather than rolling back the pla

[2019-01-11 19:43] #900 closed, assigned to chairbender

[2019-01-12 19:46] chairbender commented on #1110
After more research, here's what's happening:
When the door first closes, it checks if anything is blocking it, but it is still possible for a laggy client to go into the door while it is closing. There are 2 cases:
1. Client enters door after server knows the door is impassable, but before client knows it is impassable.
2. Client enters door after the close begins but before server marks the door

[2019-01-12 23:47] chairbender commented on #1123
Seems like the SyncVar on CurrentMagazine.ammoCount is part of the issue - client and server can sometimes disagree on what the ammo count is. Server is not doing enough server-side checking when a shoot message is requested to prevent player from shooting more than they have.

This should be done as part of #989 IMO

[2019-01-12 23:47] chairbender commented on #989
working on this as part of #1123

[2019-01-13 00:12] chairbender commented on #957
Also self assigning this due to my work in #989 and #1123 as they are all overlapping, and it looks like the melee part of this ticket is already done.

[2019-01-13 00:44] chairbender opened #1433 "Prevent client from pretending to be a different player"
# Description
NOTE: We are planning on investigating Unity's new networking system when it comes out and when we upgrade, just having this ticket here so we remember to check this.

Currently it looks like it may be possible for a client to pretend to be someone else. In ClientMessage, there's a SentBy field, which (I'm not sure on this 100%) seems like it could be set to some other client's netwo

[2019-01-13 14:39] #1110 closed, assigned to chairbender

[2019-01-14 14:17] fomalsd commented on #1433
This can be fixed, will look into it after Health and Atmos are in

[2019-01-14 21:44] krille90 opened #1437 "Shutters should be already closed from start"
# Description
Currently shutters always start opened and will close after a few seconds (it plays the normal closing animation). This affects things like Atmos, e.g. if the shutter is next to a space tile, the gases from the room will be drained at round start.

## Category
BUG

## Detailed Bug Report
Desired behaviour is that the shutters already start closed (like doors) and don't play the closi

[2019-01-14 21:50] #1427 closed, assigned to DooblyNoobly

[2019-01-14 21:53] #1352 closed, assigned to nobody

[2019-01-16 00:59] DooblyNoobly opened #1442 "Current Performance Bottlenecks B: 70 x 5 (Total B350)"
# Description
Currently there are 5 performance bottle necks that are affecting the game.

![image](https://user-images.githubusercontent.com/20813925/51219354-44a7d680-197c-11e9-8976-d69e1ef71805.png)
* GC = Garbage Collection. Anything over 1KB is usually bad

## TODO:
- IMPORTANT: You need to check out the atmos/work02 branch, this is the most up to date branch (not the develop one) so run your

[2019-01-16 11:14] fomalsd commented on #1437
didn't know we had working shutters (but apparently we do)
Also cargo shutter button is invisible from inside due to mapping error:
![default](https://user-images.githubusercontent.com/10403536/51245513-cbaa7e00-197f-11e9-83e9-1e096c87de03.png)
![default](https://user-images.githubusercontent.com/10403536/51245470-a7e73800-197f-11e9-817b-8d6f077df9d3.png)

[2019-01-18 21:58] DooblyNoobly opened #1444 "Inserting container into chem dispenser while GUI is opened, doesn't update GUI state B: 20"
# Description

If you open the chem dispenser GUI and insert a container the dispenser net tab GUI does not update the container loaded status and instead shows it as empty. Pressing eject, ejects the container.

Note: use container prefab from project files for testing, just drag it into the scene before playing (make sure to put it under objects on outpost station matrix)

[2019-01-19 19:18] chairbender commented on #1399
Should also make sure this validation is performed server side

[2019-01-20 00:06] chairbender commented on #852
Updated the original comment and title based on the discussion

[2019-01-20 18:22] Bod9001 opened #1446 "Damage indicators wrong default value"
# Description

Your health indicator when you are at zero damage Is supposed to look like this
![alt text](https://i.imgur.com/LVqLFGU.png  "What it's supposed to look like")
https://i.imgur.com/LVqLFGU.png

But it looks like this
![alt text](https://i.imgur.com/9jCjTwD.png "What it looks like")
https://i.imgur.com/9jCjTwD.png

## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please

[2019-01-20 22:07] #957 closed, assigned to chairbender

[2019-01-20 22:07] #989 closed, assigned to chairbender

[2019-01-20 22:07] #1123 closed, assigned to chairbender

[2019-01-20 22:07] #1399 closed, assigned to chairbender

[2019-01-21 09:55] fomalsd opened #1449 "Clients cannot place things on table (but server can) B: 20"
# Description
Also see #1236 #951 #573
## Category
BUG

## Detailed Bug Report
Clients can't place items on table on atmos branch
![gif](https://user-images.githubusercontent.com/10403536/51466530-5ca79d80-1d62-11e9-95d0-03cad3c42def.gif)

[2019-01-21 21:54] DooblyNoobly commented on #1442
Task 2 is completed with #1448

[2019-01-21 23:45] chairbender commented on #1361
fyi to anyone, this is up for grabs to be worked on again

[2019-01-22 04:08] chairbender commented on #1125
this is okay to work on now

[2019-01-22 04:17] #1426 closed, assigned to chairbender

[2019-01-22 04:30] #1097 closed, assigned to krille90

[2019-01-22 08:23] krille90 opened #1451 "Atmos changes when player spawns"
# Description

## Category
BUG

## Detailed Bug Report
Before choosing a job, the initialization of Atmos is done and works. But after spawning, the Atmos values change, e.g. in the room with the bomb.

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Start the game
2. Choose a job
3. Observe in Scene view how the values change.

[2019-01-22 08:27] krille90 opened #1452 "Atmos doesn't work across matrices"
# Description

## Category
BUG

## Detailed Bug Report
Atmos should work between two matrices, e.g. when a ship is docked. Problem is probably with the MetaData not initializing their neighbors correct when trying to detect other matrices.

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Start the game as Quartermaster
2. Go to the cargo shuttle
3. Observe pressu

[2019-01-22 08:34] krille90 opened #1453 "Plasma fire should apply damage to objects and tiles B: 50"
Currently, plasma fire is only for show and doesn't affect objects, player or tiles.

## Criteria

- [ ] Implement a way to apply damage to objects, players or tiles (use already existing ways if possible)
- [ ] Add Health to all things
- [ ] Destroy things when health is 0, e.g. explode plasma containers

[2019-01-22 10:37] krille90 opened #1454 "TODO: NetTab GUI for GasContainer B: 150"
### Description
With the introduction of Atmos, the gas containers are also now functional in the way that you can open and close the valve by clicking on the container. This needs to be extended to a GUI, in which information of the gas are shown, where the release pressure can be changed and the valve can be opened/closed.

### Criteria

- [ ] Clicking on a gas container should open a GUI window

[2019-01-22 15:09] chairbender commented on #1063
2 things to fix:
1. Looks like this causes a significant increase in draw calls, fps seems to drop by 20 with this change.
2. Alt click behavior should match right click behavior.

[2019-01-22 17:36] krille90 commented on #1328
@dapocalypse Still interested?

[2019-01-23 04:56] DooblyNoobly commented on #1454
Bounty of 150 usd will be awarded to the contributor on a successful merge of all completed criteria above

[2019-01-23 17:01] Carbonhell commented on #1454
Gonna try to do it when possible

[2019-01-23 22:42] krille90 opened #1455 "Windoors aren't opening by walking against them"
## Category
BUG

## Detailed Bug Report
At the moment Windoors can only be opened by clicking on them, but not by just walking against them.
However, it should also open (just as the normal doors do)

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Place a Windoor on the map via the Tile Palette
2. Start the game
3. Walking against the Windoor

[2019-01-23 22:48] krille90 opened #1456 "Change Respiratory system to use Atmos & add pressure damage from atmos to body parts B: 40"
## Category
TODO

## Description
At the moment, the respiratory system only uses a simple space check to see if the player is breathing or not. This should be changed to be based on atmos values at the current position, i.e. checking pressure, oxygen in the air. Additionally, it should use up some small amount of oxygen and give back CO2.

## Criteria

- [x] The respiratory system only uses a simp

[2019-01-24 01:21] #1451 closed, assigned to krille90

[2019-01-24 04:35] DooblyNoobly commented on #1454
All yours, changing to in progress

[2019-01-24 04:38] DooblyNoobly commented on #1456
Criteria:
- The respiratory system only uses a simple space check to see if the player is breathing or not. This should be changed to be based on atmos values at the current position, i.e. checking pressure, oxygen in the air
-  It should use up some small amount of oxygen and give back CO2
- Should only happen on the server and details shared with relevant client
- Additionally low pressure shoul

[2019-01-24 04:39] DooblyNoobly commented on #1453
Bounty of 50 usd will be awarded to the contributor on a successful merge of all completed criteria above

[2019-01-24 04:40] DooblyNoobly commented on #1453
Might require a job for the new damage component.

[2019-01-24 04:41] DooblyNoobly commented on #1449
Bounty of 20 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-01-24 04:42] DooblyNoobly commented on #1444
Bounty of 20 usd will be awarded to the contributor on a successful merge of a solution to the reported bug

[2019-01-24 04:44] DooblyNoobly commented on #1327
Increased bounty from 25 to 45

[2019-01-24 04:45] DooblyNoobly commented on #1278
Bounty of 15 usd will be awarded to the contributor on a successful merge of a solution to the reported problem

[2019-01-24 04:47] DooblyNoobly commented on #1272
Bounty of 15 usd will be awarded to the contributor on a successful merge of a solution to the reported problem

[2019-01-24 04:48] DooblyNoobly commented on #1416
Bounty of 30 usd will be awarded to the contributor on a successful merge of a suitable solution to the reported problem

[2019-01-24 04:51] DooblyNoobly commented on #948
Bounty of 70 usd will be awarded to the contributor on a successful merge of all completed criteria above

[2019-01-24 04:53] DooblyNoobly commented on #816
edited: no longer a bounty

[2019-01-24 12:20] krille90 commented on #1456
afaik high pressure will also cause brute damage

[2019-01-24 18:30] Crow-Control commented on #852
@chairbender in regards to 1:
It could be that it's part of default unity behaviour, as far as I remember it there is no code written by @krille90 that should act this way.

[2019-01-24 18:32] Crow-Control commented on #816
@DooblyNoobly Wouldn't it be prudent to just add this to the health rewrite?

[2019-01-24 18:33] Crow-Control commented on #816
Whoops I'm wrong here, you already finished the refactor, in that case it could/should be added to the medical role project.

[2019-01-25 06:20] chairbender commented on #1405
Might be related to #1237, I am noticing some quirks related to rotation logic

[2019-01-26 00:36] christmoore commented on #1455
To whoever takes it. It has to do with the Register Door script on the WinDoor prefab, specifically the code logic for One Direction Restricted boolean value. Setting *One Direction Restricted* tag to false causes this door to operator as normally - albeit in all four directions which isn't the intended usage.

It's beyond my skills to really contribute any further, but I am interested in the solu

[2019-01-26 02:54] christmoore commented on #1455
@krille90  What is the intended use case for these? Are they supposed to be one-way? Also how are they supposed to be oriented for the enter - exit position? In the gif above is the south side the entrance? or northern

[2019-01-26 13:27] JaytleBee commented on #1455
I've done some investigating here and it seems that the calculation part (line 38) is correct (though I still don't really understand how that works), but the position handed as a parameter is wrong. I've managed to get it working correctly when entering the door tile, but leaving the door tile is a bit trickier (IsPassableAt is a mess!). I'll keep working on it though.

@MrMepper As seen on /tg/s

[2019-01-26 15:48] christmoore commented on #1455
I'm excited to hear how you resolve this!

[2019-01-26 17:34] JaytleBee commented on #1416
I'll have a look at this one

[2019-01-26 18:40] #1455 closed, assigned to nobody

[2019-01-26 18:50] chairbender opened #1464 "Tooltip doesn't show up when mousing over UI"
# Description
Mousing over UI doesn't show the tooltip for the items being moused over in the player's inventory. It should show the tooltip for whatever item is moused over.

## Steps to Reproduce
1. Launch in editor and host.
2. Mouse over an item in the inventory
3. Note that the tooltip on the bottom left doesn't change to show what is moused over.

![mouseover](https://user-images.githubuserc

[2019-01-26 19:41] chairbender opened #1465 "Moving diagonally into a windoor doesn't cause it to open"
# Description
You can bump into a windoor from straight on in order to open it, but this same thing doesn't work when bumping diagonally. Windoor should open even when you bump into it diagonally

## Steps to Reproduce
1. Host game in editor.
2. Go to the kitchen where there's a windoor.
3. Try moving into / out of it diagonally.
4. Verify that it doesn't open.

[2019-01-26 19:52] JaytleBee commented on #1465
As mentioned in #1463 I strongly suspect that this is the cause of the problem (from isPassableTo in RegisterDoor.cs):
[code]

[2019-01-26 21:49] christmoore commented on #1437
I've got this nearly complete. Assign?

[2019-01-26 21:50] DooblyNoobly commented on #1437
all yours

[2019-01-26 22:00] chairbender commented on #1405
Let me know if anyone experiences this (once #1466 is merged). I am hopeful that my changes will fix this issue. Or else it is already fixed due to something else.

[2019-01-26 22:41] christmoore commented on #1437
# Changes to ShutterController Animator

## FROM
![image](https://user-images.githubusercontent.com/8658239/51793597-6f6a0a00-2188-11e9-8069-d39a8872a022.png)

## TO
![image](https://user-images.githubusercontent.com/8658239/51793594-6b3dec80-2188-11e9-9831-cfab7d16f8fb.png)

The new 04_shutterClosed and 04_shutterOpen are determined at game start by the IsClosed empty state, which checks the valu

[2019-01-26 22:42] chairbender opened #1467 "Improve the appearance of rotated things"
# Description
In ss13, sprites for objects always appear upright regardless of how the matrix / object is rotated. But in unitystation, currently we rotate the sprite based on how the matrix is rotated. This looks a bit weird and makes the game less legible.

You can see this by spawning as syndicate, going up to the ship controls, and using the arrows to rotate the ship. You can also see this by

[2019-01-26 22:49] chairbender commented on #1467
Planning to work on this after my current issue, but anyone else can feel free to take it on. I'll update it when I'm starting it if nobody else takes it.

[2019-01-27 02:02] DooblyNoobly opened #1469 "TODO: Turn off lightingsystem on headless server"
# TODO:

Use the GameData.IsHeadlessServer bool to determine if instance is running in headless mode and if it is then disable the LightingSystem

This will fix the server error:
`1/27/2019 12:15:24 AM: RenderTexture creation failed. 'Default' is not supported on this platform. Use 'SystemInfo.SupportsRenderTextureFormat' C# API to check format support. Error 1/27/2019 12:15:24 AM: NullReferenceEx

[2019-01-27 02:39] #1237 closed, assigned to chairbender

[2019-01-27 03:04] #1437 closed, assigned to nobody

[2019-01-27 09:27] fomalsd commented on #630
Still not fixed on latest steam build

[2019-01-27 09:33] Crow-Control commented on #630
Strange it seems to be randomly there and not-there...
We thought it fixed multiple times now and it has come back every time.

Maybe some race condition?

[2019-01-27 10:22] #1452 closed, assigned to krille90

[2019-01-27 12:18] krille90 opened #1472 "Make Debug log in Builds more usable"
## Description
Currently the Debug log in builds (press F5) isn't scrollable, which makes not so nice to work with.
This should be improved for better debugging.

[2019-01-27 12:30] #1416 closed, assigned to nobody

[2019-01-27 15:38] fomalsd commented on #1472
also colour coding would be nice to have (Trace = light gray, Info = white, Warning = yellow, Error = red)

[2019-01-27 18:17] krille90 commented on #1456
Will try my luck on this one

[2019-01-27 18:17] krille90 commented on #1453
Is there something in the working?

[2019-01-27 18:56] JaytleBee commented on #1472
Writing the log to the disk would be killer (for crashes and cross-referencing, etc.)! Also, I hate to nitpick but isn't this more a feature than a bug?

[2019-01-27 18:59] christmoore commented on #1472
I would recommend rather than using the in-house console that we utilize one of the unity assets that are available for this. The more popular one from looking at a few stackoverflow posts is the [Unity Log Viewer](https://github.com/aliessmael/Unity-Logs-Viewer/). Version 1.7 compiles correctly for the current project, and has a lot more utility than the one we currently have.

Basically the only

[2019-01-27 22:25] DooblyNoobly commented on #1453
@krille90 I didn't get a chance to create a TODO for it yet. Havent even had a chance to design the component either. Feel free to do it before I do, I won't get a chance for a few days now.

[2019-01-27 22:32] DooblyNoobly commented on #1472
@MrMepper not bad, it feels like a bit of overkill though. We just want something simple that takes up only 1/3 to 1/2 of the screen when active. I think what we have already is sufficient enough, all we need to do is add a scroll bar to the scrollrect and throw in some color tags to the different errors.

I've been laying out the console so that eventually we can add an input field at the bottom

[2019-01-27 23:51] Jibbajabbafic opened #1474 "Character spins when clicking same spot"
# Description
When clicking in the same spot multiple times your character will change direction instead of facing the same way.

I suspect this has to do with the changes to rotation that were made in #1466.

## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Click above/below/left/right of your character to face a different

[2019-01-28 02:15] #1474 closed, assigned to chairbender

[2019-01-28 03:24] christmoore commented on #1472
I'll take a crack at this!

Also final note, I've also found [this debug console](https://github.com/yasirkula/UnityIngameDebugConsole) which I've tested as well. I feel it's a lot less overkill, and it also has the functionality requested, as well as a method for providing input already built into it.

What it does is it sits on the screen for the build as a notification window.

![image](https:/

[2019-01-28 04:01] DooblyNoobly commented on #1472
I like that version much better. Looks like it is MIT as well. Go ahead and replace old one with that. Make sure that it is only visible when you press f5 and it can also be hidden by pressing f5 again.

[2019-01-28 04:35] christmoore commented on #1472
Great! Assign it over and I'll begin the changes tomorrow.

[2019-01-28 04:49] #1449 closed, assigned to chairbender

[2019-01-28 05:14] #1364 closed, assigned to nobody

[2019-01-28 06:56] fomalsd opened #1477 "NRE @ headless server when initiating pull"
# Description

## Category
BUG

## Detailed Bug Report
<img width="1366" alt="scr 2019-01-28 9 52 15" src="https://user-images.githubusercontent.com/10403536/51819141-6d1bc300-22e2-11e9-9180-654f202e05dd.png">
Pulling works normally except you cannot release things you're pulling aside from pushing them away (if they're solid). Can pull multiple things at once.

## Steps to Reproduce
Please enter

[2019-01-28 07:52] #630 closed, assigned to nobody

[2019-01-28 12:48] fomalsd opened #1478 "Picking up items is problematic on moving ships"
# Description

## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
![gif](https://user-images.githubusercontent.com/10403536/51837250-c09a0b00-22fa-11e9-98fa-155ab0623a35.gif)
1. Join as cargotech, get in the shuttle
2. Start moving with max speed
3. Try to pick up screwdriver

[2019-01-28 17:14] fomalsd opened #1480 "SoundNetworkActions are unsecure and unreliable B: 50"
# Description

## Category
TODO

## Detailed Bug Report
Current implementation of networked sounds allows playing arbitrary sounds at any provided position.
Also it uses RPC, which is unreliable and won't guarantee that sound will be played.
https://github.com/unitystation/unitystation/blob/3dde1b020873ae6011fb6ea583fa66036db35714/UnityProject/Assets/Scripts/Sound/SoundNetworkActions.cs#L7-L10
Plu

[2019-01-28 17:21] JaytleBee commented on #1480
Do you have a source for that? I'm not a unity expert but I went through a few pages of google results and all of them indicated that ClientRpc calls are sent on channel 0 by default, which is reliable. Though I *really* don't know much about this, so please do correct me if I'm wrong. [Source (kinda)](https://docs.unity3d.com/Manual/UNetActions.html)

[2019-01-28 17:31] fomalsd commented on #1480
@JaytleBee RPC always uses UDP despite explicit "channel=0" setting, which is likely a bug that has never been fixed in uNet. We encountered this a lot when using RPC in health, position (including PushPull), UI updates, it always turned out wonky. It was also hard to reproduce these bugs because they were rare and random, mostly only popping up in real playtests. After rewriting these systems int

[2019-01-29 03:36] chairbender commented on #1469
got held up fixing some perf issue I caused, now I can look at this

[2019-01-29 16:09] fomalsd opened #1484 "Try splitting code into separate assemblies"
# Description
Try splitting
- Network (messages etc)
- UI (tabs etc)
- Tilemaps (+Atmos)
- Transform (CNT, MatrixMove)
- Electricity
- Health
- Sound (+TTS)

into separate assemblies using [asmdef](https://docs.unity3d.com/Manual/ScriptCompilationAssemblyDefinitionFiles.html) and see how it affects compile time

[2019-01-29 16:44] chairbender commented on #1469
@DooblyNoobly give the PR a try: #1485

[2019-01-29 16:48] chairbender commented on #1405
This definitely still happens:

![randomrotation](https://user-images.githubusercontent.com/1329062/51924820-98fe7d80-23a2-11e9-9eea-c629a6a82df9.gif)

[2019-01-29 22:12] #1469 closed, assigned to chairbender

[2019-01-30 00:56] Bod9001 commented on #1362
One thing to say is,  When in melee combat + A lot of running around It shouldn't trigger when you're moving your mouse around and clicking to hit somebody,
Since that's quite a frustrating byond issue

Not quite sure how you would prevent that?

[2019-01-30 02:36] christmoore commented on #1484
I'd like to take a whack at this. Seems simple enough

Just for clarification - when we refer to compile time, are we talking about time to build? Time from clicking play and running from editor mode? I'm new to unity so I need to understand what's being referred to here.

[2019-01-30 10:08] fomalsd commented on #1484
`Time from clicking play and running from editor mode`
Yes, exactly

[2019-01-30 20:30] #1433 closed, assigned to fomalsd

[2019-01-31 07:36] fomalsd commented on #1268
~~Turning off physics2d seems to fix this:~~
![default](https://user-images.githubusercontent.com/10403536/52038604-a6df0a80-252a-11e9-8ee2-fc51fa0816e6.png)
Before:
![default](https://user-images.githubusercontent.com/10403536/52038632-c0805200-252a-11e9-87ce-5fa9502db1a7.png)
After:
![default](https://user-images.githubusercontent.com/10403536/52038661-c6763300-252a-11e9-802b-ddd1d64219e4.png)
I

[2019-01-31 08:10] fomalsd opened #1488 "Refactor ItemFactory into hassle-free universal item/prefab spawn system B: 100"
## Category
TODO

## Details

Refactor ItemFactory into either universal static factory and/or implement custom constructors for scripts, so that all spawned items would just work (have all parameters correct on both server and clientside)
That will help create a convenient in-game item spawner later on (and maybe even allow drawing items with tilemap tools in runtime).

As @chairbender mentioned

[2019-02-03 22:19] #1465 closed, assigned to nobody

[2019-02-04 04:07] chairbender opened #1494 "Clients can't do any damage when shooting"
# Description
When firing a weapon as client, the shots don't seem to do any damage. Server is able to damage, but client isn't able to.

## Steps to Reproduce
1. Host in editor, join as client from standalone.
2. Pick up a gun as client and try to shoot.
3. Notice that shots don't do any damage. The following exception shows up in the host logs:
NullReferenceException: Object reference not set to

[2019-02-04 22:38] DooblyNoobly opened #1496 "Bug Discovery Bounty (B: 30 for 3 x Bug Reports)"
# Description
For the next 2 weeks we are focusing on finding and resolving as many bugs as possible before pushing on with the rest of the 0.4 scope. For every 3 bugs found we will pay out a bounty of 30usd.

## TODO
This is very simple. Locate and report 3 bugs by making detailed issues on our GitHub and you will receive the bounty. Please post links to your bugs in the comments below. If you ar

[2019-02-05 00:28] DiscountVee opened #1497 "Unity Editor Crash Bug B: 90"
# Description

## Category
BUG or TODO?
BUG
## Detailed Bug Report
I got the files from github and tried to open them with unity. Unity did not find the lobby executable. So I went into the folder and found it, and closed unity, then I launched it. It turned on unity but did nothing, so I closed Unity and executed it again. It was loading all the files and when it was done loading, it crashed.
##

[2019-02-05 01:31] hecksadecimal opened #1498 "Missing map objects and crash after round restart"
# Description
After allowing a round to run to the end of the timer and then restarting, various map objects disappear in the new round. A few minutes later unitystation crashes.

## Category
BUG

## Detailed Bug Report
**Build**: https://github.com/unitystation/unitystation/commit/d5b56271e1390db3337adb9171770526b01901d5
**Unity Version**: 2018.3.4f1Personal
OS: Windows 10 Pro x64

**output_log.t

[2019-02-05 01:36] DiscountVee opened #1499 "Mashing the start button on the nuke ops shuttle ui makes it phase through walls"
# Description
When I mash the start button on the shuttle control for nuke ops, the entire shuttle phases through walls
## Category
BUG

## Detailed Bug Report
The nuke ops computer ui, to control the shuttle if you push the lever forwards to fly, and then start mashing the start button when you bump the station, your shuttle start phasing through walls
## Steps to Reproduce
Please enter the steps

[2019-02-05 01:37] DiscountVee commented on #1499
![screenshot 2019-02-05 02 33 35](https://user-images.githubusercontent.com/28511784/52248468-f63c8680-28ee-11e9-8def-5b26ffc85e57.png)

[2019-02-05 01:47] hecksadecimal opened #1500 "Wires exposed under floor tiles via right click menu B: 25"
# Description
When right clicking on the floor, you are able to see where a wire is without first prying up the floor panel.

## Category
TODO

## Detailed Bug Report
**Build**: [d5b5627](https://github.com/unitystation/unitystation/commit/d5b56271e1390db3337adb9171770526b01901d5)
**Unity Version**: 2018.3.4f1Personal
OS: Windows 10 Pro x64

Can't really call this a bug on its own, an implementati

[2019-02-05 01:53] DiscountVee opened #1501 "Selecting a color for facial hair and normal hair locks the menu"
# Description
Selecting facial hair color as a female sex will lock you into the color panel, unable to click anything else
## Category
BUG

## Detailed Bug Report
If you select the facial hair color selector, pressing cancel or apply does not work, and you cannot click on anything else
## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. click on character setup
2. C

[2019-02-05 02:00] hecksadecimal opened #1502 "Shuttle rotations not collision checked B: 120"
# Description
When a shuttle is in a position where rotating it would merge it with a wall, it is able to rotate anyway

## Category
BUG

## Detailed Bug Report
**Build**: [d5b5627](https://github.com/unitystation/unitystation/commit/d5b56271e1390db3337adb9171770526b01901d5)
**Unity Version**: 2018.3.4f1Personal
OS: Windows 10 Pro x64

![nice](https://user-images.githubusercontent.com/20251491/522

[2019-02-05 02:05] DiscountVee commented on #1496
https://github.com/unitystation/unitystation/issues/1501  https://github.com/unitystation/unitystation/issues/1499 https://github.com/unitystation/unitystation/issues/1497

[2019-02-05 02:16] hecksadecimal opened #1503 "Welding fuel tanks and atmos canisters cannot be grabbed and dragged B: 25"
# Description
The welding fuel tank can be pushed around, and trying to grab it causes the grab sound to play, but you are unable to pull the object.

## Category
BUG

## Detailed Bug Report
**Build**: [d5b5627](https://github.com/unitystation/unitystation/commit/d5b56271e1390db3337adb9171770526b01901d5)
**Unity Version**: 2018.3.4f1Personal
OS: Windows 10 Pro x64

This is a pretty critical featur

[2019-02-05 02:24] hecksadecimal commented on #1496
#1503 #1502 #1500 #1498

[2019-02-05 02:47] DiscountVee opened #1504 "Opening and closing lockers on your character make you lose 02 B: 35"
# Description
Opening and closing lockers while you're inside them makes you get o2 signal for suffocation
## Category
BUG

## Detailed Bug Report
If you stand in a locker and then click on the locker fast to open and close you will get an o2 signal and start suffocating.
## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Open a locker and stand in it
2.Start clickin

[2019-02-05 02:51] hecksadecimal opened #1505 "Add ability to switch intent by clicking specific icons B: 25"
# Description
When you click on an intent square it only cycles your intent instead of selecting the intent you're attempting to click on.

## Category
TODO

## Detailed Bug Report
**Build**: [d5b5627](https://github.com/unitystation/unitystation/commit/d5b56271e1390db3337adb9171770526b01901d5)
**Unity Version**: 2018.3.4f1Personal
OS: Windows 10 Pro x64

In tg codebases you are able to click on a

[2019-02-05 02:52] DiscountVee commented on #1501
actually male or female it does that

[2019-02-05 02:53] DiscountVee commented on #1501
AND IT WORKS WITH ALL HAIR

[2019-02-05 02:56] hecksadecimal opened #1506 "Player can chat in crit"
# Description
Trying to talk while you're in crit shows the dialogue bubble

## Category
BUG

## Detailed Bug Report
**Build**: [d5b5627](https://github.com/unitystation/unitystation/commit/d5b56271e1390db3337adb9171770526b01901d5)
**Unity Version**: 2018.3.4f1Personal
OS: Windows 10 Pro x64

Under no circumstances should someone be able to talk while they are in critical condition. If this actual

[2019-02-05 03:04] DiscountVee opened #1507 "Player variable speed support + ability to toggle walk and run B: 90"
# Description
Walk and run switch does not slow you down when you switch to walk
## Criteria

- [ ] Add variable speed support for PlayerSync
- [ ] Add support for walk/run switching
- [ ] Add ability to crawl in crit

## Detailed Bug Report
If you click on the walk/run button you don't slow down or speed up
## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Go into

[2019-02-05 03:07] hecksadecimal commented on #1496
#1506 #1505

[2019-02-05 03:12] DiscountVee opened #1508 "Holding a piece of clothing in hand and clicking anywhere starts saying [Inventory] Slot is full! even if said slot is not full B: 25"
# Description
Holding a piece of clothing in hand and clicking anywhere starts saying [Inventory] Slot is full! even if said slot is not full
## Category
BUG

## Detailed Bug Report
Holding a piece of clothing in hand and clicking anywhere starts saying [Inventory] Slot is full! even if said slot is not full. Whether it is suit or hat, doesnt matter
## Steps to Reproduce
Please enter the steps to

[2019-02-05 03:15] DiscountVee commented on #1496
https://github.com/unitystation/unitystation/issues/1507 https://github.com/unitystation/unitystation/issues/1508 https://github.com/unitystation/unitystation/issues/1504

[2019-02-05 03:25] hecksadecimal opened #1509 "Enable TTS in Game Options is transient"
# Description
Game volume and zoom level are saved between game runs but Enable TTS is not

## Category
BUG

## Detailed Bug Report
**Build**: [d5b5627](https://github.com/unitystation/unitystation/commit/d5b56271e1390db3337adb9171770526b01901d5)
**Unity Version**: 2018.3.4f1Personal
OS: Windows 10 Pro x64

This client preference should be saved so it can be loaded in subsequent runs, saving the p

[2019-02-05 03:32] hecksadecimal opened #1510 "Add ability to open radio chat and department chat with keybindings"
# Description
When attempting to local chat, no text is displayed. Radio and department chat buttons do not even bring up the text entry box.

## Category
TODO
## Detailed Bug Report
**Build**: [d5b5627](https://github.com/unitystation/unitystation/commit/d5b56271e1390db3337adb9171770526b01901d5)
**Unity Version**: 2018.3.4f1Personal
OS: Windows 10 Pro x64

This one seems pretty critical. Unsure a

[2019-02-05 03:42] hecksadecimal opened #1511 "Welding Fuel Tank has two 'pull' entries B: 25"
# Description
Right clicking on a welding fuel tank shows dual entries for the pull action. One of them, the default for the pull hotkey, does not work.

## Category
BUG

## Detailed Bug Report
![image](https://user-images.githubusercontent.com/20251491/52251903-7baf3f00-28cd-11e9-91f7-d63a7b6dfb75.png)

Related to #1503

## Steps to Reproduce
Please enter the steps to reproduce the bug or behavio

[2019-02-05 03:43] hecksadecimal commented on #1496
#1509 #1510 #1511

[2019-02-05 03:47] DooblyNoobly commented on #1510
`When attempting to local chat, no text is displayed.` can I get a little more detail here. So chat box popped up and you typed in some text but nothing showed up on the left in the chat window? Also did you notice any critical errors in console?

[2019-02-05 03:48] DooblyNoobly commented on #1510
`Radio and department chat buttons do not even bring up the text entry box.` which buttons?

[2019-02-05 04:09] hecksadecimal commented on #1510
Default binding for Radio chat is 'Y' and the default for Department chat is 'U'. They don't bring up anything, but pressing 'Enter' or 'T' brings up the localchat text entry. Typing something there and pressing enter doesn't add anything to the text box in the top left, but it does cause the small speech bubble indicator to appear over the character's head.

What I mean by the text not displaying

[2019-02-05 04:10] DooblyNoobly commented on #1510
Are you on latest develop?

[2019-02-05 04:11] hecksadecimal commented on #1510
Yes.

[2019-02-05 04:11] DooblyNoobly commented on #1510
Ok thanks

[2019-02-05 04:19] DiscountVee opened #1512 "pressing E and clicking on a cloth slot dupes the icon B: 25"
# Description
If you press E and click fast on a clothing slot, the icon of the clothing in question duplicates
## Category
BUG

## Detailed Bug Report
If you mouse over and click on an equipped piece of clothing, then start mashing E and clicking, the item duplicates, one remains in your hand and the other on your character
## Steps to Reproduce
Please enter the steps to reproduce the bug or beha

[2019-02-05 04:25] DiscountVee opened #1513 "Red Error when you try dragging a plasma canister that starts lagging your game B: 25"
# Description
Red Error when you try dragging a fuel canister that starts lagging your game
![screenshot 2019-02-05 05 22 52](https://user-images.githubusercontent.com/28511784/52253119-54289880-2906-11e9-89ae-9f33e9d9357b.png)

## Category
BUG

## Detailed Bug Report
When you try to move a canister, a red error appears, as seen in the screenshot, freezes your game and then lags it every time you

[2019-02-05 04:31] DiscountVee opened #1514 "Getting stuck on the cargo shuttle thrusters B: 25"
# Description
As a character, if you approach and touch
## Category
BUG

## Detailed Bug Report
If you as a character approach the quartermasters shuttle engines, and touch them, you are stuck to them you cant move, but you can throw an item and itd push you as if you're in space, doesnt work if you're vertically adjacent to the thrusters though, like in this screenshot
![screenshot 2019-02-05 05

[2019-02-05 04:35] DiscountVee commented on #1496
https://github.com/unitystation/unitystation/issues/1514 https://github.com/unitystation/unitystation/issues/1512 https://github.com/unitystation/unitystation/issues/1513

[2019-02-05 04:38] DooblyNoobly commented on #1496
Ok thank you all for the submissions. We are putting this bounty on hold now to go through and plan bounties to actually fix them. Will announce when this job is posted again.

[2019-02-05 04:39] #1496 closed, assigned to nobody

[2019-02-05 16:27] NinjaDanz3r commented on #1454
Talked with Carbonhell and I'm shanghaiing this task.
Quick mockup of the Valve:
https://imgur.com/Zp9bN7d

[2019-02-05 23:24] chairbender commented on #1405
I am only noticing this when I get the "black text issue" in the editor as server (lobby text shows up black rather than white), which apparently means something went wrong with unity / the build and isn't really caused by our code.

[2019-02-05 23:47] chairbender commented on #852
1 seems to be fixed after upgrading to unity 2018.3

[2019-02-06 00:19] chairbender commented on #1498
for me, it crashes immediately on round restart when running as host in editor

[2019-02-06 00:59] chairbender commented on #1498
Nvm, that is due to a DIFFERENT issue (crashing when loading outpoststation). Once I git reset --hard, I could reproduce this issue as described.

[2019-02-06 01:28] #1467 closed, assigned to chairbender

[2019-02-06 01:38] #1498 closed, assigned to chairbender

[2019-02-06 01:43] Bod9001 commented on #1514
this looks like Collision not counting them as station so The game thinks you're floating in space

[2019-02-06 05:42] DiscountVee commented on #1514
Well if it'd count it as me being in space, when id throw items it would make me fly in the oppposite direction and it doesnt

[2019-02-06 22:28] Jibbajabbafic commented on #1510
This is my bad, I added keybindings for radio chat and department chat but didn't add the functionality to the chat

[2019-02-06 22:32] #1456 closed, assigned to krille90

[2019-02-06 22:38] #1472 closed, assigned to nobody

[2019-02-06 23:06] Jibbajabbafic commented on #1510
Local chat with T works fine, I'm gonna have a look into adding the other functionality

[2019-02-07 04:58] chairbender commented on #1478
Assigning this to me as it seems to be related to the issues in #1125

[2019-02-07 06:01] chairbender commented on #1494
adding myself to this because I think I see the issue and will fix it in my next PR if so

[2019-02-07 06:09] Fishfish458 commented on #1444
Going to attempt this one

[2019-02-07 12:37] Jibbajabbafic opened #1519 "Add ability to toggle internals B: 35"
# Description
The button on the right side of the UI should toggle your internals on and off when clicked, and show the corresponding state. Currently your internals are always on if you have a mask and a tank in your suit storage, regardless of the button state.

![image](https://user-images.githubusercontent.com/4493127/52411868-0a41dd00-2ad5-11e9-94af-4919a000b8a4.png)

## Category
TODO

[2019-02-07 18:37] NinjaDanz3r commented on #1454
![gastankui mockup](https://user-images.githubusercontent.com/10200316/52434538-d6d07400-2b0f-11e9-8714-8c7759310730.png)
A quick mockup of the whole interface.

[2019-02-07 18:59] chairbender opened #1521 "Various MatrixMove Issues"
# Description
There are a few various MatrixMove issues that need fixing.

1. When FPS is low enough, chairs don't complete rotation and end up at a non-90 degree angle. Apparently this can be reproduced in editor by going into the cargo shuttle and turning on atmospheric overlay which displays the O2 levels.
2. Drag a lockerful of items onto cargo shuttle and open it. Objects fly away when you st

[2019-02-07 19:39] Jibbajabbafic commented on #1454
Remember, all this will need to be synced across clients using NetObjects (NetSlider, NetToggle... etc) so you might need to make a new one for the valve depending on how it's being implemented

[2019-02-07 19:55] #1125 closed, assigned to chairbender

[2019-02-07 19:55] #1478 closed, assigned to chairbender

[2019-02-07 19:55] #1494 closed, assigned to chairbender

[2019-02-07 21:15] chairbender commented on #1521
3 is simply a visualization issue, fixing the way it draws those numbers shows that the values stay with the rotated matrix as expected

[2019-02-07 21:20] chairbender commented on #1521
The above gif barely shows issue 1 - see how the chair legs are slightly jaggy as the chairs are ever-so-slightly rotated off of 90 degrees

[2019-02-07 22:35] krille90 commented on #1442
I think this is done now, right?

[2019-02-07 22:51] DooblyNoobly commented on #1442
@krille90 are the optimizations done for atmos?

[2019-02-07 22:51] DooblyNoobly commented on #1442
CPU criteria done for task 1: #1489

[2019-02-08 06:05] krille90 commented on #1442
As far as I can tell, but I will doublecheck later.

[2019-02-08 11:05] #1098 closed, assigned to DooblyNoobly

[2019-02-08 17:32] JaytleBee commented on #1429
So if the player disconnects, connects to another server (or clears his prefs) he loses the brain permanently? That doesn't really seem elegant to me. Perhaps going by IP would be somewhat better, though a truly elegant solution would probably require a trustworthy username (like ckeys)

[2019-02-08 18:25] JaytleBee opened #1525 "Improve upon the current TTS system"
# Description
The way TTS currently works is that every client connected to a server with TTS enabled sends a request to the server at unitystation.org to request an audio file of the chat line. This is not only a system with a single point of failure, but it's also not scalable. The more developers and players we get, the worse the situation becomes. This is obviously not ideal.

I talked about t

[2019-02-08 19:17] fomalsd commented on #1525
we tried doing something with IKVM.net, but it didn't work out: it's discontinued and javax.sound.* is not supported at all:
https://sourceforge.net/p/ikvm/wiki/Limits/

[2019-02-08 19:26] chairbender commented on #1525
Yeah, we were thinking that we shouldn't need IKVM. Just run the server as a separate java process using the actual JRE. Will need some logic to handle initial setup / startup, and checking if Java is installed or bundling the JRE with the game, etc...but seems like it should be doable and cross platform.

[2019-02-08 21:32] Fishfish458 commented on #1511
I think this issue is actually related to #1513 and #1503 as well.
Both atmos_05 and weldingtank prefab have both a "push pull" script as well as an "object behaviour" script, object behaviour is an extension and is adding another pull method/running ctrl click twice

[2019-02-08 22:35] #1444 closed, assigned to nobody

[2019-02-08 22:48] krille90 opened #1527 "Door Access Denied Animation is wrong"
# Description

## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Walk with a role against a door without the right access rights
2. Wrong animation (first red, then green) plays

[2019-02-08 23:12] donovanhubbard commented on #1519
I can work this.

[2019-02-09 00:03] Jibbajabbafic commented on #1527
I definitely fixed this issue before and the prefabs were correct. I think the ones present on the map didn't get updated though so may need placing back down

[2019-02-09 01:32] Fishfish458 commented on #1512
I looked into this a little bit and this is happening when slots are being changed quickly no matter the method. It seems that items ARE still being moved but sometimes the sprite doesn't properly update(get removed) afterwards.

[2019-02-09 02:28] #1521 closed, assigned to chairbender

[2019-02-09 02:47] #1506 closed, assigned to nobody

[2019-02-09 03:00] chairbender commented on #1240
I can reproduce this, actually I see that the player's corpse is not even there on the clientside as of the latest develop.

[2019-02-09 12:51] #1527 closed, assigned to Jibbajabbafic

[2019-02-09 14:08] Jibbajabbafic opened #1532 "No bullet trails when firing guns, and no projectiles either"
# Description
When firing guns it appears no bullets or trails are being created.

## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Fire weapon at window
2. Notice no trails or bullets damaging it

[2019-02-09 14:21] Jibbajabbafic opened #1533 "Refactor how popup tabs are checked B: 25"
# Description
New popout tabs have to be placed into a hardcoded check to make them popout.

https://github.com/unitystation/unitystation/blob/f9c5597aac500808ad4d67615d89a69f6caab47c/UnityProject/Assets/Scripts/UI/ControlTabs.cs#L426

This isn't ideal because the tabs already have a `IsPopOut` variable to determine this,

![image](https://user-images.githubusercontent.com/4493127/52521815-e9b0890

[2019-02-09 14:47] NinjaDanz3r commented on #1454
I might as well do that, I think rotary controls might show up in a few other cases.
Also, new preliminary UI design according to input from Foma:
![gasui](https://user-images.githubusercontent.com/10200316/52522180-fe474e00-2c81-11e9-9a00-9ab172ca6af4.png)

[2019-02-09 15:29] chairbender commented on #1532
I probably just need to check in some meta files to fix this as it's working locally

[2019-02-09 16:17] chairbender opened #1534 "Shooting and meleeing windows doesn't do any damage B: 25"
# Description
When shooting or meleeing a window, no cracks appear. However, throwing DOES damage windows, and some windows on syndicate shuttle are damageable via melee.

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Host in editor.
2. Grab a gun.
3. Try meleeing and shooting a window and see that no cracks appear.

[2019-02-09 16:20] chairbender commented on #1532
opening this until someone else can confirm it's fixed

[2019-02-09 16:27] Jibbajabbafic commented on #1532
All good now!

[2019-02-09 16:27] #1532 closed, assigned to chairbender

[2019-02-09 16:40] Fishfish458 commented on #1395
I haven't been able to reproduce this one. I am starting as captain, using the nuke, waiting the 30 seconds and on spawn I still have features. This is after building though.

[2019-02-09 16:47] Jibbajabbafic commented on #1395
Have you started from Lobby or OutpostStation? That could make a difference

[2019-02-09 17:28] Fishfish458 commented on #1395
used build and run and tested, starting from lobby

[2019-02-09 18:18] fomalsd commented on #1395
certainly reproducible in editor:
https://files.catbox.moe/vbm9vk.mov

[2019-02-09 18:37] Fishfish458 commented on #1501
Working on this one

[2019-02-09 23:10] donovanhubbard opened #1539 "All characters are named 'Anonymous Spessman'"
# Description
All characters are named 'Anonymous Spessman' regardless of what character name is assigned.

## Category
BUG

## Detailed Bug Report
Make sure a player is still named 'Anonymous Spessman' if they attempt to connect without a valid name.

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Create a character
2. Join game

[2019-02-09 23:31] chairbender opened #1540 "Client ghosts cannot see each other and ghost can become stuck when corpse is destroyed B: 80"
# Description
2 client ghosts can't see each other. They should be able to see each other while they are both ghosts.

Additionally, if a player's body is destroyed with the knife and turned into meat, I think the ghost loses the ability to move.

## Steps to Reproduce
1. Host in editor. (You may want to increase the amount of time before a ghost respawns in order to make testing easier, I think y

[2019-02-09 23:35] donovanhubbard commented on #1539
Fixing this

[2019-02-09 23:41] chairbender commented on #1540
I would suggest possibly splitting ghost out so it is no longer a child of the player gameobject. Basically have the ghost be a separate player for all intents and purposes.

This will probably be a somewhat significant effort, but having it be separate will probably be a simpler approach in the long run.

Also this is kind of a low priority at the time of writing, since ghosts are something you o

[2019-02-09 23:51] fomalsd commented on #1525
Things to keep in mind:
"TTS is not really used much atm and bundling java+marytts would add like +100-150mb while compressed game is 60mb, plus it won't work for android+ios obviously"
Of course I'd **much** rather prefer a local solution, but please consider priorities and convenience, too

[2019-02-10 00:01] fomalsd opened #1541 "Window cracks remaining after window is broken B: 25"
# Description
In title

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Throw a weapon / heavy object on window till it breaks

![scr 2019-02-10 2 57 17 2019-02-10 02_58_58](https://user-images.githubusercontent.com/10403536/52527815-f61dfb80-2cdf-11e9-8c1d-41a5f33834ad.gif)

[2019-02-10 00:05] chairbender commented on #1541
window damage is a bit messed up right now, also see #1534

[2019-02-10 00:05] chairbender commented on #1534
window damage is a bit messed up right now, also see #1541

[2019-02-10 00:13] fomalsd commented on #1541
yeah, but I think this one has been around since tile damage has been first introduced (but it wasn't 100% reproducible until health refactor)

[2019-02-10 06:04] DooblyNoobly commented on #1541
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-10 06:05] DooblyNoobly commented on #1534
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-10 06:06] DooblyNoobly commented on #1533
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this request

[2019-02-10 06:06] DooblyNoobly commented on #1519
Bounty of 35 usd will be awarded to the contributor on a successful merge of a solution to this request

[2019-02-10 06:07] DooblyNoobly commented on #1514
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-10 06:09] DooblyNoobly commented on #1513
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-10 06:09] DooblyNoobly commented on #1512
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-10 06:10] DooblyNoobly commented on #1511
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-10 06:11] DooblyNoobly commented on #1508
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-10 06:12] DooblyNoobly commented on #1507
Bounty of 35 usd will be awarded to the contributor on a successful merge of a solution to this request

[2019-02-10 06:12] DooblyNoobly commented on #1505
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this request

[2019-02-10 06:13] DooblyNoobly commented on #1504
Bounty of 35 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-10 06:13] DooblyNoobly commented on #1503
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-10 06:15] DooblyNoobly commented on #1502
Bounty of 120 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-10 06:16] DooblyNoobly commented on #1500
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-10 06:17] DooblyNoobly commented on #1488
Bounty of 100 usd will be awarded to the contributor on a successful merge of a solution to this request

[2019-02-10 06:18] DooblyNoobly commented on #1395
Bounty of 35 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-10 06:28] Fishfish458 commented on #1511
I'll work on this one

[2019-02-10 06:28] hecksadecimal commented on #1541
Looking into fixing this.

[2019-02-10 07:59] fomalsd commented on #1507
Note that this would essentially require adding variable speed support for PlayerSync

[2019-02-10 10:06] DooblyNoobly commented on #1480
Bounty of 50 usd will be awarded to the contributor on a successful merge of a solution to this request

[2019-02-10 10:07] DooblyNoobly commented on #1507
After further assessment 90 usd will be applied to this bounty.

[2019-02-10 10:07] DooblyNoobly commented on #1386
Bounty of 50 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-10 13:33] #1541 closed, assigned to nobody

[2019-02-10 16:34] Fishfish458 commented on #1511
On second thought, someone else should probably take this one. I am not too familiar with object behaviour and pushpulls role but i know that was a recent one.

[2019-02-10 17:12] Fishfish458 commented on #1508
looking into this one now

[2019-02-10 18:03] Jibbajabbafic opened #1545 "Atmos can't handle NaNs"
# Description
If a `NaN` value is introduced into atmos somewhere it spreads to all other tiles, and changes their temperature, moles and pressure into `NaN` as well.

This can happen when a canister hasn't been assigned all values correctly and is then opened:
![image](https://user-images.githubusercontent.com/4493127/52537215-f4921900-2d5b-11e9-9c69-0b48687fec26.png)

Here is an example of it sp

[2019-02-10 18:14] #1539 closed, assigned to nobody

[2019-02-11 11:51] #1533 closed, assigned to nobody

[2019-02-11 12:01] fomalsd opened #1548 "Enabling "Local Positions" tick in Matrix Check spams NREs B: 25"
# Description
Enabling "Local Positions" tick in `Window` -> `Matrix Check` menu with gizmos enabled produces NREs every frame:
[code]

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Start game in editor
2. Make sure Gizmos are enabled
3. Enable "Local Positions" tick
![gif](https://user-images.githubusercontent.com/10403536/52561797-543c0300-2df4-11e9-81f2-481d

[2019-02-11 12:11] #1501 closed, assigned to nobody

[2019-02-11 12:13] fomalsd commented on #1507
Giving this a go

[2019-02-11 22:42] Fishfish458 commented on #1269
going to look into this one

[2019-02-12 11:52] #1508 closed, assigned to nobody

[2019-02-12 20:36] Fishfish458 opened #1550 "Inconsistent diagonal movement facing B: 25"
# Description
When moving diagonally, the direction the character is facing is inconsistent, such as when moving down + left or down + right, the character will face straight down when moving down + left and will face right when moving down + right

## Category
BUG

## Detailed Bug Report
up+left / down+left should = left face
up +right / down+right should = right face
if character is inhibited by

[2019-02-12 22:44] DooblyNoobly commented on #1497
I'm putting a large bounty on this one as it will take some time to figure out. Contributor will be rewarded with 90 usd on the successful merge of a solution.

I recommend first removing the SunVox library to see if that is the cause. Generally the best approach to an intermittent problem like this is to disable sections of the code until the bug goes away then you can narrow down where the probl

[2019-02-13 06:10] Itsnotjames commented on #1497
I had this issue until I restarted my computer. Now it works without any errors or crashes with no differences from the current branch.
I think this is a client-side issue and not with the project.

[2019-02-13 08:28] DooblyNoobly commented on #1497
I just removed all libs from plugins (sunvox, facepunch, WebSocketSharp) and the crash is still there. I'm thinking we look at Atmos thread next.

[2019-02-13 09:04] Jibbajabbafic commented on #1497
The editor you use doesn't affect it either. It could be specific to Win10 though, foma doesn't experience it with his Mac

[2019-02-13 16:06] fomalsd commented on #1446
See #816

[2019-02-13 16:07] Fishfish458 commented on #1446
I'm going to look into this one

[2019-02-14 11:26] Bod9001 commented on #1497
Maybe it's one of the 600+ warnings?

[2019-02-14 19:57] Bod9001 opened #1554 "UI elements like pockets and equipment slots don't return on respawn B: 25"
# Description
Only your hands slots  are present when you respawn

## Category
BUG

## Detailed Bug Report
This results in that you cannot access anything other than your two hands slots

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Spawn in
2.Kill self
3.respawn
4.Observe  the lack of UI

[2019-02-14 20:15] fomalsd commented on #1554
Indeed; it was introduced in #1551

[2019-02-14 21:12] krille90 commented on #1442
CPU and GC criteria of Atmos should be finished with PR #1555

[2019-02-15 01:49] DooblyNoobly commented on #1442
^ confirmed Task 3 complete

[2019-02-15 04:33] donovanhubbard commented on #1519
This is almost done, but I wanted to clarify. I'm storing the internals state in a boolean in Equipment, and it looks like the primary way to set server variables is through PlayerNetworkActions, so I've added

`[Command]
	public void CmdSetInternalsEnabled(bool internalsEnabled)
	{
		equipment.IsInternalsEnabled = internalsEnabled;
	}`

But what is the best way to read that variable? Do I have a

[2019-02-15 07:02] DooblyNoobly commented on #1519
You can turn IsInternalsEnabled into a SyncVar but you can't have it as a property. So change it back into a field. That way whenever the server updates it the value will change on the clients. It's not secure though as everyone can find out if someone has oxygen on if they write a script to peek on their client but for this I don't think that matters. Later we can turn it into a message if securi

[2019-02-15 07:12] fomalsd commented on #1519
@DooblyNoobly `IsInternalsEnabled` doesn't need to be syncvar, server shouldn't broadcast its value for anyone.
Above code looks correct. It's how I'd do it

[2019-02-15 07:16] fomalsd commented on #1519
@fuele also make sure to handle reset of internals button after respawn/restart, so that it doesn't become out of sync with server

[2019-02-15 12:59] fomalsd commented on #1497
I think it's been fixed in #1553

[2019-02-16 03:48] donovanhubbard commented on #1519
Where is the round restart/respawn logic?

[2019-02-16 13:27] #1505 closed, assigned to nobody

[2019-02-17 05:20] DooblyNoobly commented on #1497
Seems like the major crash bug has been fixed now. Closing

[2019-02-17 05:20] #1497 closed, assigned to nobody

[2019-02-17 22:15] #1503 closed, assigned to nobody

[2019-02-17 22:15] #1511 closed, assigned to nobody

[2019-02-17 22:15] #1513 closed, assigned to nobody

[2019-02-17 22:36] DooblyNoobly commented on #1554
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-17 22:36] DooblyNoobly commented on #1550
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-17 22:37] DooblyNoobly commented on #1548
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-17 22:38] DooblyNoobly commented on #1540
This is a bit of a complex bug so setting at B 50:

Bounty of 50 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-02-18 00:11] Fishfish458 commented on #1550
I'll look into this one

[2019-02-18 03:35] Fishfish458 commented on #1554
I'm going to look into this one

[2019-02-18 12:06] krille90 commented on #1269
Any progress?

[2019-02-18 12:58] Fishfish458 commented on #1269
I got a little distracted with another issue, but from what i tested i could only get it to None after the round ended, on restart it seemed to go back to local.

[2019-02-18 21:02] Jibbajabbafic commented on #1545
@krille90 has this been fixed in #1561 ?

[2019-02-19 08:11] #1550 closed, assigned to nobody

[2019-02-19 12:50] fomalsd opened #1566 "Bloodsplats blink at non-snapped position when spawning"
# Description

## Category
Annoyance

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Make yourself bleed and walk around, preferably slowly
2. Observe

![gif](https://user-images.githubusercontent.com/10403536/53016156-d48de400-3444-11e9-80b4-12753be143a9.gif)

[2019-02-19 17:40] Fishfish458 opened #1567 "Dying without crit state causes character to still be standing around"
# Description
if the death state is triggered before the player goes into crit, the player character will still be standing around

## Category
TODO

## Detailed Bug Report
The crit state uses methods to cause the character to drop that the death state does not,
death should be able to work independent of if the character goes into a crit state or not.

## Steps to Reproduce
Please enter the steps

[2019-02-19 21:57] #1519 closed, assigned to nobody

[2019-02-19 22:16] #1509 closed, assigned to nobody

[2019-02-20 04:25] Fishfish458 opened #1569 "If a ghost is revived, other ghosts will become invisible"
# Description
When multiple clients are ghost and one is revived, any other ghost's model will become invisible
## Category
BUG

## Detailed Bug Report
#1540 could possibly fix this issue if it's done correctly, adding in case there is no effect to it.

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. have two players die at near the same time
2. watch when 1st de

[2019-02-20 04:41] Fishfish458 commented on #1504
Sounds hilarious and I'll look into it

[2019-02-20 05:45] Fishfish458 opened #1571 "closing and opening a locker on yourself makes wall objects visible"
# Description
Player can see wall objects on the other side of walls after closing and opening a locker on themselves
## Category
BUG

## Detailed Bug Report
[example](https://imgur.com/uaL0Dij)
## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. get in a locker and close and open the door rapidly
2. notice some objects flicker into existence

[2019-02-20 08:26] fomalsd opened #1572 "Shuttle controls not working due to broken references"
# Description
ShuttleInteract triggers are missing ShuttleMatrixMove reference

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Join as cargotech and try clicking escape shuttle console

[2019-02-20 08:38] fomalsd opened #1573 "Vending machine can eject things on weird positions"
# Description

## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
It's not always reproducible, results are inconsistent.
Try clicking coffee machine in the main hall (host in editor)

![gif](https://user-images.githubusercontent.com/10403536/53075332-d0190800-34e4-11e9-9c04-ed81f744f23c.gif)

Likely has something to do with parenting.
When fixing please also make sure that it still wo

[2019-02-20 09:51] krille90 opened #1574 "Ingame debugging"
# Description
Currently, game logic is hardcoded and can't be controlled ingame. This is kind of annoying when developing and debugging.

A solution would be to add an ingame debug menu, maybe attached to the F5 menu.

## Required Features
- [x] Player respawning
- [x] Round restarting
- [x] Teleporting (to position, player, matrix, ...)
- [x] Role changing
- [x] Shuttle calling
- [x] Suicide
- [

[2019-02-20 10:05] Jibbajabbafic commented on #1574
Some other features that might be useful: heal/damage body parts, toggle damage taking (can be specific damage types, or all of them), object spawning (needs #1488), dummy player (and eventually NPC) spawning, taking control of different bodies and atmos gas spawning

[2019-02-20 10:10] Jibbajabbafic commented on #1574
If this is available to admins we'll also need kicking, banning (permanent and temporary), unbanning, permission changing and admin PM *bwoink*

[2019-02-20 10:12] Jibbajabbafic commented on #1574
Although it would be worth separating admin and debug menus at some point

[2019-02-20 15:35] #1554 closed, assigned to nobody

[2019-02-20 15:48] Fishfish458 opened #1576 "Swap and equip buttons incomplete"
# Description
There are currently swap and equip buttons that exist on the UIManager, they are set as non-active and they're not finished with texturing

## Category
TODO

## Detailed Bug Report
If this is being worked on, the two lines in the if statement in UIManager.cs - SetDeathVisibility
referring to swap and equip must be removed

## Steps to Reproduce
Please enter the steps to reproduce the

[2019-02-20 18:40] #1510 closed, assigned to Jibbajabbafic

[2019-02-20 21:54] krille90 commented on #1574
Yea, let's focus first on debug features

[2019-02-20 22:03] #1545 closed, assigned to krille90

[2019-02-20 22:13] Jibbajabbafic commented on #948
Some things addressed in #1568

Will attempt a couple more things

[2019-02-21 00:05] donovanhubbard commented on #1574
I actually started working on this yesterday. I put a suicide command in the in game debug menu. I'll get that polished off and committed.

[2019-02-21 02:15] DooblyNoobly commented on #1574
yep idea is to have them as admin commands that are typed into the console input. So good idea @fuele , make it so it's easy to add more commands in the future and make sure to check that its the Server / Host before allowing the command to be executed.

[2019-02-21 19:37] vlandemart commented on #1534
Going to look into this one

[2019-02-21 23:13] Fishfish458 commented on #1571
this bug was discovered while looking into #1504 and i'm starting to think the two are actually related to the same issue.

[2019-02-22 07:12] vlandemart commented on #1534
It is done for the most part. Still needs some tests and tweaking, expect it to be done today-tomorrow.
![image](https://user-images.githubusercontent.com/19672958/53225753-15c30580-368a-11e9-80b0-3c7bb7defd02.png)

[2019-02-22 19:26] #1507 closed, assigned to fomalsd

[2019-02-22 19:26] #1572 closed, assigned to fomalsd

[2019-02-22 22:58] #1534 closed, assigned to nobody

[2019-02-23 10:04] Jibbajabbafic opened #1580 "Job/occupation player slots don't update at all"
# Description
When you join it shows all roles are available, no matter if they have been taken already resulting in being able to have multiple captains on a station.

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Open 2 clients (build and editor)
2. Host with one and connect with the other
3. Join the station crew with both
4. Select a job on

[2019-02-23 10:54] fomalsd commented on #1580
You mean the crew counter? I think it stopped working at all

[2019-02-23 12:18] Bod9001 commented on #1429
Can't we use steam ID?
I suppose it would make it so we would have to rely on steam for account management And that would be a pain

[2019-02-23 13:11] Jibbajabbafic commented on #1429
We could use the account system that's in place already, unsure how secure it is but it'll do for now

[2019-02-23 22:49] #1548 closed, assigned to krille90

[2019-02-23 23:33] krille90 opened #1583 "Refactor Blood splats to spawn via the TMS"
# Description
Currently, blood splats are spawned via the EffectsFactory as single gameObjects.

In future, these should be spawned on the tile map system (TMS) via the TileChangeManager.

## To Do
- [ ] Create new blood tiles, that chooses from a random blood sprite
- [ ] Blood tiles should be segmented into small, medium and large (like before)
- [ ] Test if the sprites are the same on multiple

[2019-02-24 03:11] donovanhubbard commented on #1574
The groundwork for this has been laid in the in game debugger. Documentation for adding new commands is here. https://github.com/unitystation/unitystation/wiki/How-to-use-the-in-game-debugger

[2019-02-25 00:07] #1361 closed, assigned to nobody

[2019-02-25 08:36] fomalsd commented on #1583
keep this in mind:
- they should leave bloody footsteps when player steps on them
- if someone is shot in space, bloodsplats should probably still spawn with CustomNetTransform so they would move for some time before either disappearing in space or making station walls dirty

[2019-02-25 08:43] fomalsd commented on #1583
Also make sure it would still work with mop

[2019-02-25 22:46] #1278 closed, assigned to nobody

[2019-02-27 18:03] Fishfish458 opened #1588 "Rapid changes to power source breaks electricity"
# Description
When a power source is toggled quickly( power generator ) some electrical systems stop updating and toggles no longer change input status
## Category
BUG

## Detailed Bug Report
Some rooms still have their lights on while others don't, they still don't update on toggling slowly. APCS are all in the off state
## Steps to Reproduce
Please enter the steps to reproduce the bug or behavio

[2019-03-01 01:35] chairbender commented on #1567
assigning this to me because I think it overlaps with fixes I'm making in #1240

[2019-03-01 09:07] fomalsd opened #1591 "Mobile/touchscreen support bugs"
# Description
![image](https://user-images.githubusercontent.com/10403536/53626175-f6cdf180-3bfc-11e9-94ed-f944af10431d.png)
Here's a demo of game running on iOS with virtual gamepad that simulates key presses:
https://files.catbox.moe/520q9z.MP4

- Pressing gamepad buttons doesn't consume touch event (player always attempts to face your finger on gamepad), not reproducible w/mouse
- Touch presses

[2019-03-02 00:01] #1500 closed, assigned to nobody

[2019-03-02 05:47] Fishfish458 opened #1596 "Two players with help intention should trade places on push B: 50"
# Description
When two players have help intent, they should be able to pass each other by swapping places when either one or both are moving toward each other.

## Detailed Bug Report
[example](https://imgur.com/0mBmOTz)
Only when both players have help intent enabled should they be allowed to pass each other, any other intent on both parties should result in pushing. moving diagonally will not t

[2019-03-02 16:45] badbon opened #1598 "Weird oxygen behavior and "gasp" text broken."
# Description
Oxygen behaves very strangely in general. Sorry if I am missing something since I haven't looked into unitystation in a while, but.

* Turning on oxygen supply doesn't seem to do anything.
* "Gasp" text is broken, it doesn't stop whenever it gets triggered (see video below)

## Category
BUG

## Detailed Bug Report
Video describing the specific scenario I mentioned (P.S, doesn't matte

[2019-03-02 17:04] krille90 opened #1599 "open doors are not synced when joining a game B: 35"
# Description

## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Start server
2. stand in a door (server player)
3. join as a client
4. Server player stands in closed door (pov from client):

![image](https://user-images.githubusercontent.com/7312905/53685025-7353f380-3d15-11e9-8331-839edc4d2e0d.png)

[2019-03-02 19:44] Fishfish458 commented on #1598
as well, In multiplayer I've noticed that clients that are suffocating causes the host to gasp
![gasping](https://user-images.githubusercontent.com/47410468/53686779-44c42180-3cf1-11e9-88df-58f848980266.png)

[2019-03-02 22:26] fomalsd commented on #1598
Did you see this? Oxygen tank only works in this slot currently:
<img width="314" alt="scr 2019-03-03 1 25 01" src="https://user-images.githubusercontent.com/10403536/53688315-48889000-3d53-11e9-9f95-94274bd8c946.png">

[2019-03-02 22:29] fomalsd commented on #1598
And yeah, gasping chat message is called for serverplayer instead of one who's supposed to suffer

[2019-03-02 22:37] krille90 opened #1600 "Clients dont gasp"
# Description

## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Join as client player
2. go to a place without atmos
3. You are supposed to gasp, but you don't

[2019-03-02 22:45] krille90 commented on #1598
I dont think the gasping is a bug. From the video I would say that you were venting the syndie ship, so there isn't enough pressure left and the player starts to gasp.

[2019-03-02 22:57] krille90 opened #1601 "Tilemap changes are not synced on join"
# Description
See title

## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Destroy some windows
2. rejoin
3. Windows will look fine, but should actually be destroyed

[2019-03-03 05:41] Fishfish458 commented on #956
Attempting to look into this one now

[2019-03-03 06:05] badbon commented on #1598
Hm, I think it never stops though? haven't tested that properly. Will syndie ship get depressurized that fast? dunno.

[2019-03-03 06:08] badbon commented on #1598
I don't think I picked anything other than default syndie gear.

I assumed oxygen tanks were unimplemented because I managed to get oxygen display to toggle to "on".

[2019-03-03 13:46] Itsnotjames commented on #1580
The job slots update for me:

![itvcqcd](https://user-images.githubusercontent.com/28093344/53696001-68898380-3e27-11e9-87fd-143315bb3886.png)

Assistant:
![zofjhy3](https://user-images.githubusercontent.com/28093344/53696017-98388b80-3e27-11e9-8e2c-956cc308b662.jpg)

Bartender (full):
![wd8q5qr](https://user-images.githubusercontent.com/28093344/53696022-a7b7d480-3e27-11e9-9e75-153a34865001.png)

[2019-03-03 16:22] Jibbajabbafic commented on #1580
Did it update while it was open on the other client then?

[2019-03-03 16:23] Jibbajabbafic commented on #1580
Looks like the organisation selector is a bit messed up too, didn't notice that before

[2019-03-03 19:20] coolcat1711 commented on #1571
![image](https://user-images.githubusercontent.com/3880412/53700349-35aba500-3dbf-11e9-8425-ecbe43289afb.png)

Was able to pause and grab a screenshot in the frame before the player reappears after exiting a locker. Perhaps it has something to do with a lag in calculating what's visible to the player? A solution could be to have the player inherit visibility information from the locker on exit ins

[2019-03-03 20:53] donovanhubbard commented on #1249
Please make an interface or an abstract class for this so its reusable.

[2019-03-03 23:00] coolcat1711 commented on #1571
![image](https://user-images.githubusercontent.com/3880412/53703258-e6c13800-3ddd-11e9-9746-a8247131e68c.png)

The character ends up way down here during transition into and out of the locker, would explain both the suffocation damage since the character is in space for a moment, and also why wall items flicker into existence since the angle calculation for wall items would succeed. I haven't figu

[2019-03-04 06:57] #1240 closed, assigned to chairbender

[2019-03-04 06:57] #1567 closed, assigned to chairbender

[2019-03-04 07:15] #1601 closed, assigned to krille90

[2019-03-04 08:23] Fishfish458 opened #1606 "Hands always swap even if one item is interacting on another"
# Description
If you have two items in either hand and use them on each other, swapItem will still run, causing the item to change places if one disappears.
## Category
BUG

## Detailed Bug Report
I noticed this when changing how guns work. UI_InteractOtherSlot runs when an object or empty hand is used on an item. Regardless of what action happens, swapitem will still run.

It could be beneficial

[2019-03-04 09:37] Fishfish458 opened #1608 "ghost spawns at incorrect position when dying in a locker B: 30"
# Description
Ghosts currently spawn using the actual location of the player. if someone dies in a locker the ghost will spawn at 0,0,-100

This should be using objectBehaviour.AssumedLocation to grab it's location if they are inside another container.
## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. close a locker on yourself in space and obtain

[2019-03-04 13:00] fomalsd commented on #1591
**These were fixed by removing P3 profile.**
iOS Metal specific:
– space background is black
– FoV edge artifacts
![image](https://user-images.githubusercontent.com/10403536/53734930-4a4e7280-3e7d-11e9-93ad-b5989138da94.png)

[2019-03-04 21:19] chairbender commented on #1608
Would suggest working on #1540 first before this ticket.

there are quite a lot of issues with ghosts that should be mostly addressed in 1540.

[2019-03-04 21:22] chairbender commented on #1569
yeah, recommend working on #1540 first before this

[2019-03-05 03:38] ghost commented on #1272
Almost certain that #1586 fixes this by nature since the message isn't even sent to chat anymore.

[2019-03-05 08:02] Jibbajabbafic commented on #1272
But does TTS still read out the disconnect messages?

[2019-03-05 08:35] Fishfish458 opened #1609 "Moving the login box outside the window will make it unobtainable"
# Description
If you click and drag the login box outside of the window while in windowed mode, you can't find it anymore even in fullscreen
## Category
BUG

## Detailed Bug Report
welp
![threwitaway](https://user-images.githubusercontent.com/47410468/53791518-43604800-3eef-11e9-847f-b42561860c5f.gif)

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. start the gam

[2019-03-05 09:02] #1571 closed, assigned to nobody

[2019-03-05 09:07] DooblyNoobly commented on #1272
ping me tomorrow @contrarianSpirit when you have a spare moment and we will test on the steam server

[2019-03-05 15:15] Itsnotjames commented on #1606
Works for me:
![ezgif-1-f748ae405db5](https://user-images.githubusercontent.com/28093344/53815264-2fd3e080-3fc6-11e9-9a98-fa6bcd029253.gif)

When I click a gun with it's magazine it moves the gun to where the magazine was like you said. Although i'm pretty sure that is the expected behavior.

[2019-03-05 15:26] coolcat1711 commented on #1502
I'll take a crack at this one

[2019-03-05 18:08] Fishfish458 commented on #1606
In that instance, swap item is actually still running in the background but because both slots are full it doesn't switch.

The issue comes up with reloading where one item disappears but the other does not. I believe putting items in back packs does it too if you're holding both in your hands

Expected reloading behavior shouldn't swap

[2019-03-05 22:28] ghost commented on #1272
Confirmed, tested between me and @DooblyNoobly, TTS does not read out any disconnect messages.

#1586 fixes this issue.

[2019-03-05 22:30] #1272 closed, assigned to nobody

[2019-03-06 01:58] Itsnotjames commented on #1606
Ah you're right, I remember now that the magazine goes into the gun and the gun stays in place. I see the problem now.

[2019-03-06 11:06] fomalsd opened #1612 "NRE on wall tile deconstruction B: 20"
# Description
[code]
## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Get a welder
2. Turn it on and start deconstructing a station wall
3. Wait till it finishes

[2019-03-06 15:07] fomalsd opened #1614 "Exploit: mid-round job change B: 20"
# Description
Player can pick a different job mid-round when he already has one, if he manages to call `CmdRequestJob`.
Serverside validation is required before player gets a job (don't let him change it if he already has one)

## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
On the gif below:
1. Start server, pick NT team but

[2019-03-07 02:06] dapocalypse commented on #1328
Yea lol

[2019-03-08 03:50] coolcat1711 commented on #1504
Between a mix of fishfish's and my changes, I'm fairly sure that this issue is resolved.

[2019-03-08 04:53] DooblyNoobly commented on #1504
@coolcat1711 I just rebuilt the steam clients and pushed them to steamworks. Log in and test it out. If it's fixed report back here and I'll split the bounty.

[2019-03-08 05:37] coolcat1711 commented on #1504
![unitystation issue 1504](https://user-images.githubusercontent.com/3880412/54009834-5e72c800-413a-11e9-920d-a575b25709bb.gif)

[2019-03-08 09:14] DooblyNoobly commented on #1504
cool, looks like that flashing bug has been fixed too (where you would appear, disappear and reappear again after opening closet)

[2019-03-09 20:38] Fishfish458 commented on #1606
working on this one now since i'm running into it while working on something else.

My current plan is to make UI_InteractOther return a bool now which will determine if SwapItem will run aftewards since some items (such as stackables and boxes) have different interactions with empty hands

[2019-03-10 00:21] #1504 closed, assigned to nobody

[2019-03-10 00:24] #1609 closed, assigned to nobody

[2019-03-10 02:50] #1606 closed, assigned to nobody

[2019-03-10 22:00] DooblyNoobly commented on #1614
Bounty of 20 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-03-10 22:01] DooblyNoobly commented on #1612
Bounty of 20 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-03-10 22:02] DooblyNoobly commented on #1608
Bounty of 30 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-03-10 22:02] DooblyNoobly commented on #1599
Bounty of 35 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-03-10 22:03] DooblyNoobly commented on #1596
This will be a bit tricky so adding a B 50 to it

Bounty of 50 usd will be awarded to the contributor on a successful merge of a solution to this TODO

[2019-03-10 22:16] DooblyNoobly opened #1619 "Emergency light state is not synced with new clients"
# Description

If emergency lights are activated on the server before you join you do not get their activated state. Therefore the station is dark with no emergency hall way lighting.

## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Open steam client and join the server
2. If power generator is on, turn it off and reconnec

[2019-03-10 22:19] DooblyNoobly opened #1620 "Press control + click on an object you are pulling does not cancel the pulling action B: 40"
# Description

When you are pulling something you should be able to use the control + click combo to cancel the pulling action like on byond ss13. This does not happen with current build.

## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Run game from steam
2. Pull an object using control + click
3. Try to stop pulling obje

[2019-03-10 22:31] DooblyNoobly opened #1621 "Magazine Fusion Cells are forever stuck in the closet container B: 25"
# Description

Fusion Cells that are put into closets on round start seem to be forever stuck in there.

Gif of the bug:

![2019-03-11 08-28-09 2019-03-11 08_29_48](https://user-images.githubusercontent.com/20813925/54092444-e7f2f600-43d7-11e9-9301-81f1bdeb8f05.gif)

## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Find a f

[2019-03-10 22:32] DooblyNoobly commented on #1540
Increasing this bounty to B: 80 as its a high priority

Bounty of 80 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-03-11 05:23] Fishfish458 commented on #1621
going to check into this one

[2019-03-11 06:16] Fishfish458 commented on #1612
looking into this one now

[2019-03-11 07:05] Fishfish458 commented on #1514
Going to look into this one

[2019-03-11 12:41] fomalsd opened #1626 "Pressing E no longer equips wearable items"
# Description

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Undress
2. Pick up a cloth
3. Press equip button (E by default) to try to equip it

[2019-03-11 12:43] fomalsd opened #1627 "UnauthorizedAccessException on game start"
# Description
(Windows only?)
for some reason game started treating disk root as `Application.persistentDataPath`

## Detailed Bug Report
[code]

[2019-03-11 12:59] fomalsd commented on #1620
![GIF](https://user-images.githubusercontent.com/10403536/54125606-68781d80-43fd-11e9-8396-a7253e9aac8f.gif)
can't reproduce, but noticed that left click interactions became wonky in general

[2019-03-11 13:31] fomalsd commented on #1514
oops, already fixed this one. Inert objects (like thrusters) didn't count as "sticky"

[2019-03-11 13:35] fomalsd commented on #1038
is it still a thing?

[2019-03-11 13:36] fomalsd commented on #979
isn't this kind of done?

[2019-03-11 13:37] fomalsd commented on #1251
It's done (but causes side effects)

[2019-03-11 13:37] #1251 closed, assigned to nobody

[2019-03-11 16:10] #1612 closed, assigned to nobody

[2019-03-11 16:16] fomalsd opened #1629 "Game settings reset after each game title change"
# Description
Each title change forces creation of another settings folder, therefore they reset.
![image](https://user-images.githubusercontent.com/10403536/54139105-b9493f80-4418-11e9-9588-baf3f1fa7188.png)

Perhaps we could print latest commit data in some textfield in Lobby instead of `PlayerSettings.productName`
(and in console as well)

[2019-03-11 20:30] Fishfish458 commented on #1620
@fomalsd It seems like it might be a high ping situation since it only happens to me on the steam build, if you start pulling something it doesn't even register but it will start following you unless you push back at it. I can't get on it to make a gif right now but I was able to start pulling like 10 objects at once and the release button didn't show

[2019-03-11 21:12] #1621 closed, assigned to nobody

[2019-03-11 21:17] Jibbajabbafic opened #1630 "Items captured by closet containers retain their momentum"
# Description
If you catch an object flying through the air with a closet, it will retain its momentum when you open it again.

![ffDnkLZrmS](https://user-images.githubusercontent.com/4493127/54158568-a9deec00-4442-11e9-9270-50000811d8c1.gif)

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Find locker and an item
2. Stand by the locker, open it

[2019-03-11 21:40] #1480 closed, assigned to nobody

[2019-03-11 21:40] #1514 closed, assigned to fomalsd

[2019-03-11 21:58] Jibbajabbafic opened #1631 "Infinite blood loss"
# Description
Your character can lose an infinite amount of blood from a tiny wound.
Character should eventually die after too much blood loss (when remaining blood is 0).

![ouchie](https://user-images.githubusercontent.com/4493127/54160713-2c1ddf00-4448-11e9-932b-8c76251ea186.gif)

![uh oh](https://user-images.githubusercontent.com/4493127/54160323-21af1580-4447-11e9-8f11-588bdce7ebeb.gif)

![OH

[2019-03-11 22:02] Jibbajabbafic commented on #1627
I'm on windows and I've never seen this. Are you using a VM or something like that?

[2019-03-11 23:09] Fishfish458 commented on #1630
I want to look into this one

[2019-03-11 23:10] Jibbajabbafic commented on #1630
All yours

[2019-03-11 23:10] Fishfish458 commented on #1269
If anyone else wants to try this one, I can't effectively reproduce the issue to actually debug it.

[2019-03-11 23:20] Jibbajabbafic commented on #1626
**Note to whoever wants to work on this:**

The key to equip was disabled in #1617

If you want to enable it again just uncomment the following line: https://github.com/unitystation/unitystation/blob/135b322926f87570ddb4c805df206addbfd16409/UnityProject/Assets/Scripts/Input%20System/KeyboardInputManager.cs#L206

You can either modify Equip(), or you might want to use a different function instead a

[2019-03-11 23:58] Fishfish458 commented on #1512
Going to attempt to look into this one

[2019-03-12 01:02] Fishfish458 opened #1634 "Clicks not registering occasionally B: 70"
# Description
Sometimes as both host and client, clicks are not recognized or do not trigger their action.
This behavior can be noticed with items like picking up the screwdriver.
![clickRegister](https://user-images.githubusercontent.com/47410468/54167373-62069780-4437-11e9-84bf-fb8134f661d0.gif)

## Category
BUG

## Detailed Bug Report

Crates and closets are the most noticeable in reproducing t

[2019-03-12 01:52] DooblyNoobly commented on #1634
Most of the mouse input code can be found here. This would be a good place to start debugging
https://github.com/unitystation/unitystation/blob/develop/UnityProject/Assets/Scripts/Input%20System/MouseInputController.cs

This bug will take some time to work out and is an important one to solve so adding a B: 70 to it.

Bounty of 70 usd will be awarded to the contributor on a successful merge of a s

[2019-03-12 05:31] #1512 closed, assigned to nobody

[2019-03-12 06:09] #1630 closed, assigned to nobody

[2019-03-12 06:25] DooblyNoobly commented on #1477
This issue still exists.

[code]

[2019-03-12 08:20] DooblyNoobly commented on #1477
my mistake, its all fixed

[2019-03-12 08:20] #1477 closed, assigned to nobody

[2019-03-12 08:20] DooblyNoobly commented on #1620
bug does not appear on latest steam build.

[2019-03-12 08:20] #1620 closed, assigned to nobody

[2019-03-12 19:46] Bonfire commented on #1038
This issue seems to be resolved
![Screenshot from 2019-03-12 15-45-55](https://user-images.githubusercontent.com/5704760/54231013-0b07cd80-44de-11e9-9f40-099f835cc9b0.png)

[2019-03-12 20:42] krille90 commented on #1598
Yea, that shouldn't happen

[2019-03-12 21:10] krille90 opened #1636 "Oxygen button shouldn't be toggleable when no tank exists"
# Description
* See Title
* Discovered in #1598

## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Start game
2. Toggle oxygen without tank

[2019-03-12 21:12] krille90 commented on #1573
What would be the correct behaviour?

I think it should only spawn atop of the vending machine, right?

[2019-03-12 21:15] Fishfish458 commented on #1573
Should spawn on top but firing them out should stay as a method in some form for hacked or otherwise

[2019-03-12 22:16] #1038 closed, assigned to nobody

[2019-03-12 23:23] Fishfish458 commented on #1362
going to attempt to look into this one a little

[2019-03-13 03:25] chairbender commented on #1250
I tried reproducing this by adding logic which kicks the client as soon as they try to spawn (in SpawnHandler.RespawnPlayer).

When they are kicked due to this, I don't see this issue. I'll see if this still happens on the steam build.

Maybe it only happens when they are kicked due to steam auth issues but not when kicked at other times.

[2019-03-13 03:31] chairbender commented on #1250
I can't reproduce this anymore on the steam version. However, it still does appear buggy when being disconnected when using the Steam version. You can sometimes get to the job selection screen, then when you are disconnected the selection screen stays up (or the team selection screen). When you try to log back in the host checkbox is not there but the selection screen is and the UI gets even more

[2019-03-13 06:03] #1250 closed, assigned to chairbender

[2019-03-13 08:09] fomalsd commented on #1634
I think I fixed it yesterday, needs more testing though
![GIF](https://user-images.githubusercontent.com/10403536/54263088-e2c4b100-4567-11e9-93d0-886e73c2d956.gif)

[2019-03-13 08:14] Jibbajabbafic commented on #1629
This might also be the cause of #1627

[2019-03-13 08:19] fomalsd commented on #1634
@chairbender sorry, wasn't logged in to github in the evening to self-assign it yesterday

[2019-03-13 08:46] fomalsd opened #1638 "Pressing Z no longer makes you consume food in your active hand"
## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Pick up meat steak
2. Press Z

[2019-03-13 09:58] fomalsd commented on #1636
Maybe it shouldn't even be shown when you have no tank?

[2019-03-13 14:20] badbon commented on #1619
I think this is my mess so I will try to fix it. 👍

[2019-03-13 17:11] chairbender commented on #1634
Np I haven't done any work on it yet.

[2019-03-14 08:39] Injazz commented on #1591
crashing on my device right on startup sadly, I'm pretty sure my callstack is already sent to you via TestFlight

[2019-03-14 08:40] fomalsd commented on #1591
probably low on RAM... how much do you have?

[2019-03-14 22:07] #1634 closed, assigned to fomalsd

[2019-03-15 08:00] fomalsd opened #1643 "Space wind! B: 70"
# Description
What's atmos without players and items being sucked out of hull breaches?
They should definitely react to pressure changes!

## Category
Feature request

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Open an airlock into space
2. Don't get sucked into space

[2019-03-15 08:03] fomalsd opened #1644 "Player slipping B: 50"
# Description
Player should be able to slip/fall due to clown's shenanigans, pressure changes or wet floors
(And get back up after some time)
This task implies adding following functionality:
- Cleaning floor tile with a mop should make it wet (slippery) for certain time
- Players should always slip on banana peels if they walk/run onto tile where the peel is registered at
- Players should slip on

[2019-03-15 08:44] DooblyNoobly commented on #1644
Bounty of 50 usd will be awarded to the contributor on a successful merge of a solution to this TODO

[2019-03-15 08:44] DooblyNoobly commented on #1644
Please also add the slip sound to sound manager. All you have to do is add an AudioSource as a child and soundmanager will pick it up automatically. Use the name of the GameObject to play it

[2019-03-15 08:45] DooblyNoobly commented on #1643
Bounty of 70 usd will be awarded to the contributor on a successful merge of a solution to this TODO

This is only suitable for experienced devs

[2019-03-16 03:55] chairbender commented on #1429
I humbly request we hold off on this until #1540 is fixed as it will contain significant changes to how ghosts work.

[2019-03-16 04:24] Scrando commented on #1614
Going to try and tackle this one

[2019-03-17 16:26] Bod9001 commented on #979
humm no, We currently have chemistry system, This is proposing a more complex system where you have to monitor reactions and it takes time And you have to distil to get rid of impuritys

[2019-03-17 23:59] Fishfish458 commented on #1464
the tooltip feature as a whole should definitely get a second pass into a more generalized form. it should display only the name of the item and possibly seperated from the register object/register item scripts. byond's could give a name for any tile as well which may be a far goal but it would be useful.

![generalized tooltip](https://user-images.githubusercontent.com/47410468/54500053-c7023780-

[2019-03-18 00:42] chairbender commented on #1608
This overlaps with my current ticket, taking this on as well.

[2019-03-18 00:44] chairbender commented on #1274
Just updating this, when this is fixed make sure that the ghosts can also see each other. Currently in #1540  ticket ghosts can see each other only when they are within FOV.

[2019-03-18 03:13] chairbender commented on #1274
NVM, what I just described is fixed. Ghosts can see each other even when out of FOV. Still need to disable FOV for other things however, as described in the original comment.

[2019-03-18 03:45] chairbender commented on #1488
I'm having trouble understanding what this ticket is asking for.

Can someone provide a specific example of how this might look post-refactoring? Like a code example of how you'd like to be able to use the new system to spawn an item, vs. what we have currently.

Let's say you'd want to spawn a pistol magazine.
Currently to spawn an item you use ItemFactory.SpawnItem(magazinePrefab, somePosition,

[2019-03-18 09:55] fomalsd commented on #1629
fixed

[2019-03-18 09:55] #1629 closed, assigned to nobody

[2019-03-18 09:55] fomalsd commented on #1627
looks like this one's fixed, too

[2019-03-18 09:55] #1627 closed, assigned to nobody

[2019-03-19 02:04] chairbender commented on #1502
oops, removing myself, didn't see it was being worked on

@coolcat1711 any update on this?

[2019-03-19 02:05] chairbender commented on #1454
@NinjaDanz3r any update on this?

[2019-03-19 02:06] chairbender commented on #1386
ah, matrixmove, my old nemesis

I'll take this on

[2019-03-19 03:29] chairbender commented on #1386
This IS an issue, but I don't think it's due to it restoring the offset, I think it's due to the rounding caused by clampedPosition, which uses PPRT to round the transform.position of the matrix and often rounds to almost but not quite exact integer values, producing this "wiggling" behavior.

[2019-03-19 22:02] #1540 closed, assigned to chairbender

[2019-03-19 22:02] #1569 closed, assigned to chairbender

[2019-03-19 22:02] #1608 closed, assigned to chairbender

[2019-03-19 22:14] #1386 closed, assigned to chairbender

[2019-03-20 01:17] #1636 closed, assigned to nobody

[2019-03-20 01:21] chairbender commented on #1619
@NicholasM10 any update on this? Still working on it?

[2019-03-20 01:45] chairbender commented on #1488
More suggestions from Bod9001:
I think it's mainly of
Making sure items are initialised properly
Making it easy to recycle them
Easy spawning
Easy making
Reducing the number of prefabs(?)

[2019-03-20 03:36] chairbender commented on #1362
sorry for the spam, wrong window.

@Fishfish458 you still planning on taking this on?

[2019-03-20 03:37] chairbender commented on #1596
I've messed with movement enough where I think I got the hang of it, taking this on.

[2019-03-20 04:20] badbon commented on #1619
Ah sorry, you can take over.

[2019-03-20 09:14] NextThang commented on #1638
I have played with it and I think I have a fix for this. Will submit PR soon.

[2019-03-20 09:47] fomalsd opened #1652 "Crowbars, Vendors and MessageOnInteract work outside player's reach B: 30"
# Description
Triggering things out of reach has recently been allowed in MouseInputController (that does clientside validations). This uncovered some bugs and security flaws that were unnoticed:
- Crowbar action requests aren't distance checked on server
- Vending machines share some code that's executed on both C and S. When they become out of sync (triggered on client but not on server) they ge

[2019-03-20 09:51] fomalsd commented on #1598
could someone please check if this was fixed by #1648?

[2019-03-20 09:52] DooblyNoobly commented on #1598
I was getting Gasp text but it wasn't coming from my player

[2019-03-20 15:09] Fishfish458 commented on #1362
@chairbender It's been a busy week and I haven't gotten much time to look at it but from what I've gathered.

* there's a form of drag and drop in already but it's restricted to the UI
* I want to turn that into a clientside event that can be used across the whole screen
* after a drag and drop event has occured, send details of item dragged, item dropped at, user distance to server
* figure out a

[2019-03-20 15:15] #1599 closed, assigned to chairbender

[2019-03-20 15:27] chairbender commented on #1596
Also planning to fix player rotation not staying upright

[2019-03-20 15:30] fomalsd commented on #1488
As an end user I'd like to see a universal spawn menu with a searchable list of all possible spawnable items (prefabs and uni-items alike) and objects (machines, crates, whatever), so this system should allow spawning anything without any context.
Another thing revamped ItemFactory IMO should be capable of is cloning existing objects with all their metadata.

[2019-03-20 16:06] fomalsd commented on #1643
gonna give this a go

[2019-03-21 03:16] chairbender commented on #1362
nice, thanks for the update, I'll leave it alone for now

[2019-03-21 14:53] fomalsd commented on #1626
can anyone confirm if this is still a thing on latest develop?

[2019-03-21 21:26] #1631 closed, assigned to nobody

[2019-03-22 03:31] chairbender commented on #1596
Pretty sure this should actually be "Help" intent.

[2019-03-22 06:07] fomalsd commented on #1591
Here's some profiling data from xcode
<img width="1330" alt="Scr 2019-03-22 в 8 59 40" src="https://user-images.githubusercontent.com/10403536/54803758-db955580-4c81-11e9-9a46-e7d080bba7b2.png">

[2019-03-23 03:27] #1638 closed, assigned to nobody

[2019-03-23 13:56] NextThang commented on #1626
I've tried pressing both Z and E and it does nothing. I literally have to click the slot to equip it again.

[2019-03-23 20:26] coolcat1711 commented on #1502
@chairbender Go ahead and work on this, I've been busy wrapping up my university term and have been off the radar for a while. Sorry for hogging the issue.

[2019-03-23 21:31] #1626 closed, assigned to nobody

[2019-03-23 23:46] DooblyNoobly commented on #1619
Taking it off in progress and increasing to B 60

[2019-03-23 23:48] DooblyNoobly commented on #1502
Increased bounty to B 120. This is a very difficult one to work out and would be suitable for more experienced devs.

[2019-03-23 23:48] chairbender commented on #1502
np @coolcat1711, this is gonna be a real tough one anyway

[2019-03-24 00:05] chairbender opened #1659 "Clients see other clients permanently stuck facing forward B: 20"
# Description
Clients always appear facing forward to other clients, even though they appear with the correct facing between client / server.

(Currently only discovered on headless)

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Host.
2. Join with 2 clients.
3. Change direction and observe that it always appears to one client that the other is facing forward.

[2019-03-24 00:08] chairbender commented on #1659
this is my changes so I'll fix it

[2019-03-24 00:26] Fishfish458 opened #1660 "When put in a locker in critical health, camera is not set to locker B: 40"
# Description
This happened when a CLIENT was closing a locker on another CLIENT.
(Currently only discovered on headless)

![test](https://user-images.githubusercontent.com/47410468/54873290-56a15d80-4da1-11e9-885a-bb7ec51d3241.png)

## Category
BUG

## Detailed Bug Report
When a client closes the locker on another client in crit/possibly normal state too, the closet player's camera is not set to

[2019-03-24 00:35] Fishfish458 opened #1662 "players able to chat while in crit"
# Description
Players are able to chat while in crit state
(Currently only discovered on headless)

this is possibly brought up again after multiple types of crit were brought up
## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. go into a crit state
2. attempt to talk

[2019-03-24 00:35] Fishfish458 commented on #1662
I'm going to check this one out myself, I just wanted to make sure it was listed as an issue prior in case

[2019-03-24 01:09] chairbender opened #1663 "Job slots still occupied after round restart or player disconnecting B: 30"
# Description
When users disconnect, the job slot they chose is still marked as occupied and the job list is not updated, preventing anyone else from taking on the job. The player count is also not reduced on the job screen.

Additionally, when the round is restarted, the job list doesn't clear out and all the slots that were occupied the previous round still show as occupied. It should show as co

[2019-03-24 01:11] chairbender opened #1664 "When round restarts, UI is permanently empty B: 50"
# Description
After the round restarts and you select a job and spawn, the UI is shown as empty and never appears to update even when picking things up and even though your sprite is shown as holding something / having clothes.

It also seems that is becomes impossible to shoot, throw, or melee. Basically becomes impossible to use any item in your hands.

Expected behavior is that the UI shows up

[2019-03-24 01:18] chairbender opened #1665 "Throwing does way too much damage B: 25"
# Description
Throwing something (at least from a client to another client) is usually a one hit kill.

Most likely this is not due to how throwing damage is calculated, rather it is due to the object hitting the player multiple times.

Expected behavior is that damage from throwing is only applied once and doesn't instantly crit / kill you.

Only reproduced on headless so far.

[2019-03-24 01:58] chairbender opened #1666 "Steam thinks game is still running after exiting B: 30"
# Description
Steam does not register the game as having stopped when you exit the game, resulting in a "Game is already running" message when trying to relaunch it.

This may be due to a process related to the game (such as a simulation thread) not being fully ended when the game is closed.

## Steps to Reproduce
1. Launch steam version of game via Steam.
2. Exit.
3. Try to relaunch it, get the "

[2019-03-24 02:46] DooblyNoobly commented on #1659
Bounty of 20 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-03-24 02:47] DooblyNoobly commented on #1660
Bounty of 40 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-03-24 02:48] DooblyNoobly commented on #1662
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-03-24 02:51] DooblyNoobly commented on #1663
Bounty of 30 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-03-24 02:52] DooblyNoobly commented on #1664
Bounty of 50 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-03-24 02:52] DooblyNoobly commented on #1665
Bounty of 25 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-03-24 02:53] DooblyNoobly commented on #1666
Bounty of 30 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-03-24 06:38] DooblyNoobly commented on #1652
Bounty of 30 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-03-24 06:38] DooblyNoobly commented on #1652
Bounty of 30 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-03-24 09:53] fomalsd commented on #1666
Do you have Unity opened? It's known to make Steam think you're playing game. Just exit Unity and it will go away

[2019-03-24 09:55] fomalsd commented on #1662
Are you sure you were able to chat in **hard** crit (not able to move)?
You can "whisper" while in soft crit (you'll have italic fonts)

[2019-03-24 09:57] fomalsd commented on #1663
Suspected duplicate of #1580

[2019-03-24 11:24] fomalsd commented on #1662
Couldn't reproduce this on steam server.
As intended, you can whisper in soft crit but can't chat at all in hard crit.
Closing

[2019-03-24 11:24] #1662 closed, assigned to nobody

[2019-03-24 11:34] fomalsd opened #1668 "Mopping floors doesn't work for clients"
## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Join steam server
2. Grab a mop
3. Try mopping blood

[2019-03-24 11:42] fomalsd opened #1669 "Player list seems broken on headless, doesn't show real player names"
# Description
Connected player list doesn't show real player names when you join steam server, also doesn't seem to include you in that list

## Detailed Bug Report
<img width="1095" alt="Scr 2019-03-24 в 13 58 08" src="https://user-images.githubusercontent.com/10403536/54878806-910f0700-4e42-11e9-881b-ca78451ee8f0.png">

## Steps to Reproduce
Please enter the steps to reproduce the bug or behavio

[2019-03-24 11:49] fomalsd opened #1670 "Not losing oxygen inside a breached room on headless B: 55"
# Description
This might be an exception in atmos.
You get pressure damage in main hall, but not oxygen damage.
When you go outside into space, oxygen damage kicks in.
<img width="1095" alt="Scr 2019-03-24 в 13 53 09" src="https://user-images.githubusercontent.com/10403536/54878856-48a41900-4e43-11e9-9b0c-6e81c7d242b1.png">

## Steps to Reproduce
Please enter the steps to reproduce the bug or beha

[2019-03-24 12:02] fomalsd opened #1671 "Can't rejoin without restarting game after logging out or disconnecting"
# Description
You get kicked if you attempt to rejoin server without restarting game.
![Scr 2019-03-24 в 14 04 24-2 2019-03-24 14_54_22](https://user-images.githubusercontent.com/10403536/54878967-c157a500-4e44-11e9-93a3-2cfc74e84c78.gif)

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Start game and join steam server
2. Press esc and log out
3. Log back in and

[2019-03-24 14:23] chairbender commented on #1666
Didn't know about that or I wouldn't have made this. Closing this.

[2019-03-24 14:23] #1666 closed, assigned to nobody

[2019-03-24 14:30] chairbender opened #1672 "Wrong in hand sprite shown in some situations"
# Description
Equip the heavy machine gun in right hand, then drop and reequip it to the left hand. Notice how the sprite shown is different.

Expected behavior is it should look the same in either hand.

Also as shown here, it looks like there are other scenarios where the in hand sprite is wrong: https://cdn.discordapp.com/attachments/312454684021620736/559346971832221736/Scr_2019-03-24_13.36.33

[2019-03-24 21:01] Aranclanos commented on #1665
Can't reproduce

[2019-03-24 21:27] NextThang commented on #1665
Yeah, I was trying it a little bit as well, but I couldn't just straight up kill someone by throwing someone at them. Maybe it's just certain items or something?

[2019-03-24 21:31] fomalsd opened #1674 "Leaving a body in cargo/captain's shuttle airlock doesn't depressurize it"
# Description
Tiles on the right side of the shuttle aren't recognized as space

![no_shuttle_decompression](https://user-images.githubusercontent.com/10403536/54886099-1fac7400-4e95-11e9-8669-6fd815135434.gif)

[2019-03-24 22:53] chairbender commented on #1665
Be aware we've only reproduced it on the steam client / server so far.

[2019-03-25 01:34] chairbender commented on #1674
Just gonna guess this is due to the body being marked as AtmosPassable = false

[2019-03-25 03:15] HenryBlackie opened #1675 "Can slide around while in crit"
# Description
## Category
BUG

## Detailed Bug Report
Sometimes when going in to crit I have been able to slide around on the floor for a few seconds

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Shoot self in head, repeatedly
2. Keep pressing WASD when you fall down, you should start moving about

[2019-03-25 03:16] chairbender commented on #1675
@HenryBlackie I think this is expected, you are able to crawl. There are 2 states of crit, hard and soft. When in soft crit, you can crawl.

[2019-03-25 03:21] HenryBlackie commented on #1675
Ah okay, I wasn't aware of that.

[2019-03-25 03:21] #1675 closed, assigned to nobody

[2019-03-25 03:21] chairbender commented on #1675
np, now we have it as a ticket in case anyone else thinks its a bug so they will find it if they search

[2019-03-25 04:55] chairbender opened #1676 "Don't init until local player is created"
# Description
Lots of NREs occur when joining due to trying to init behaviors before LocalPlayer has been created. This is mostly due to the removal of the dummy player.

Fix this as per Doobly's suggestion:

check this out: https://docs.unity3d.com/ScriptReference/CustomYieldInstruction.html

we should make a Init IEnumerator for those objects that require Local player and just yield until local

[2019-03-25 09:02] #1663 closed, assigned to nobody

[2019-03-25 22:16] DooblyNoobly commented on #1664
looks like #1677 has fixed this, I just did a test on steam server (Spawned as nuke ops, blew up station and when round restarted everything was fine with the UI slots)

[2019-03-25 22:17] #1664 closed, assigned to nobody

[2019-03-25 22:19] fomalsd commented on #1664
are you sure it wasn't just because of messed up server back then?

[2019-03-25 22:28] DooblyNoobly commented on #1664
well Inventory manager errors probably contributed to it on the server. As was pointed out in the note fixes `lambda expressions and null propagation operators dont get along` which seems to hold true when looking for explanations why, I found this on stack overflow: `tree lambdas (unlike delegate lambdas) are interpreted by already existing LINQ providers which don't yet support null propagating.

[2019-03-25 23:04] NextThang commented on #1659
I tried it even with normal (non-headless) server and server can see the clients rotating. But clients don't see anyone else rotating.

[2019-03-25 23:12] fomalsd commented on #1659
probably caused by this: https://github.com/unitystation/unitystation/blob/3262fbdb913b2a8779093f0a1965ff87e75e2101/UnityProject/Assets/Scripts/Player/UserControlledSprites.cs#L86
but making it abstract breaks build for IL2CPP

[2019-03-26 01:02] Aranclanos commented on #1660
lookin into it

[2019-03-26 18:20] kaffo commented on #1502
Had a look at this in my spare time, I should be able to sort this out if I have time

[2019-03-26 22:28] Jibbajabbafic opened #1680 "Refactor Interact to handle multiple InputTriggers correctly"
# Description
Currently the Interact function in the MouseInputController will only trigger the first InputTrigger it encounters which will be MeleeTrigger is most cases. This makes it harder to implement new items since exceptions and checks need to be made for each new Trigger type.

Ideally Interact should be able to pickup all InputTriggers on an item and correctly trigger the right one.
E.g.

[2019-03-26 22:55] Aranclanos commented on #1652
I'll take a look

[2019-03-28 00:24] #1660 closed, assigned to nobody

[2019-03-28 00:33] chairbender commented on #1659
working on it

[2019-03-28 03:31] Aranclanos commented on #1665
Still can't reproduce, can you give more details of how it exactly happened?

[2019-03-28 03:34] chairbender commented on #1665
We were playing on the steam server, Bod threw some sort of canister thing at me I instantly went into crit and died a few seconds later. Bod confirmed that throwing does way too much damage so I assumed this is an actual issue.

Maybe it isn't anymore.

[2019-03-28 03:35] chairbender commented on #1665
...or maybe it's only certain thrown items that do it?

[2019-03-28 14:44] chairbender commented on #1488
Taking this on

[2019-03-28 16:06] #1659 closed, assigned to chairbender

[2019-03-28 16:08] Aranclanos commented on #1619
I'll take a look

[2019-03-28 16:47] badbon commented on #1619
Uhh yes sorry for dying again, do it.

[2019-03-28 21:36] kaffo commented on #1502
I'm going to take this issue as a oppertunity to extend/rewrite a bit of the collision checking functionality as I discussed in the Discord. I've got the weekend free so I'll see what I can come up with by the end of Sunday

[2019-03-29 16:32] #1596 closed, assigned to chairbender

[2019-03-30 02:22] Aranclanos commented on #1442
The only task missing is the electrical system GC?

[2019-03-30 10:03] fomalsd commented on #1442
yeah, it is

[2019-03-30 11:14] Bod9001 commented on #1665
ok, The problem was the characters being hit multiple times After the restart it didn't appear again, On my end the item went through the character  Then once the character died it Teleported
 back to where it should be

[2019-03-31 14:58] #1395 closed, assigned to nobody

[2019-03-31 15:19] Aranclanos opened #1689 "With lag, an opening door can damage you"
# Description
Walking over a turf with a door opening can damage your mob

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.have a bit of lag
2.bump a door causing it to open
3.keep walking in the direction of the door, you'll be damaged

easier way to trigger it is is enabling gizmos on the editor, causing the game to lag. While this way is unrela

[2019-03-31 15:20] Aranclanos opened #1690 "From lockers, you'll always pick up breathmasks first"
# Description
When opening a locker, its possible to find guns on them. Even when mouseovering the gun and clicking on it, the object you'll find yourself picking up is the breathmask from the locker.

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Open an oxygen locker with a gun inside
2.Click on top of the gun to pick it up
3.Find breathmask i

[2019-03-31 15:21] Jibbajabbafic commented on #1689
Possibly related to #1110

[2019-03-31 15:23] Aranclanos opened #1691 "Ghosts can help-intent mobs"
# Description
When walking on top of living mobs as a ghost, you push them towards your previous location ignoring the fact that you shouldn't interact with them

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Be a ghost
2.Walk on top of a standing human
3.Notice how they get pushed towards your previous location (you can keep doing this until yo

[2019-03-31 15:30] Aranclanos opened #1692 "Open lockers block bullets"
# Description
An open locker blocks bullets, unlike the byond version of the game

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Get a gun and open a locker
2.Shoot towards the locker direction
3.See how the locker blocks the bullets

[2019-03-31 15:37] Jibbajabbafic commented on #1691
Assuming this was introduced by #1673, @chairbender would you be alright having a look at this?

[2019-03-31 15:38] Aranclanos opened #1693 "Logging out spams the console with errors (hosting only?)"
# Description
The console spams errors if you host a game and then proceed to logout.
NullReferenceException
PowerSupply.UpdateMe ()
UpdateManager.Update ()

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Host a game (doesnt seem to work without hosting)
2.Logout to main screen
3.Console spams NullReferenceExceptions

![image](https://user-images

[2019-03-31 15:45] Jibbajabbafic commented on #1693
Logging out was never fully implemented so it's not surprising. We'll need to add additional logic to all systems to ensure they are correctly stopped and reset after logout.

[2019-03-31 15:46] Aranclanos commented on #1689
Just realized that the damage you get is probably the lack of air on the tile, by random chance of getting the health tick before the airlock turf merges its air with the neighboors

[2019-03-31 15:50] Aranclanos opened #1694 "Respawning stops working after the round restarted"
# Description
If the round restarted, for example by a nuke, ghost respawning stops working

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Activate the nuke
2.Die and ghost
3.Despair at lack of respawning

[2019-03-31 15:58] Aranclanos opened #1695 "You can walk on top of open crates"
# Description
On the byond version of the game, crates are not walkeable no matter their open/closed status. Not to be confused with lockers

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Open a crate
2.Walk towards it
3.You're now on the same turf than a crate

[2019-04-01 13:06] Aranclanos opened #1697 "Joining once as client crashes the editor on the next play"
# Description
If you join a server once with the editor as client, it crashes at the next 'play'.
I'm not logging out, im stopping the game with the play button.

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Hit play with the editor
2.Join the game as client with the editor
3.Stop the game
4.Hit play once more
5.Crash after a few seconds

[2019-04-01 13:12] fomalsd commented on #1697
might be related to SunVox init

[2019-04-01 13:16] fomalsd commented on #1690
likely a mouseover issue. should make it respect layer order as well.
enable mouse gizmos and hover mouse over gun. if it shows oxygen mask pixels then that's the issue

[2019-04-01 13:18] fomalsd commented on #1689
it's due to closed doors having zero pressure. players without suits get a serious pressure hit.
players with high ping tend to get caught in closing doors more often.

[2019-04-01 13:20] fomalsd commented on #1674
should be fixed by #1696

[2019-04-01 13:20] #1674 closed, assigned to nobody

[2019-04-01 13:29] fomalsd commented on #1665
Fishfish once posted a gif with an effect similar to what you describe. it was an experiment though, hit code was modified then.
![damaage](https://user-images.githubusercontent.com/10403536/55331265-6cd6aa00-5482-11e9-9195-a2014bf58edd.gif)

[2019-04-01 14:07] Bod9001 commented on #1665
That's pretty much what happened

[2019-04-01 19:35] Aranclanos commented on #1697
if there's a quick/temporal solution please say so, this is exhausting

[2019-04-01 19:47] fomalsd commented on #1697
Are you using linux by chance? Last time it happened to linux users
https://github.com/unitystation/unitystation/pull/1556
maybe try commenting out this line that prevents deinit inside editor:
https://github.com/unitystation/unitystation/blob/8cc47d10fd74b8f3822570f4d0354ca770193821/UnityProject/Assets/Scripts/Sound/SunVox.cs#L75

[2019-04-01 19:56] Aranclanos commented on #1697
Thanks, that did the trick. I'm on windows 10

[2019-04-02 09:45] fomalsd opened #1698 "Add containers (toolboxes, medkits, storage boxes, toolbelts, cigs...)"
# Description
At the moment we only have backpacks. Need a solution to initialize containers from
dm.json, there are over 150 of these:
( see https://github.com/unitystation/unitystation/blob/4ba018b6bb8abdf92296ca88e71e3dea9bdca702/UnityProject/Assets/Resources/Metadata/dm.json#L31252 )
Preferred way is going the uniCloth/ItemAtrtibutes way, where there is a base prefab which gets initialized fro

[2019-04-03 07:03] fomalsd opened #1699 "Inventory can mess up"
# Description
had inventory fail on me in a weird way:
![Scr 2019-04-03 в 0 36 11 2019-04-03 10_01_11](https://user-images.githubusercontent.com/10403536/55459129-77668000-55f7-11e9-9d00-edc31771b4b9.gif)

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
**Was unable to reproduce it again**, but what I did was:
1. Launched game from Outpost sc

[2019-04-03 08:40] Fishfish458 commented on #1699
I'll try to look into this one because I think I know the systems involved.  though I'd like to know if someone does reproduce it again if it's rare.

[2019-04-03 22:56] #1502 closed, assigned to kaffo

[2019-04-04 06:47] #1644 closed, assigned to nobody

[2019-04-04 07:21] #1652 closed, assigned to nobody

[2019-04-04 09:34] fomalsd commented on #1668
Also mop has wrong inhands sprites

[2019-04-04 09:43] fomalsd opened #1700 "Suffocating in space with mask, oxygen tank and internals enabled"
# Description
![img](https://user-images.githubusercontent.com/10403536/55545848-a34c3900-56bd-11e9-80b6-af6027aeabc1.png)

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Start from editor, join as miner
2. Get a helmet and oxygen tank and put them on
3. Walk into space and enable internals

[2019-04-04 22:05] kaffo commented on #1327
Started some work on this, nearly done pretty much. Guess I'll self assign and finish over the weekend

[2019-04-06 09:25] Itsnotjames commented on #1429
Working on this with @Aranclanos

[2019-04-06 13:25] fomalsd commented on #1588
fixed in #1703

[2019-04-06 13:25] #1588 closed, assigned to nobody

[2019-04-06 20:43] kaffo commented on #1695
Crates are using RegisterCloset which sets Passable = !Closed which makes sense for lockers, but not so much crates
Either needs a new RegisterCrate script or a switch on RegisterCloset to change the Passable behavior

[2019-04-06 22:57] chairbender commented on #1691
yeah I'll look at it, proud to be the first to necessitate the lol tag

[2019-04-06 23:26] #1691 closed, assigned to chairbender

[2019-04-06 23:33] chairbender commented on #1665
maybe it has to do with object pooling - an object having some sort of impartially reset state when being spawned to be thrown

[2019-04-07 00:10] #1694 closed, assigned to chairbender

[2019-04-07 00:13] chairbender commented on #1614
@Scrando still working on this?

[2019-04-07 02:09] chairbender commented on #1690
I believe it already is correctly sorting by sorting layer + order in layer, using SortingLayer.GetLayerValueFromID(), which I believe takes into account both of those.

I think this issue is because many sprites have an order in layer of 10. So unity arbitrarily decides which one goes first. We need to give all sprites different order in layer values.

[2019-04-07 02:54] chairbender commented on #1690
oh nvm, that method actually does ignore order in layer, need to add that to the sort

[2019-04-07 03:18] #1690 closed, assigned to chairbender

[2019-04-07 03:37] chairbender commented on #948
@Jibbajabbafic still working on this?

[2019-04-07 03:40] chairbender commented on #1328
@dapocalypse still working on this?

[2019-04-07 12:49] #1327 closed, assigned to kaffo

[2019-04-07 13:21] kaffo opened #1709 "APC Text Overflow with Very Small Numbers"
# Description
APC NetTab UI Text overflows onto the next line if the value is too long

## Category
BUG

## Detailed Bug Report
![image](https://user-images.githubusercontent.com/1458225/55684068-d3563f00-593e-11e9-9741-e89cebb6df5f.png)

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Go to Atmos
2. Turn off the lights
3. Check the APC
4. Notice the text overflo

[2019-04-07 13:34] kaffo opened #1710 "NetTabs don't destroy after being closed"
# Description
When you close a NetTab (APC, Shuttle Controls etc) a clone stays disabled in the client, using memory
## Category
BUG

## Detailed Bug Report
![image](https://user-images.githubusercontent.com/1458225/55684329-ce46bf00-5941-11e9-925c-507d8e8ce913.png)
If I was playing an engineer I could quickly open up a whole load of APC tabs which would just be sitting idle in memory for no purpo

[2019-04-07 13:48] fomalsd commented on #1710
disabling objects is cheaper than destroying/spawning them every time.
maybe introduce something like 5 minute destroy timer instead, if you're concerned about memory usage

[2019-04-07 14:08] dapocalypse commented on #1328
Yea, I've hit a roadblock though

[2019-04-07 19:32] kaffo commented on #1710
Would like to see RAM useages in a "normal" round. But yes, maybe some kinda cleanup on the client would be an idea

[2019-04-07 21:01] chairbender commented on #1698
I think this would also require somehow adding bulkiness to each of our prefabs which don't have an item attribute component. Probably just adding a component which provides access to their dmi attributes would be a good approach. Similar to item attributes but not used to affect their actual sprite, just for providing a way to access their dmi data from other components.

[2019-04-07 22:38] chairbender commented on #1710
marking "needs reproduction" so we can see if this does create perf issues

[2019-04-07 22:58] chairbender commented on #1698
either way i think it would be good long-term to have a component which just provides access to dmi data for a specific object, and I think itemattributes is currently only specifically for uni-items so might not work to just slap it onto a non-unicloth prefab

[2019-04-07 23:53] chairbender commented on #1698
doobly also brought up the idea of not directly providing access to the dmi data using a component, but instead creating a wizard / editor script that would populate this information into our prefabs

[2019-04-08 02:18] #1692 closed, assigned to chairbender

[2019-04-08 05:08] #1488 closed, assigned to chairbender

[2019-04-08 05:14] #1405 closed, assigned to chairbender

[2019-04-08 08:42] fomalsd commented on #1698
I have a feeling that container bulkiness might be dynamic depending on its contents
But after thinking about it a bit – it's a can of worms, would be much easier if it was static.
Though anyway, I think everything player can pick up already has an ItemAttributes component, only Objects (closets, machinery...) are unaffected yet. But I think they could all be classified as "very bulky" since playe

[2019-04-08 11:09] Aranclanos commented on #1442
I think this should be closed now?

[2019-04-08 13:40] fomalsd commented on #1700
I think it's due to mask miner spawns with. When I throw it away and equip one from oxygen locker I have no issues

[2019-04-08 13:49] fomalsd opened #1715 "Can no longer close lockers by clicking them"
# Description
You can open lockers, but can't close them back by clicking them – only with rightclick option.

## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Find a closet
2. Open it
3. Try closing it by clicking its door or base

Not sure if chaining of ThenByDescending actually works here:
https://github.com/unitystatio

[2019-04-08 13:51] fomalsd commented on #1715
@chairbender could you look at this one? I think I encountered issues when chaining ThenByDescending before

[2019-04-08 14:21] chairbender commented on #1715
Ah shoot. Yeah I'll take a look.

[2019-04-08 14:33] chairbender commented on #1715
It's actually because I turned the collider off to make it passable and allow shots through it when open. Forgot collider also used for click detection.

[2019-04-08 18:21] Jibbajabbafic commented on #948
Apologies for my absence. I'm going to work on this this week and try to tick a few more things off.

[2019-04-08 19:47] Jibbajabbafic commented on #1709
Looking into this

[2019-04-08 20:52] fomalsd commented on #1442
well, there's still 120kb of garbage during powernet updates, so not yet I'd say

[2019-04-08 20:56] #1715 closed, assigned to chairbender

[2019-04-09 02:18] chairbender commented on #1672
reproduced locally

[2019-04-09 02:32] #1672 closed, assigned to chairbender

[2019-04-09 03:08] chairbender commented on #1700
This is because the mask that the player spawns with is not actually an instance of the Mask prefab, it's a uni-item which does not set its "connected to tank" flag.

Eventually I think the Job Outfit component needs to be modified to allow providing a prefab instead of a hier. For now I can set the boolean flag based on the MASKINTERNALS flag from the dmi data.

[2019-04-09 03:28] #1700 closed, assigned to chairbender

[2019-04-09 03:35] chairbender commented on #1525
seems there isn't a free cross platform TTS, you'd need to use an approach that worked for each supported platform. This guy outlines how it could be done:
https://stackoverflow.com/a/42576071/765419

It seems like a lot of work, but the bulk of the work is really just hooking up the TTS for each platform - most of the work of actually implementing TTS is probably already done for each platform, j

[2019-04-09 03:35] chairbender commented on #1697
since sunvox isn't going away for now and there's a workaround, going to close this.

This should be fixed when / if we take on #1525

[2019-04-09 19:18] Jibbajabbafic commented on #1446
Heartbeat sprite still needs updating

Fishfish is taking a look

[2019-04-10 10:58] #1709 closed, assigned to Jibbajabbafic

[2019-04-10 11:38] fomalsd commented on #1525
meh
I've seen and analyzed a paid asset that does exactly as you described but the dull part is all the voices would be different for each system, that sucks
MaryTTS provides several tweakable voices that sound good, and I really want them to be consistent regardless of OS

[2019-04-10 13:20] fomalsd opened #1722 "UI: high/low Pressure, Oxygen, high/low Temperature warnings B: 80"
# Description
At the moment oxygen meter only works on the job selection screen (lol)
Need proper indicators so that player would know what's going on before he's in crit or dead.
Indicators should differentiate too low vs too high pressure and temperature

[2019-04-10 13:27] fomalsd opened #1723 "Spraying mechanic (space cleaner, fire extinguisher) B: 80"
# Description
Introduce mechanic to distribute chemical mixes in a directed stream;
Add space cleaner prefab and allow spraying arbitrary chemicals from it when filled in chem dispenser/from beaker. Should clean up blood if used with water or cleaning solution
Add spraying functionality to the fire extinguisher, it should put off fires

[2019-04-10 14:08] fomalsd opened #1724 "Loose ends with health/damage system B: 160"
# Description
WIP issue with a list of loose ends with current health/damage system implementation.
Please comment and add what you think is missing from the list

#### Security:

- At the moment each player's health status is tracked client side.
Health should be serverside instead.
Player shouldn't know other player's health unless a Scanner is used.
(Don't worry, we'll handle health broadcastin

[2019-04-10 14:13] fomalsd opened #1725 "Right click: disable/hide unavailable options, dynamic rename B: 25"
# Description

- Explore possibility of not drawing right click options if it's known that they are unavailable.
Example: ghost rightclicking item and still has a Pull option (there's a NRE in this situation by the way)

- Also renaming them depending on context would be cool ("Turn it on"/"Turn it off" instead of "Toggle")

[2019-04-10 14:15] fomalsd opened #1726 "Means to build walls ingame B: 60"
# Description
At the moment we can only remove walls by welding them. Need ability to place them back!

[2019-04-10 14:28] chairbender commented on #1525
I think those are nice to have features, but it sounds like you didn't think marytts is an option because it doesn't work on Android and ios and would increase the game size. So I'm trying to think of an alternative.

[2019-04-10 14:29] fomalsd opened #1727 "Easy to use chat methods"
# Description
It's really hard to find an entry point to actually do what you want with chat.

_How do I..._
- _Show message just for one player?_
- _Whisper with distorted words and little range?_
- _Announce something for everyone on the station matrix – but not syndies?_
- _Display different messages to player doing some action and others within range?_
(and so on)

It needs to be super friendl

[2019-04-10 14:57] fomalsd opened #1728 "Player movement: don't cut corners when moving diagonally"
# Description
Players shouldn't go through walls/solid objects when walking diagonally.
Instead, one move should be broken into two moves

As it is now:
![GIF](https://user-images.githubusercontent.com/10403536/55888986-df8d0700-5b9f-11e9-9601-164a32aaa5bc.gif)
Should be:
![GIF](https://user-images.githubusercontent.com/10403536/55889096-106d3c00-5ba0-11e9-853f-4905ad0160c8.gif)

It would also fix

[2019-04-10 15:01] fomalsd commented on #1454
Need this rather sooner than later

[2019-04-11 03:19] chairbender commented on #1728
why not?

For the issue of crossing matrices that are impassable, yes we should fix that. But why not be able to move through a corner like this (when only one edge is impassable)?

[2019-04-11 07:38] fomalsd commented on #1728
well, players clipping through wall corners look unnatural in my opinion:
![image](https://user-images.githubusercontent.com/10403536/55939161-9931b980-5c2c-11e9-9b6b-1066be6132fe.png)

also I think it's the only way to cheaply fix this matrix switch bug:
![GIF](https://user-images.githubusercontent.com/10403536/55938984-2aecf700-5c2c-11e9-9711-c7740287704e.gif)

[2019-04-11 12:42] Aranclanos commented on #1697
slap some tag on it but dont close it

we don't even know whats the exact cause of the crash

[2019-04-11 12:46] fomalsd commented on #1697
Thing is, there's no such thing as UNITY_EDITOR_LINUX yet, and Linux editors are the only ones benefiting from that empty sv_deinit method. Windows editor reportedly crashes in that case, OSX doesn't

[2019-04-11 14:26] chairbender commented on #1697
Oh sorry I thought it would be fine to close, my bad.

[2019-04-11 22:06] DooblyNoobly commented on #1362
Increasing the bounty for this one to B: 90 as it is a high priority

[2019-04-11 23:47] DooblyNoobly opened #1729 "TODO: Cloning Console GUI and basic Cloning Operating System B: 200"
# Criteria

This job is to begin work on the Cloning Console GUI and to build the foundation of the Cloning Operating System. When a player clicks on the Cloning Computer the Cloning Console GUI should appear as a pop up NetTab (see how it is handled via GUI_Paper).

This Job is for creating the Graphical Interface to use the Cloning Machine and for wiring up all the buttons so they trigger action

[2019-04-12 03:36] HydraulicSheep commented on #1598
I'll take a look at this.

[2019-04-12 13:46] HydraulicSheep commented on #1598
Ok so I've fixed the broken gasp text with my latest [commit](https://github.com/HydraulicSheep/unitystation/commit/7d2ebd48fa68f3b7921b3645499820b907529eea)
I'm still working on the oxygen behaviour issues

[2019-04-12 13:48] HydraulicSheep commented on #1598
The text now reads "{Player} gasps" and only shows for nearby players

[2019-04-12 13:52] fomalsd commented on #1598
@HydraulicSheep try checking it with animals (vent a room with Pete for example), I think it might give you an NRE because animals don't have playerScript

[2019-04-12 14:46] HydraulicSheep commented on #1598
This now works for both humans and non-humans.
![Petegasps](https://user-images.githubusercontent.com/24516366/56045913-7ff05080-5d85-11e9-8439-2483a9b0415e.png)

[2019-04-12 14:47] HydraulicSheep commented on #1598
There is also definitely an issue where you continue taking damage from oxygen-loss even after you have returned to a safe environment. Is this intended?

[2019-04-12 14:54] Fishfish458 commented on #1598
right now, rooms vent super fast, it might be that you're still in an oxygen-less room.

[2019-04-12 20:02] JacobSweeten commented on #1454
Haven't contributed in a while, but I can give it a shot this weekend. I'll update you on whether or not it's feasible for me to complete when I get to look at it.

[2019-04-12 21:48] DooblyNoobly commented on #1726
A bounty of 60usd will be awarded to the contributor on the successful merge of this feature.

[2019-04-12 22:14] DooblyNoobly opened #1730 "TODO: Cargo Ordering Console and Shuttle System B: 290"
# Criteria

This job is to develop the Cargo Ordering Console GUI, the Cargo Ordering Computer Machine Prefab and to control the functionality of the Cargo Shuttle. When a player clicks on the Cargo Ordering Console the Ordering Console GUI should appear as a pop up NetTab (see how it is handled via GUI_Paper).

You will need to first create an Ordering Console Machine and map it in the Cargo Depa

[2019-04-12 22:16] DooblyNoobly commented on #1362
Looks like no one is working on this atm, removing in progress tag and applied High Priority tag

[2019-04-12 22:17] DooblyNoobly commented on #1725
Contributor will receive a bounty of 25usd on a successful merge of a solution that satisfies the criteria above.

[2019-04-12 22:19] DooblyNoobly commented on #1724
This ticket covers a lot of the little jobs I was going to write out for medbay and medical. So slapping a large bounty on this ticket instead. Please ask for more clarification if it is needed.

Contributor will receive a bounty of 160usd on a successful merge of a solution that satisfies the criteria above.

[2019-04-12 22:22] DooblyNoobly commented on #1723
You could use the particle system here if you like as well. Check the shader that is being used by the Plasma Generator smoke to make it compatible with FOV.

Contributor will receive a bounty of 80usd on a successful merge of a solution that satisfies the criteria above.

[2019-04-12 22:22] DooblyNoobly commented on #1722
Contributor will receive a bounty of 80usd on a successful merge of a solution that satisfies the criteria above.

[2019-04-13 05:48] HydraulicSheep commented on #1598
Yeah thanks @Fishfish458 I've double-checked and I can't reproduce any other suspicious oxygen behaviour. I think any other issues were fixed in https://github.com/unitystation/unitystation/pull/1648

[2019-04-13 05:49] HydraulicSheep commented on #1598
I'm opening a PR

[2019-04-13 11:40] Aranclanos commented on #1726
I'll take a look

[2019-04-13 13:38] HydraulicSheep commented on #1614
I'll take over this. @Scrando asked for someone to take over in this [PR](https://github.com/unitystation/unitystation/pull/1646)

[2019-04-13 16:39] Jibbajabbafic commented on #948
Made some progress but won't be able to work on this for the next 2 weeks so if anyone wants to take over please feel free. I'll finish what I've got when I'm back.

[2019-04-13 23:15] #1598 closed, assigned to nobody

[2019-04-14 07:20] HydraulicSheep commented on #1614
I believe I have fixed this. My solution checks to see if a player has a job via PlayerList and then confirms that they do not before assigning a job.

[2019-04-14 08:57] #1614 closed, assigned to nobody

[2019-04-14 12:07] Aestras opened #1733 "Items aren't thrown onto selected tile"
# Description
As throwing works now, thrown items are either thrown past where you select or are unable to land on the surface you throw them on, such as a table. Items thrown towards tables hit the tables rather than land on them or past them.
## Category
BUG or TODO?
BUG
## Detailed Bug Report
![GIF2](https://user-images.githubusercontent.com/15038188/56092611-d93ea980-5e83-11e9-9e4e-232ffca0cdc

[2019-04-14 12:23] Aestras opened #1734 "Door closing on player will suffocate them"
# Description
On the rare occasion that a door closes on you, usually from passing between them too often, it can close on you, which would be fine since it immediately reopens, but in the tick that it's closed for, it suffocates players inside it.
## Category
BUG or TODO?
BUG
## Detailed Bug Report
![GIF3](https://user-images.githubusercontent.com/15038188/56092783-f96f6800-5e85-11e9-9bee-703f58d

[2019-04-14 12:29] RokaJosh commented on #1723
I'll give this a go

[2019-04-14 12:31] HydraulicSheep commented on #1722
I'll take a look at this

[2019-04-14 12:38] Aranclanos commented on #1734
dupe of https://github.com/unitystation/unitystation/issues/1689

[2019-04-14 12:38] #1734 closed, assigned to nobody

[2019-04-14 12:38] Aestras commented on #1734
I'm an idiot

[2019-04-14 15:12] JacobSweeten commented on #1454
Can we get this marked WIP?

[2019-04-14 20:50] DooblyNoobly commented on #1454
done

[2019-04-15 15:33] HydraulicSheep commented on #1722
I have made a PR here: https://github.com/unitystation/unitystation/pull/1736

[2019-04-15 19:32] fomalsd commented on #1733
Hitting tables is indeed a bug;
Sliding on surface after landing is intended though: Items stop flying on the desired tile, but slide a bit further on the floor (do no damage while sliding). Wet floors are supposed to have low friction, so items will slide even further on these (when implemented)
Perhaps default sliding distance could be tweaked

[2019-04-16 10:50] Aranclanos opened #1738 "There's a small flicker on the background at login"
# Description
When logging in from the start menu, the stars on the background change possition in a noticeable way
![image](https://user-images.githubusercontent.com/701959/56203661-0f169600-601c-11e9-8b19-d0454e15b42d.png)
notice how the stars change possition, its way more obvious watching it live
happens with both client and server

## Category
BUG

## Steps to Reproduce
Please enter the steps

[2019-04-16 10:56] Aranclanos opened #1739 "Scrubbers and vents have the old sprite"
# Description
![image](https://user-images.githubusercontent.com/701959/56204020-db883b80-601c-11e9-8b84-71baa5c2b2f4.png)
/tg/ got a new scrubber and vent sprite, unitystation is still using the super old one, see image for the differences

## Category
TODO

[2019-04-16 11:05] Aranclanos opened #1740 "Food and drinks lose their sprite when consumed"
# Description
![image](https://user-images.githubusercontent.com/701959/56204321-8a2c7c00-601d-11e9-8f21-4a9dd404fcdc.png)
Meat, icy soda and beef jerky seems to convert into a white square that goes invisible if its on the floor. 4NoRaisins seem to work properly

![image](https://user-images.githubusercontent.com/701959/56204604-2eaebe00-601e-11e9-8ab4-8a5cea6d1758.png)
4NoRaisins and beef jerky

[2019-04-16 11:08] Aranclanos opened #1741 "Cant place extinguishers back on their lockers"
# Description
Once you take out a fire extinguisher from their locker, you can't place them back on them.
The extinguisher code checks if the object name string is "extinguisher" to accept it back inside, they're called "fire extinguishers" so they're rejected

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Take out fire extinguisher from their l

[2019-04-16 11:16] Aranclanos opened #1742 "Windows block vision for objects on top of walls (APCs only?)"
# Description
![image](https://user-images.githubusercontent.com/701959/56205118-48043a00-601f-11e9-97c4-0acf273934b5.png)
It's very noticeable on the APC in front of the captain's office, when walking on the room to the right it disappears from your vision, I cant seem to find this error in other part of the station

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the b

[2019-04-16 11:18] Aranclanos opened #1743 "Can't examine equipped items"
# Description
It seems to be impossible to inspect an item equipped or in-hand, right clicking doesnt seem to do anything and shift-click is also rejected

## Category
TODO

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Pick up an item and leave it in-hand or equip it
2.Try to inspect it
3.Find no option to do so

[2019-04-16 11:24] Aranclanos opened #1744 "JoinedViewers have a human UI"
# Description
![image](https://user-images.githubusercontent.com/701959/56205583-9bc35300-6020-11e9-930c-0f40e354ecfe.png)
![image](https://user-images.githubusercontent.com/701959/56205575-91a15480-6020-11e9-813d-58b8dd0e9c65.png)
Oxygen warning, internals toggling, health seem to show up when selecting role (nanotrasen or syndi)
If you pick nanotrasen, the rest of the UI shows up when you're onl

[2019-04-16 11:30] Aranclanos opened #1745 "Spamming left-right-left-right movement keys behaviour"
# Description
If you move left and right fast, the game seems to miss or ignore some keypresses, making you move twice on the same direction.
The idea is to stay on an area of two turfs while constantly moving

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.try to move back and forward in the same two turfs/tiles by only pressing left and right
2

[2019-04-16 11:32] Aranclanos opened #1746 "right-ctrl doesnt seem to be registered for pulling"
# Description
When using right-ctrl to pull something, the game decides to ignore it. Pulling only works if you use the left side ctrl. I'm talking about the keyboard positioning of both ctrl keys

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Use right-ctrl click to pull something
2.Notice how the game registers a normal click, ignoring your ct

[2019-04-16 11:35] Aranclanos opened #1747 "ID, belt and pockets stay equipped when taking off your suit"
# Description
![image](https://user-images.githubusercontent.com/701959/56206264-57d14d80-6022-11e9-9d49-309b8dc2538d.png)
Notice how the character isn't wearing a suit, yet, the pockets and belt items stay on their place. I'm assuming it happens with your belt slot too.

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Place items in your pockets/

[2019-04-16 11:38] Aranclanos opened #1748 "Inconsistency with in-hand sprites (chef only, maybe there's more)"
# Description
![image](https://user-images.githubusercontent.com/701959/56206391-a8e14180-6022-11e9-9a69-a80bc14defef.png)
On this image, the chef's suit (not exosuit) is invisible on-hand and the chef hat has the exosuit sprite on-hand
I am not aware if there's more in-hand sprite inconsistencies, I haven't tested much

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce th

[2019-04-16 11:41] Aranclanos opened #1749 "Shooting is wonky B: 60"
# Description
1) ~~Broken grilles sometimes stop bullets~~ old unity version triggered this
![image](https://user-images.githubusercontent.com/701959/56206669-48063900-6023-11e9-8ac5-e28c3213ac6f.png)
In this image im shooting down, but the window bellow isn't being shot as the broken grille is stopping bullets
1.Break a window
2.Try to shoot through the hole
3.Notice how the broken grille stops y

[2019-04-16 11:45] Aranclanos opened #1750 "Closed tab should minimize tab holder if it was minimized before opening tab"
# Description
![image](https://user-images.githubusercontent.com/701959/56206882-c7940800-6023-11e9-9f9f-61d04dddcefa.png)
While the window is no longer related to the APC and it turns into the player list, it should close instead of staying open (unless you had it open before interacting with the APC?)

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviou

[2019-04-16 11:45] fomalsd commented on #1739
I'd say "won't fix". /tg/ also has new locker sprites as well as fuel tank sprite, we don't use them on purpose.
I'd rather keep old sprites that everybody recognizes.
If someone else disagrees with me, this can be reopened

[2019-04-16 11:46] Aranclanos commented on #1739
I disagree

[2019-04-16 11:49] fomalsd commented on #1740
Yes, it's known. Caused by me removing a bunch of old spritesheets:
bullet shells are affected as well

[2019-04-16 11:50] fomalsd commented on #1741
Yeah, extinguisher cabinet code is old

[2019-04-16 11:52] fomalsd commented on #1746
yeah, noticed that, too. Right Cmd needs to initiate pull as well

[2019-04-16 11:53] fomalsd commented on #1747
yeah, clothing should be refactored so that suits would actually have slots

[2019-04-16 11:58] fomalsd commented on #1748
that can happen: SpriteManager currently only supports one spritesheet per clothing type.
So if DMI data has an inhands offset in a spritesheet that's different from one in SpriteManager there could be mismatches

[2019-04-16 12:02] Aranclanos opened #1751 "Syndie shuttle starts with its lights off"
# Description
![image](https://user-images.githubusercontent.com/701959/56207844-25295400-6026-11e9-925e-e319f27a7bc9.png)
All the lights seem to be off, but for the medical room on the bottom left. The switches dont seem to do anything

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Go to the syndie shuttle/spawn as one
2.Notice the darkness
3.T

[2019-04-16 12:02] Aranclanos commented on #1751
also the light tubes have the 'on' sprite

[2019-04-16 12:05] fomalsd commented on #1751
@Bod9001 could you look into this again please? it's been like that for around 6 months now, I think

[2019-04-16 12:07] Aranclanos opened #1752 "Full spacesuit doesnt block hair"
# Description
![image](https://user-images.githubusercontent.com/701959/56208005-7d605600-6026-11e9-87fc-d04691345d8d.png)
Your hair sprite seems to ignore the fact that you're using a full body spacesuit and appears glamorously

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Put on a space suit while having long hair
2.Notice how the hair sprite

[2019-04-16 12:09] fomalsd commented on #1752
yes, indeed: clothes don't utilize hiding flags like `"flags_inv": "HIDEHAIR"`

[2019-04-16 12:12] Aranclanos opened #1753 "Suits hide beards"
# Description
![image](https://user-images.githubusercontent.com/701959/56208472-9cabb300-6027-11e9-9c34-a6c12670dd56.png)
Your suit will appear on top of your beard suit, it also happens with exosuits

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Get a character with a long beard
2.Wear a suit
3.Notice how part of the sprite is hidden by your

[2019-04-16 12:14] fomalsd commented on #1753
Duplicate of #1752

[2019-04-16 12:14] #1753 closed, assigned to nobody

[2019-04-16 12:15] fomalsd commented on #1750
Should probably be rephrased to "Closed tab should minimize tab holder if it was minimized before opening tab"

[2019-04-16 12:17] Aranclanos opened #1754 "Triggering grenades doesnt active the throw action"
# Description
When triggering your grenade on, your throw action won't be turned on, forcing the player to activate it manually

## Category
TODO

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Get a grenade
2.Activate it
3.Aim and click
4.Nothing happens as your throw action wasn't activated

[2019-04-16 12:18] fomalsd commented on #1742
It's how wallmounts work. This APC is positioned left and therefore will only be seen if player is to the left of it

[2019-04-16 12:19] fomalsd commented on #1754
is this a thing on /tg/? sounds more like an UX improvement than a bug

[2019-04-16 12:20] Aranclanos commented on #1754
Yes, and its extremely old

[2019-04-16 12:20] Aranclanos commented on #1742
the thing is that its a window

[2019-04-16 12:22] Aranclanos opened #1755 "Grenades lack 'activated' mode"
# Description
Grenades should have a sprite and sound showing that they're activated

## Category
TODO

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Activate a grenade
2.Notice lack of ongoing sound or sprite showing that the grenade is activated and about to blow

[2019-04-16 12:30] Aranclanos opened #1756 "Strings dont fit in the "Choose profession" window"
# Description
![image](https://user-images.githubusercontent.com/701959/56209467-01680d00-602a-11e9-9f8c-12cd861fa9f6.png)
Some strings of the buttons dont fit
Notice how [SECURITY_OFFICER (0 of] doesn't really fit in the button, the same with quartermaster and the chief engineer is questionable

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Log

[2019-04-16 12:31] fomalsd commented on #1749
![GIF](https://user-images.githubusercontent.com/10403536/56209586-78f66600-6043-11e9-81f9-e58b9bda0db7.gif)
hm, they appear to go through for me

[2019-04-16 12:33] fomalsd commented on #1738
Maybe it's due to camera teleporting to the place where serverplayer initially appeared (somewhere around top-right of the station) back when space duplicate players were a thing

[2019-04-16 12:36] Aranclanos opened #1757 "Player's eyes see through walls"
# Description
![image](https://user-images.githubusercontent.com/701959/56209805-c6b2a480-602a-11e9-8517-b2ffeb4fa904.png)
On this image I'm opening a door with another client, yet I'm seeing it happen even thought its in another room behind a wall. In reality, the whole area behind the wall should be black

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or beha

[2019-04-16 12:37] fomalsd commented on #1745
Ahh, I think it's due to `MoveCooldown` in PlayerSync.Client that filters out move requests that happen faster than a decisecond. Was designed to avoid spamming server with move requests

[2019-04-16 13:05] Aranclanos commented on #1749
It doesn't happen on the steam server, but I can reproduce it locally both in the editor and build. Weird one

[2019-04-16 13:07] fomalsd commented on #1749
might be related to general unreliability of unity's Physics2D (bullets use RigidBodies) and raycasts

[2019-04-16 14:44] Jibbajabbafic commented on #1746
The right Ctrl not working is definitely a bug ~~but I made Cmd equivalent to Ctrl because I didn't think all Macs had both Ctrl and Cmd keys. Should be an easy fix though~~ <- misread foma's comment, nvm

[2019-04-16 14:49] Jibbajabbafic commented on #1751
Duplicate of #1390

[2019-04-16 21:46] DooblyNoobly commented on #1739
Removing Questionable tag, I think we should have the new sprites as they look better then the old ones. And its probably not hard to implement as its just changing some things in the prefabs.

[2019-04-17 00:42] chairbender commented on #1757
Are we sure we want to make FOV-obscured tiles completely black? I'm wondering if there's a reason it's not currently done that way.

I'm pretty sure a change like this will require shader coding.

[2019-04-17 00:48] chairbender commented on #1743
This ticket is similar to #1464 , but is more expansive.

[2019-04-17 01:00] chairbender commented on #1362
just for reference, on tgstation buckling does nothing to the character sprite when you're in a metal chair facing in any direction:
![image](https://user-images.githubusercontent.com/1329062/56253480-5c712280-6071-11e9-9baf-69c114e0ffe2.png)

but when it's facing up it puts the chair sprite on top of you (you appear on top of it until you buckle in):
![image](https://user-images.githubusercontent

[2019-04-17 01:03] Aranclanos commented on #1757
well it definitely changes the game a lot if you let everyone have masons in their eyes

[2019-04-17 02:15] chairbender commented on #1757
I'm only asking because it seems like if we wanted it done this way it would've already been done.

[2019-04-17 02:53] DooblyNoobly commented on #1757
Intention was to not animate the door at all if you can't see it. So it looks closed, but if its opened you won't see its opened state until its no longer under the FoV shroud. Haven't thought about how to actually implement that though.

[2019-04-17 08:31] fomalsd commented on #1757
I previously experimented with making doors FoV-masked (disappear if not in line of sight), but that didn't look good.
Will probably have to wait until we implement network culling system (which is a huge undertaking)

[2019-04-17 23:41] Fishfish458 commented on #1725
doing some looking into this one

[2019-04-18 02:25] chairbender commented on #1668
Per @Aranclanos :
"CanUse() broke and now vending machines and others that use it wont respond to clients"

[2019-04-18 02:44] chairbender commented on #1668
@Aranclanos

I wouldn't call it broken. The only change I made was that it no longer has the side effect of sending an interaction message to the server when it is invoked on the client side. I removed this behavior because it doesn't make sense to have a method called "CanUse" which has a quite significant and undocumented side effect of performing network communication - the method was doing too

[2019-04-18 02:46] chairbender commented on #1668
We will not restore the old side-effect of CanUse. Instead I will go through the users of this method and ensure they send an interaction message when they need to rather than relying on this side effect.

[2019-04-18 03:05] #1668 closed, assigned to chairbender

[2019-04-18 03:46] chairbender opened #1760 "Refactor mouse interaction system"
# Description
A number of us have had difficulties working with, understanding, and building on the current interaction system. Let's use this ticket to try to figure out what we don't like about it, what we would want in an alternative, and to come up with a plan for how we could make it better. We can add comments to list our ideas and update this description based on our conclusions.

By "inter

[2019-04-18 04:47] chairbender commented on #1760
Some things I don't like:

1. InputTrigger has logic for drag interactions...I don't think this should be needed. The only kind of drag interactions in SS13 are holding down while shooting an automatic weapon, drag and drag and drop interaction for things like buckling in (which will be handled by a different component that I'm already working on). I'd like to take this stuff out of InputTrigger.

[2019-04-18 05:34] chairbender commented on #1760
We also might want to think about refactoring right click as part of this (or as a second step). The actual look and feel of it is fine, but I don't know if the current approach is very scalable from a coding perspective. Any time you would want a new right click option, you would have to manually add that to the SpriteDictionary setup code in Rightclick.cs. I'm not saying it's possible to avoid h

[2019-04-18 06:19] chairbender commented on #1760
Oh and another thing to think about with interaction is which side of the interaction will have its component invoked. Or both. For example think about a mop. Do we invoked interact on the tile, and let the tile's component check which tool is being used and apply the appropriate logic? Then the tile logic could become quite large... It would have logic for every possible thing that could be done

[2019-04-18 14:38] chairbender commented on #1760
Slept on it and got some more ideas this morning about improvements. Will sketch some class skeletons out and post here when I get a chance.

[2019-04-18 15:39] chairbender commented on #1760
okay, here's how the system would look now. We're doing away with InputTrigger, instead the base classes would look like this. Each type of interaction has its own base class, separate base class for each side of the interaction, and separate methods for client / server. It creates a lot more base classes, but ultimately makes it more flexible and supports using inheritance more easily to share co

[2019-04-18 16:04] chairbender commented on #1760
With the above classes, here's how it would look when MouseInputController checks for a hand application:
[code]

[2019-04-18 16:24] chairbender commented on #1760
(also, planning to change my plans for drag and drop interaction so that it works in the same way as this - using an abstract base component rather than the UnityEvents which I originally planned on)

[2019-04-18 16:28] Aranclanos commented on #1724
Gonna start with this one

[2019-04-18 22:54] Bod9001 commented on #1747
I wonder if you could have a variable amount of pockets?
"Assistance running around with fishing vests"

[2019-04-19 12:45] fomalsd commented on #1747
![pockets](https://user-images.githubusercontent.com/10403536/56424689-eb17b680-62a0-11e9-9ce7-283b6c8ccf1f.png)

[2019-04-19 18:46] ShadyGamma commented on #1276
I'll look into it

[2019-04-19 18:55] ShadyGamma commented on #1276
Additional info:
-remember to synchronize the new tab, so that the Player can always see it, even after logout and login

[2019-04-20 17:31] #1429 closed, assigned to nobody

[2019-04-21 09:47] fomalsd commented on #1740
Also glass shards

[2019-04-21 10:59] fomalsd commented on #1670
I think atmos always stops/doesn't start on steam server

[2019-04-21 11:00] fomalsd commented on #1600
fixed

[2019-04-21 11:00] #1600 closed, assigned to nobody

[2019-04-23 02:01] DooblyNoobly opened #1765 "Leaving and rejoining the game while in a locker places you in space B: 20"
# Description

Join as client, get into a locker, then log out.

When rejoining, you show up out in the middle of space (HiddenPos) until someone pulls you out of the locker.

Expected behavior is that your camera would focus on the locker you were in when you logged out.

A bounty of 20usd will be awarded to the contributor on a successful merge of a solution to this bug.

[2019-04-23 02:02] DooblyNoobly commented on #1765
Please note only contributors with the discord role "Engineer" can complete this ticket as you need access to the steam server.

[2019-04-23 02:05] DooblyNoobly opened #1766 "Leaving and Rejoining steam server as a ghost or in crit causes unexpected behaviours B: 20"
# Description
Please note only contributors with the discord role "Engineer" can complete this ticket as you need access to the steam server:

#### Issue 1:

As client, die and become a ghost. Log out while you are a ghost.

When you rejoin, you appear completely white (no playerprefs are applied).

Expected is that your playerprefs are applied and you have the correct appearance.

#### Issue 2:

[2019-04-23 02:07] DooblyNoobly opened #1767 "Leaving and Rejoining steam server while standing in opened airlock causes unexpected behaviour B: 20"
# Description
Please note only contributors with the discord role "Engineer" can complete this ticket as you need access to the steam server:

if you log out while standing in opened airlock, you'll join back inside a closed one and won't be able to get out of it:

![image](https://user-images.githubusercontent.com/20813925/56547291-49ee7000-65c0-11e9-9c8e-f8a3bd2755d6.png)

A bounty of 20usd will

[2019-04-23 05:10] #1726 closed, assigned to nobody

[2019-04-23 05:46] #1390 closed, assigned to nobody

[2019-04-23 06:15] DooblyNoobly opened #1768 "Lighting system blocks mouse interaction intermittently B: 35"
# Description

Clicking is blocked intermittently by lighting system for some reason.

To recreate, try clicking on closets as it seems to affect them a lot. You can also try to spawn as syndie, rotate the shuttle 90 degrees then try to click on a closet in the shuttle, you'll notice that it is hard to open.

Foma has done some investigating and believes it is to do with lighting FoV checks. Parti

[2019-04-23 11:47] #1751 closed, assigned to nobody

[2019-04-23 11:50] fomalsd commented on #1268
CPU strain is mostly gone after collision layer tweaks

[2019-04-23 11:51] #1268 closed, assigned to nobody

[2019-04-23 11:54] fomalsd commented on #1279
is it still a thing?

[2019-04-23 11:57] fomalsd commented on #1566
will be fixed with #1583

[2019-04-23 12:03] fomalsd commented on #1699
https://cdn.discordapp.com/attachments/443317202179981322/569261880644861962/stuck_inv.gif
Reproduced by @chairbender on steam server. Exact steps are still unknown though

[2019-04-23 14:53] Aranclanos opened #1770 "Backpacks fit in pocketslots"
# Description
as the title says, backpacks fit in pocket slots
![image](https://user-images.githubusercontent.com/701959/56590883-304c2900-65be-11e9-9a2d-4af8d1b041bd.png)

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Get a backpack in your hand
2.Click on pocketslot
3.Succeed at putting your backpack in your pocket

[2019-04-23 14:54] Aranclanos opened #1771 "Crit bloodscreen stays after logging out"
# Description
![image](https://user-images.githubusercontent.com/701959/56591072-7dc89600-65be-11e9-8fb1-45b736a4e416.png)
If you logout in crit, the bloodscreen/redscreen will stay on the lobby screen

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Get to crit state and get the bloodscreen
2.Logout
3.Notice the bloodscreen not going away

[2019-04-23 14:56] Aranclanos opened #1772 "Dev spawner doesnt recognize the search 'plasma' for the 'solidplasma' object"
# Description
![image](https://user-images.githubusercontent.com/701959/56591265-cb450300-65be-11e9-80f4-e589313274e0.png)
The plasma sheets are called 'SolidPlasma' and do not appear if you write 'plasma'

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Type 'plasma' on the dev spawner
2.Get only the envirosuit plasma clothes and no plasma sheets

[2019-04-23 15:01] Aranclanos opened #1773 "There's an APC on top of a window"
# Description
![image](https://user-images.githubusercontent.com/701959/56591562-5c1bde80-65bf-11e9-9ff3-720dabf58172.png)
This APC located in front of the captain's office is on top of a window, APCs should only be on top of walls

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Start the game and head towards the room in front of the captains of

[2019-04-23 15:01] chairbender commented on #1772
@Aranclanos

Temporary solution - just use wildcards when you do the search.
*plasma

More long-term solution - the analyzer should split on camel case.

[2019-04-23 15:11] Aranclanos opened #1774 "Lying down monkeys dont turn their tails"
# Description
![image](https://user-images.githubusercontent.com/701959/56592279-be291380-65c0-11e9-9121-28ae0e318c07.png)
Notice the tail direction change difference of the unity and byond versions. The unity version is also a few pixels above than it should be.

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Stab punpun to crit
2.Notice when he

[2019-04-23 15:18] Aranclanos opened #1775 "Oxygen tank sprite issues"
# Description
![image](https://user-images.githubusercontent.com/701959/56592639-7656bc00-65c1-11e9-8424-bcc92b95aea9.png)
The oxyen tanks use their old sprite, use incorrect in-hand sprites (probably use the emergency oxygen tank in-hand sprite) and when they're on the floor they seem to be too small

## Category
BUG & TODO

## Steps to Reproduce
Please enter the steps to reproduce the bug or beh

[2019-04-23 15:20] Aranclanos opened #1776 "Dev destroy object doesn't seem to work on certain objects"
# Description
When clicking on top of some objects of the game, the dev destroy option doesnt seem to work on airlocks, scrubbers, vents, tables, wallmounts, windows and maybe more

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Select dev destroy object option
2.Click on the list above
3.Notice they ignore your clicking and do not get deleted

[2019-04-23 15:23] chairbender commented on #1776
It specifically avoids trying to delete wallmounts and tiles. This could be expanded, but I tried to avoid them because I didn't want to figure out how they sync their state over the network, since they don't have a CNT so they need to be synced in a different way when creating / destroying. Probably not too hard to figure out though.

[2019-04-23 15:24] Aranclanos opened #1777 "Slippery tiles with water decal is invisible"
# Description
![image](https://user-images.githubusercontent.com/701959/56593770-7e632b80-65c2-11e9-9f7b-25321b03f06b.png)
Currently, tiles with water on top of them have no sprite this is how they should look

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Use a mop on the floor
2.Finish cleaning
3.Notice the lack of sprite on top of the tile

[2019-04-23 15:32] Aranclanos opened #1778 "ProgressAction cancels on character turning"
# Description
If your character turns, the progress action will stop.

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Find anything that uses a progress action, in this case for example, a mop
2.Start cleaning the floor
3.Click behind you
4.Your character will turn and stop the progressaction bar, stopping you from cleaning the floor tile

[2019-04-23 15:38] Aranclanos opened #1779 "Sprite strange behaviour when overlapping walls"
# Description
![image](https://user-images.githubusercontent.com/701959/56595024-41983400-65c4-11e9-910c-cf807630ffb4.png)
If an object is on top of a out of vision tile, but its sprite overalps a wall, the part of the sprite that is on top of the wall will be visible
Notice how the beef jerky on this image is half-visible where it shouldn't be visible at all

## Category
BUG

## Steps to Reproduc

[2019-04-23 15:42] Aranclanos opened #1780 "Can't clean more than one tile at the same time"
# Description
Probably related to ProgressAction, when using the mop, I can't clean other tiles next to me at the same time unless I cancel the current progress action. I should be able to clean all at the same time

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Click on a tile with a mop to clean it
2.Click on the tiles next to it to clean them

[2019-04-23 15:47] Aranclanos opened #1781 "Captains room not captain-only access"
# Description
![image](https://user-images.githubusercontent.com/701959/56595838-be77dd80-65c5-11e9-8195-6bd243366db7.png)
Captain's chambers seem to have command access instead of captain only, or at least it seems so, I only tested it with the CMO

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Spawn as any command role (CMO only?)
2.Head to th

[2019-04-23 15:53] Aranclanos opened #1782 "Can see Ian through walls"
# Description
![image](https://user-images.githubusercontent.com/701959/56596102-465de780-65c6-11e9-8681-6a9ea83b0dbc.png)
Noticed it on the steam server, I can see Ian through the walls even when the scrubber, vent and wallmount disappear on closing/opening the door
I also placed him next to Runtime, and Ian stays on my screen while Runtime disappears when out of vision.

## Category
BUG

## Step

[2019-04-23 16:08] fomalsd commented on #1782
yeah, not sure why it happens, Ian's sprites are FoV-masked

[2019-04-23 16:13] fomalsd commented on #1778
it was initially intended for welders I think, should welding continue if you turn during welding?

[2019-04-23 16:16] fomalsd commented on #1776
airlocks do have CNT though

[2019-04-23 17:53] chairbender commented on #1776
yeah, but I think the dev deleter is excluding by layer, so doors are one of the layers that are excluded

[2019-04-23 19:07] fomalsd commented on #1777
ah, I specifically asked author not to leave these, my fault
should be easy to re-enable them

[2019-04-23 19:09] fomalsd commented on #1781
might be a good idea to convert this issue to address all access-related bugs
I think sec doesn't have access to airlocks and detective doesn't have access to either dorms or maint
(probably there are a lot more oversights)

[2019-04-23 19:46] fomalsd commented on #1779
yeah, might consider stopping items half tile earlier, at the moment the only solid part is item's center so its sprite can overlap walls
OR
modify items' layer order so that they are below walls

[2019-04-23 22:47] Itsnotjames commented on #1768
Can't reproduce. Been clicking these lockers for awhile but every click opens/closes the locker.
![6YrH4xE](https://user-images.githubusercontent.com/28093344/56620786-3e617e80-667e-11e9-9220-208cbd7176b5.png)

[2019-04-24 07:44] fomalsd commented on #1740
Also likely window cracks

[2019-04-24 08:40] fomalsd commented on #1775
gotta make proper emergency oxygen tanks and big ones, current one is a mix of both: it's big (not pocketable), but has little air inside

[2019-04-24 08:49] fomalsd commented on #1773
Is #1742 still relevant then?

[2019-04-24 09:39] fomalsd commented on #816
superseded by #1722

[2019-04-24 09:39] #816 closed, assigned to nobody

[2019-04-24 09:43] fomalsd commented on #1453
is this still worked on?

[2019-04-24 09:49] fomalsd commented on #1778
should probably introduce some flags to progress actions like "allow multiple" and "allow changing direction"

[2019-04-24 09:54] fomalsd commented on #1768
try clicking things right after you stop walking

[2019-04-24 12:41] Bod9001 commented on #1742
You could make it check if it's on a wall before  Making itself disappear with the Wall mounte behaviour

[2019-04-24 16:27] Aranclanos commented on #1773
dunno because I dont know if they still would block the vision of an apc on top of a wall

[2019-04-24 16:30] Aranclanos commented on #1778
![image](https://user-images.githubusercontent.com/701959/56676632-15001d00-6695-11e9-8fbb-b888331bbe10.png)
aye mass welding works

[2019-04-24 16:33] Aranclanos commented on #1742
why are windows walls?

[2019-04-24 16:35] Bod9001 commented on #1742
well I'm saying it doesn't implement that yet, For example when you place A wall mount  In the middle of the floor

[2019-04-25 07:05] DooblyNoobly commented on #1724
Most of these have been completed via #1783
We are just working out what is left todo and will split the bounty + split out remaining issues into new ones

[2019-04-25 07:13] #1782 closed, assigned to nobody

[2019-04-26 03:38] Aranclanos commented on #1730
Gonna start with this one

[2019-04-26 05:08] fomalsd commented on #1730
@vlandemart aren't you on this already? you showed us some sketches in discord a few days ago, is there any progress?

[2019-04-26 06:38] vlandemart commented on #1730
I was going to, but only sketched a few variants of the UI and looked into NetTab code. I was planning on starting it after LDjam, but if you want to start this right now - it's ok, I'll look into something else.

[2019-04-26 15:20] chairbender opened #1789 "Implement load testing capability"
# Description
In order to ensure our game scales to a large number of players, we should have the capability to run a load test. We should also be able to scale up the load until the game becomes unplayable in order to do a stress test.

The basic idea for how this would work is that we have a server running somewhere. Then we have simulated clients that could be run on whatever hardware is availa

[2019-04-26 15:24] chairbender commented on #1789
Here's an interesting article about how Photon would suggest doing this (we aren't on photon but it's still, they have some pointers:
https://doc.photonengine.com/en-us/server/current/performance/performance-tests

One important call out is that they say using an actual game client to put load on the server is not recommended, due to how the clientside can end up becoming a bottleneck.

Given that

[2019-04-26 15:28] chairbender commented on #1725
Here's my suggestions from another ticket for how rightclick should work:
We also might want to think about refactoring right click as part of this (or as a second step). The actual look and feel of it is fine, but I don't know if the current approach is very scalable from a coding perspective. Any time you would want a new right click option, you would have to manually add that to the SpriteDicti

[2019-04-26 15:29] chairbender commented on #1725
@Fishfish458 are you still planning on working on this?

[2019-04-26 15:41] chairbender commented on #1789
Also, we should try to run a few actual clients and monitor network performance to be able to predict the amount of load / traffic generated per client (which may not be linear) so we can validate that our load tests are sending comparable amounts of load.

[2019-04-26 15:45] Fishfish458 commented on #1725
Having computer trouble at the moment unfortunately, if anyone else wants to look at it go for it

[2019-04-27 12:25] #1781 closed, assigned to nobody

[2019-04-27 12:31] DooblyNoobly commented on #1724
9 / 10 criteria was completed via #1783

Will split remaining tasks into their own issues and close this one. B144 will be paid out

[2019-04-27 12:31] #1724 closed, assigned to nobody

[2019-04-28 00:56] #1362 closed, assigned to chairbender

[2019-04-29 10:38] Aranclanos commented on #1730
vland is doing it

[2019-04-30 21:19] Aranclanos opened #1794 "Can see cables through walls"
# Description
![image](https://user-images.githubusercontent.com/701959/56994054-65cfb400-6b74-11e9-95fe-2f7eb7b3b38b.png)
Those cables in the maint tunnel are out of vision and should be hidden

## Category
BUG

[2019-04-30 21:21] Aranclanos opened #1795 "Cables colour pattern changes"
# Description
![image](https://user-images.githubusercontent.com/701959/56994128-9c0d3380-6b74-11e9-8303-86285b767281.png)
Above the dorms these blue cables with yellow stripes seem to loose their yellow stripes and be only blue for two turfs. I don't know if there are more cases.

## Category
BUG?

[2019-04-30 21:22] Aranclanos opened #1796 "The devspawner can't seem to spawn objects on top of tables"
# Description
![image](https://user-images.githubusercontent.com/701959/56994247-e2fb2900-6b74-11e9-9862-e020b6cb5853.png)
I'm clicking on top of the table but nothing happens, the item never spawns. Clicking on the floor works fine.

## Category
BUG

[2019-04-30 21:24] Aranclanos opened #1797 "Right clicking shows cables in covered tiles"
# Description
![image](https://user-images.githubusercontent.com/701959/56994320-1c339900-6b75-11e9-964e-a7c5e461e4a0.png)
Here I'm right clicking on the turf in front of the character, and a cable shows up in the interface even if its hidden under the tile

## Category
BUG

[2019-04-30 21:27] Aranclanos opened #1799 "Problems when clicking walls to weld"
# Description
![image](https://user-images.githubusercontent.com/701959/56994434-76ccf500-6b75-11e9-8c2b-eb1534a27035.png)
Here I roughly painted with green the area that you CAN click and with red the area that you CAN'T click.
If you click on the green area, you'll start welding the wall. If you click on the red area, nothing will happen.

## Category
BUG

[2019-04-30 21:31] Aranclanos opened #1800 "Electric-dependant objects working without power"
# Description
![image](https://user-images.githubusercontent.com/701959/56994562-ce6b6080-6b75-11e9-90ac-de781f33cefe.png)
Airlocks, air alarms, computer and others work without problem even if the APC is turned off and out of power

## Category
BUG

Note:
please don't fix it'll make debugging a pain unless you increase the duration of the engine or enable some dev tool add plasma to it and turn i

[2019-04-30 21:34] Aranclanos opened #1801 "There are many Debug.Log() messages outside of Logger.cs"
# Description
![image](https://user-images.githubusercontent.com/701959/56994812-86990900-6b76-11e9-810b-4efe38e9843d.png)
Some examples of them, personally I'd like them gone

## Category
TODO

[2019-04-30 21:39] Jibbajabbafic commented on #1794
Should be easy to fix.

Who ever takes this on just needs to change the sprite renderer material for all wire prefabs to FovMasked like so:
![image](https://user-images.githubusercontent.com/4493127/56995112-bce78000-6b98-11e9-87e9-402e6d475f50.png)

[2019-04-30 21:40] Aranclanos opened #1802 "New player welcome message job name inconsistency"
# Description
![image](https://user-images.githubusercontent.com/701959/56995108-32425900-6b77-11e9-8043-4944b7c6f0e3.png)
"Hos Edgar Butterfill has arrived at the station. Have a pleasant day! Try not to die..."

The issue is that HOS is spelled Hos.

## Category
BUG

[2019-04-30 21:43] Jibbajabbafic commented on #1797
I think @Bod9001 has this in his todo list

[2019-04-30 21:48] Aranclanos opened #1803 "Secroom lights are off in clients"
# Description
![image](https://user-images.githubusercontent.com/701959/56995476-420e6d00-6b78-11e9-8227-a6b4fda7749d.png)
In this pic the server shows the sec room having the lights on while a client who just logged in sees the light tubes turned off. Toggling the switch on and off doesn't seem to change anything.

## Category
BUG

[2019-04-30 21:57] Aranclanos opened #1804 "Job selection window organization"
# Description
![image](https://user-images.githubusercontent.com/701959/56995681-c95be080-6b78-11e9-8873-29d2a42e9c0d.png)
![image](https://user-images.githubusercontent.com/701959/56995742-f8725200-6b78-11e9-8c43-966a83836ce6.png)

-Above there's an example of tg's job preferences (note: technically not the same window)
In unitystation's version the names seem to be different (for example, "DOCTO

[2019-04-30 22:00] Aranclanos opened #1805 "You can see your character naked for half a second when spawning"
# Description
It's too fast so I dont have a screenshot, but before your character gains clothes and its preferences, you'll see the white-human mob that the prefab sprite is

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Die and wait for respawn
2.Try not to blink
3.See the white (rgb 0,0,0) human prefab appear of an instant before it gains its

[2019-04-30 22:01] Jibbajabbafic commented on #1804
Ideally jobs should be grouped together and coloured by department much like in the TG screen.

[2019-04-30 22:38] Aranclanos opened #1806 "A lot of sprites are outdated"
# Description
Computers, vending machines, lockers, fuel tanks, guns, telecomms machinery, APCs, chemistry machines, library machines and probably more sprites are using the old sprites. Many of these were changed to have a standard perspective across all sprites of the game.
The ones I listed are the ones that I found from a quick sweep, its highly possible that there are more.

## Category
TODO

[2019-05-01 07:05] DooblyNoobly commented on #1806
I'm hoping we can just drop in the new sheets, replacing the old ones and it won't break anything.

[2019-05-01 20:11] Jibbajabbafic opened #1807 "Some chemistry reactions broken"
# Description
Example is this entry when you add 5u of hydrogen and 5u nitrogen you get 5u of ammonia:
[code]

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Get empty glass (spawn an icy soda or grab one from the bar and empty it)
2. Put in chem dispenser
3. Set to 5u and add hydrogen and nitrogen
4. Notice it creates 5u ammonia instead of 3u a

[2019-05-01 20:41] Jibbajabbafic opened #1808 "Missing chemistry reactions"
# Description
Some reactions seem to be missing from the Reactions.json file which are on the tg wiki:
[Reactions.json ](https://github.com/unitystation/unitystation/blob/develop/UnityProject/Assets/Resources/Metadata/Reactions.json)
[Guide to chemistry wiki](https://tgstation13.org/wiki/Guide_to_chemistry)

We're not sure which ones are missing exactly, so **comment below if you notice any**, or

[2019-05-01 20:46] Jibbajabbafic opened #1810 "Chemistry dispenser: aluminium always dispenses at 20u"
# Description
See title

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Get empty glass (spawn an icy soda or grab one from the bar and empty it)
2. Insert into chemistry dispenser in medbay
3. Set the "+" category to 5u
4. Click aluminium
5. Notice it dispensed 20u instead of 5u

[2019-05-02 03:37] #1777 closed, assigned to nobody

[2019-05-02 03:39] #1746 closed, assigned to nobody

[2019-05-02 07:46] #1770 closed, assigned to nobody

[2019-05-02 11:42] #1643 closed, assigned to fomalsd

[2019-05-03 08:19] DooblyNoobly commented on #948
Any updates on this @Jibbajabbafic ?

[2019-05-03 19:56] ghost opened #1814 "Licensing unclear"
# Description
It is unclear to me what license the code is under, the README states:

So from what I can read the code is under a GNU AGPL v3 license however, "project administrators" can change this at will? If so, doesn't this break the whole point of the GNU AGPL v3 license, considering the fact the project could become close sourced whenever a "project administrator" decides that they want to

[2019-05-03 23:06] Bod9001 opened #1816 "Tile palette Likes to place multiple of what your placing"
# Description
Tile palette Likes to place multiple of what your placing
## Category
BUG

## Detailed Bug Report
Tile palette  Seems to double register click some times
## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Open up the electrical section in the Tile palette
2.Place down a few cables
3.Launch game and look at electrical system complaining about doubled cab

[2019-05-04 09:57] fomalsd commented on #1796
yeah, dev spawner doesn't allow spawning on non-passable tiles, and tables are considered not passable

[2019-05-04 09:59] fomalsd commented on #1801
agree, also want "category-less" Logger.Logs gone, too. People sometimes forget to add logging category

[2019-05-04 10:02] RedlineTriad commented on #1801
I also think that the logging categories should be documented so it is easier to find out which to use for what. Would the logging category in `ItemAttributes` be `ItemSpawn`, `Inventory`, or `Container`?

[2019-05-04 10:09] fomalsd commented on #1802
I think it's because all jobs in `JobType` enum are initially uppercase, but then get capitalised for string representation.
JobType entries could probably be renamed so that no further capitalisation would be required
(but be careful as all editor references could be lost as a result of renaming)

This line should be tweaked to remove capitalisation:
https://github.com/unitystation/unitystation/b

[2019-05-04 10:27] ghost commented on #1814
@Ornias1993 I see you made the change (https://github.com/unitystation/unitystation/commit/8e75e76d46d29724c25f27a21245b8078453b68b) regarding these terms, could you perhaps assist in resolving this issue?

[2019-05-04 11:24] DooblyNoobly commented on #1814
Exemption clause has been removed. Closing this ticket.

[2019-05-04 11:24] #1814 closed, assigned to nobody

[2019-05-04 12:17] #1573 closed, assigned to nobody

[2019-05-04 12:44] #1810 closed, assigned to nobody

[2019-05-05 12:05] ghost opened #1819 "Temporarily allowing connections with invalid SteamIDs"
# Description
We are temporarily allowing connections with no or invalid SteamIDs.
## Category
TODO
## Detailed Bug Report
https://github.com/unitystation/unitystation/commit/b5cec08ebb3ae540869a56fe5691011d20e6092d#diff-e39eeae28bdf90e53e3527b11ede737fR90

[2019-05-05 12:44] ghost commented on #1801
I'd be happy to try and clean these up.

[2019-05-05 12:57] ghost opened #1820 "Large amount of unhelpful log messages"
# Description
There are a number of unhelpful log messages added in https://github.com/unitystation/unitystation/commit/07e8dde0477154b704add1a71f1c0ed9e12e92a0. I'd love to correct this, but I have no clue what they are supposed to be doing.

## Category
TODO

## Detailed Bug Report
The ones that are the least useful:
https://github.com/unitystation/unitystation/commit/07e8dde0477154b704add1a71f1

[2019-05-05 12:59] RedlineTriad commented on #1820
They are most likely just tracing messages. You can either replace them with more sensible ones or remove them entirely.

[2019-05-05 13:00] ghost commented on #1820
Will do. Thank you.

[2019-05-05 14:06] Bod9001 commented on #1820
https://github.com/unitystation/unitystation/pull/1764/commits/9d311c634b0874c144fa1374f7a6c20daa4575d1

was  Meant to clean up a few of the  logger.log but I obviously missed some
There's probably a few that have been commented out  On my branch that I'm working on Currently

https://github.com/Bod9001/unitystation/tree/Electrical-things

[2019-05-05 16:43] ghost commented on #1820
Nice, I just wasn't sure why they were there, that's why I made the issue 😄.

[2019-05-06 12:11] fomalsd commented on #1819
fixed by #1822

[2019-05-06 12:11] #1819 closed, assigned to nobody

[2019-05-06 12:14] fomalsd opened #1823 "Clientside NRE when touching electric devices B: 40"
# Description

## Category
BUG

## Detailed Bug Report
[code]
## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Host from build, join from editor as an engineer
2. Try touching SMES

[2019-05-06 12:18] fomalsd opened #1824 "Girder deconstruction doesn't make tile passable on serverside B: 40"
## Detailed Bug Report
https://cdn.discordapp.com/attachments/443317202179981322/574252147642728478/Scr_2019-05-04_18.09.25.mov

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Host as build, join from editor as engineer
2. Weld a wall, wrench off girder
3. Try walking onto that tile

[2019-05-06 12:28] fomalsd opened #1825 "Previously contained items remain parented to container's current matrix after leaving container"
# Description

## Detailed Bug Report
![GIF](https://user-images.githubusercontent.com/10403536/57224743-e0c41f00-6ff9-11e9-8941-81e8c3b5c665.gif)

## Steps to Reproduce

1. Spawn a crate on non-station matrix (controllable shuttle) with items in it
2. Pull the crate out to the station matrix (including space)
3. Open it and **pull it back** onto previous matrix (so items are left behind on statio

[2019-05-06 12:40] fomalsd opened #1826 "Airlocks squeeze out all the air when closing, causing pressure damage and strong winds"
# Description
Suggested approach is to:
Initialize pressure on airlock tiles with an average of neighbor atmos passable tiles;
Freeze current gas mixture on airlock tile when it gets closed (like on /tg/)

[2019-05-06 12:43] fomalsd commented on #1797
also I had an NRE when rightclicking a space tile with some items on it:
[code]

[2019-05-06 19:01] Jibbajabbafic commented on #948
Been a busy few weeks, I'll start working on this again

[2019-05-06 20:22] #1689 closed, assigned to nobody

[2019-05-06 20:22] #1826 closed, assigned to fomalsd

[2019-05-07 08:49] #1794 closed, assigned to nobody

[2019-05-07 16:10] fomalsd commented on #1774
![see](https://user-images.githubusercontent.com/10403536/57315085-658a6800-70e2-11e9-8286-883614b31c04.png)
I think we have correct sprite in place. tail is sideways relative to body when it's alive and is in line when it's dead

[2019-05-07 16:10] #1774 closed, assigned to nobody

[2019-05-07 23:31] Aranclanos commented on #1767
fixed in https://github.com/unitystation/unitystation/pull/1790

[2019-05-08 01:11] DooblyNoobly commented on #1767
thanks will sort it out soon

[2019-05-08 10:20] fomalsd opened #1837 "Multiple Pages support for NetTab system B: 100"
# Description
There are a lot of interfaces in original game that use different html pages for navigation.
Pages can have totally different layout and element sets.
Trying to recreate such interfaces with a single screen and one dynamic list can be hard or impossible (I don't think PDAs will be possible without this)

So a support for page switching must be added.

## Criteria
1. Hidden page updat

[2019-05-08 17:15] Aranclanos commented on #1774
those sprites are unused, the 4 to 8 ones

[2019-05-09 19:44] #1741 closed, assigned to nobody

[2019-05-09 20:13] Jibbajabbafic commented on #1446
@Fishfish458 any updates?

[2019-05-10 15:27] EZZE-0 opened #1844 "Improve chemistry"
# Description
Improve onto the chemistry system pushed in pull request #1842 by adding rounding of chemicals only on the UI and removing sub 0.001 chemicals from the container in the empty chemical removing function.

[2019-05-10 18:16] Aranclanos commented on #1729
Working on this but its on hold till https://github.com/unitystation/unitystation/issues/1837 gets solved

[2019-05-11 17:24] #1740 closed, assigned to nobody

[2019-05-11 17:24] #1775 closed, assigned to nobody

[2019-05-11 19:18] #1768 closed, assigned to nobody

[2019-05-11 19:29] Jibbajabbafic opened #1845 "Unable to attack with bare hands B: 40"
# Description
You can't attack other players/mobs/windows with your bare hands while in the harm intent.

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Set intent to harm
2. Attack Ian/runtime/windows/another player
3. Notice nothing happens

[2019-05-11 21:12] Aranclanos commented on #1845
technically a todo rather than a bug

[2019-05-11 22:15] Jibbajabbafic commented on #1845
I suppose, I assumed it had already been implemented at some point but maybe that's not the case

[2019-05-12 07:07] fomalsd commented on #1837
Should also add support for multiple dynamic lists per tab

[2019-05-12 11:00] #1766 closed, assigned to nobody

[2019-05-12 11:01] #1765 closed, assigned to nobody

[2019-05-13 01:27] #1767 closed, assigned to nobody

[2019-05-13 01:33] DooblyNoobly commented on #1837
A bounty of 100usd will be awarded to the contributor on a successful merge of a solution to the criteria above.

[2019-05-13 02:10] DooblyNoobly opened #1846 "Research: Investigate suitability of Mirror networking system B: 55"
# Description

This job is to research the suitability of replacing unet in the project with Mirror.

Create a new branch on your fork and begin the process of removing unet and replacing it with Mirror. Try to understand all of the obstacles we will face to convert the whole project to mirror and list them below in the comments. Be really thorough as your research will help us decide if we should

[2019-05-13 07:01] Aranclanos opened #1849 "'Choose your Alliance' message possition changes depending on resolution"
# Description
![image](https://user-images.githubusercontent.com/701959/57601715-a267bc00-7533-11e9-9f1f-29a9ba5947ab.png)
I manually changed the resolution of the client and this message flied off to space

## Category
BUG

[2019-05-13 07:12] Aranclanos opened #1850 "Station report runtimes if theres a player on the lobby"
# Description
![image](https://user-images.githubusercontent.com/701959/57602356-49992300-7535-11e9-8845-589bbcea9433.png)
[code]
Station report throws a  runtime if theres a player on the lobby

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Start hosting
2.Stay on the lobby and do not join as a human player
3.Wait until the runtime pops out

[2019-05-13 07:14] fomalsd commented on #1850
yes, it's annoying. better be fixed as a part of #1727

[2019-05-13 07:18] Aranclanos opened #1851 "There are two trees of prefab folders"
# Description
There are two trees of prefab folders:
`UnityProject\Assets\Resources\Prefabs`
`UnityProject\Assets\Prefabs`

They need to be merged into one, by personal preference, keep them under Assets\Resources
note: the prefabs under Assets have a lot of subfolders called Resources so unity can load them

## Category
TODO