[2019-05-13 07:20] Aranclanos opened #1852 "Engine particles can be seen through walls"
# Description
![image](https://user-images.githubusercontent.com/701959/57602754-641fcc00-7536-11e9-813c-3e9d8929d61e.png)
Engine particles can be seen through walls (white circles on the top of the image)

## Category
BUG

[2019-05-13 07:23] Aranclanos opened #1853 "Composite sprites for Right click menu"
# Description
![image](https://user-images.githubusercontent.com/701959/57602881-af39df00-7536-11e9-9af5-b72dbe149a14.png)
![image](https://user-images.githubusercontent.com/701959/57602915-bbbe3780-7536-11e9-8a7c-04589635e253.png)
The sprites of the right click menu don't show the real sprite of the objects, for example a turned off computer and a white square instead of the human

## Category
BU

[2019-05-14 06:42] #1820 closed, assigned to nobody

[2019-05-14 06:42] fomalsd commented on #1801
Fixed in #1821

[2019-05-14 06:42] #1801 closed, assigned to nobody

[2019-05-14 08:26] ghost commented on #1802
I don't think that enum is the best place to put formatting for the job names because we'd need to change all code referencing it if we ever decided to change the name for a job or even change the capitalization for it or something similar.
I think it would be better to have a language/strings file that we could use to look up the right string representation.
This would also help if we ever decide

[2019-05-14 08:33] ghost commented on #1773
Should an APC be able to be mounted on a window?

[2019-05-14 08:34] ghost commented on #1276
@ShadyGamma Are you still working on this?

[2019-05-14 08:39] Aranclanos commented on #1773
No

[2019-05-14 18:57] Jibbajabbafic opened #1856 "Destroying windows/walls sucks in items"
# Description
Destroying window:
![iMRB940WlM](https://user-images.githubusercontent.com/4493127/57724228-2fb92680-7682-11e9-8815-923fa2acb69b.gif)

Destroying wall:
![pax3XUGwSE](https://user-images.githubusercontent.com/4493127/57724233-321b8080-7682-11e9-8873-3b7aaa553f4a.gif)

Expected behaviour would be for items to stay where they are

## Category
BUG

## Steps to Reproduce
Please enter the

[2019-05-14 18:59] Aranclanos commented on #1856
The turfs spawn with no gas at all so they suck from the ones next to it
First time it happened it spooked me

[2019-05-14 19:00] Jibbajabbafic opened #1857 "Health scanner doesn't work on animals"
# Description
Health scanner should show damage values for any creature which is alive

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Click on Ian/Runtime with health scanner
2. Nothing happens

[2019-05-14 19:03] Jibbajabbafic opened #1858 "Sounds and sprites for buckling people into chairs B: 40"
# Description
There should be audible and visual feedback when buckling someone/being buckled into a chair

**Note**: there is a buckled icon for the person buckled into the chair, but it's impossible to tell for anyone else based on the sprites

## Category
TODO

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Buckle someone into a chair
2. Notice there is no so

[2019-05-14 19:20] Jibbajabbafic opened #1859 "Emergency oxygen tank doesn't fit in belt slot"
# Description
You should be able to equip the emergency oxygen tank in your belt slot

This should also make sure that auto equipping (pressing E) can equip it into the belt slot too.

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Grab emergency oxygen tank from O2 locker
2. Click belt slot

**Also:**
1. Fill up pockets and suit storage with it

[2019-05-14 19:22] Jibbajabbafic opened #1860 "Big oxygen tank doesn't fit in back slot"
# Description
You should be able to equip the oxygen tank in your back slot

This should also make sure that auto equipping (pressing E) can equip it into the back slot too.

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Grab big oxygen tank from O2 locker
2. Click back slot

**Also:**
1. Fill up pockets and suit storage with items
2. Take off

[2019-05-14 19:27] Jibbajabbafic opened #1861 "Bag slots aren't aligned properly with UI"
# Description
The bag slots should be shifted to the left to be above the backpack instead of off to the side.
![image](https://user-images.githubusercontent.com/4493127/57725965-537e6b80-7686-11e9-8468-a2a09977760c.png)

(perhaps align it to the third or fourth bag slot if it fits)

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Open backpack
2

[2019-05-14 19:31] Jibbajabbafic opened #1862 "Server disconnect message"
# Description
Currently if you get disconnected from a server you get booted straight back to the lobby without any indication of what happened.

There should be a popup window with a message stating that you've been disconnected, and perhaps a reason if one is available, e.g. lost connection unexpectedly, server shutdown, kicked, banned (once implemented) etc...

## Category
TODO

## Detailed Bug

[2019-05-14 19:33] Jibbajabbafic commented on #1454
@BeastKiller2013 any progress on this?

[2019-05-14 19:35] Jibbajabbafic commented on #1583
@krille90 any progress with this?

[2019-05-14 19:37] JacobSweeten commented on #1454
Sorry I got a little busy. Since I've made decent progress, I'll keep going probably tonight. I didn't realize it had already been 30 days.

[2019-05-14 19:42] Jibbajabbafic opened #1863 "Screwdriver sprite is too low in UI"
# Description
The sprite should be centred just like it is on the floor

![image](https://user-images.githubusercontent.com/4493127/57727197-c2f55a80-7688-11e9-98f1-8cc4ae4e865d.png)

![image](https://user-images.githubusercontent.com/4493127/57727201-c4268780-7688-11e9-89a9-e3d4e88f4fa8.png)

## Category
BUG

[2019-05-14 19:45] Jibbajabbafic commented on #1454
No worries, just checking it's still being worked on. Glad you've made some progress with it, I look forward to seeing what it looks like!

[2019-05-14 19:55] Jibbajabbafic opened #1864 "Glasses don't work with auto equip"
# Description
Pressing E while holding an item which fits into your glasses slot should equip them

**Note:** this fix should ensure that ALL glasses work with autoequip. So a new property might need to be added to the hier strings

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Spawn as captain
2. Take off sunglasses
3. Press auto equip button

[2019-05-14 20:06] Jibbajabbafic opened #1865 "Shards ejected from window get stuck on you and kill you"
# Description
When breaking a window from space the shards continuously pummel you until you drop dead like so:
![blqpgULCbO](https://user-images.githubusercontent.com/4493127/57728544-1321ec00-768c-11e9-8bd8-8ad487792c9a.gif)

They should hit you once and continue flying past you.

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Go into space
2.

[2019-05-14 20:08] Jibbajabbafic opened #1866 "Masks don't autoequip into other slots"
# Description
Auto equipping a mask when you already have a mask on should put the mask into a different free slot.

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Get 2 masks
2. Equip one
3. Autoequip the other (with E)
4. Notice it stays in your hand even though pockets are free

[2019-05-14 20:24] Jibbajabbafic opened #1867 "Clicking players always triggers drag doll"
# Description
If you try to click on someone the drag doll will appear every time.

Drag doll:
![image](https://user-images.githubusercontent.com/4493127/57729321-cdfeb980-768d-11e9-9e5a-015f5660d544.png)

There should be a delay or a deadzone for dragging to stop single clicks unintentionally being registered as drags.

Requires #1845 to be fixed first

Also: the dragging seems to be more consist

[2019-05-14 20:40] fomalsd commented on #1856
I kinda like it to be honest

[2019-05-14 22:14] Jibbajabbafic commented on #1856
It's kinda cool, but also makes the game seem a bit unfinished, like we couldn't be bothered to implement a fix

[2019-05-15 08:17] ghost commented on #1862
I'd be happy to try to implement this.

[2019-05-15 08:21] fomalsd commented on #1862
Suggest sending disconnect reason message from server when it's shutting down or player is kicked
Then display it on client if it's present, otherwise just "Connection died, reason unknown"

[2019-05-15 08:22] ghost commented on #1862
Sounds good :)

[2019-05-15 18:22] #1807 closed, assigned to nobody

[2019-05-15 18:22] #1844 closed, assigned to nobody

[2019-05-15 20:38] JaytleBee commented on #1846
Since nobody else seems to be doing this I think I'll have a look.

[2019-05-15 22:25] Bod9001 opened #1870 "Stacking system for Items"
# Description
This is so you can carry multiple floor tiles/whatever you need in one item, this should only apply to certain items,

## Category
TODO
Some of the expected behaviour,
they should automatically stack when dragged over others on the floor,
they should return one if you click on them with an empty hand when the stack is on the other hand,
allow for different sprites according to the am

[2019-05-15 22:33] Bod9001 opened #1871 "Construction system for constructing computers and machines"
# Description
For an easily usable interface for dealing with construction and deconstruction using tools like crowbar, welder, wire cutters, screwdriver, multitool and wrench

## Category
TODO
Shouldn't have direct references to wire cutters for example but a abstract tag that could be applied to anything quickly and easily, so if you want your plasma cutters to act as a welder is very easy to do

[2019-05-16 07:19] JaytleBee commented on #1846
Alright, bit of an update:
I tried importing Mirror into the project and it doesn't work. It seems that it's not seeing the classes in its *Runtime* folder and therefore spewing a lot of "type or namespace not found" errors. I have asked for help in their discord but haven't received a reply yet.

Note that just importing mirror into a fresh project doesn't produce this error which suggests that t

[2019-05-16 07:23] fomalsd commented on #1846
we don't use NetworkTransform, we use our CustomNetTransform that doesn't rely on NetworkTransform at all

[2019-05-16 08:24] JaytleBee commented on #1846
Alright, with a little nudge from @RedlineTriad I managed to fix that error and get Mirror to produce some useful errors. The migrations tool seems to work for scripts but removing components gets us these errors:
![image](https://user-images.githubusercontent.com/7951887/57838183-80d13380-77c4-11e9-8e4c-86282926fab4.png)

Another hurdle is that our CustomNetworkManager.cs would need to see some c

[2019-05-16 08:32] fomalsd commented on #1846
Does Mirror handle NetIDs differently?

[2019-05-16 08:45] JaytleBee commented on #1846
~~Doesn't seem like it, seems to me that the migration tool is a bit weird. I'll have another look at it now~~

Yup, NetIDs are uints for them. This opens a pretty big can of worms that I'm looking at right now, most notably that they don't have NetworkInstanceId.invalid

[2019-05-16 09:36] JaytleBee commented on #1846
Alright, the main problems seem to be converting to the different netIDs, refactoring our server and finding a way to get the components replaced (the converter seems to not really like doing that). Seems like a little bit of work but nothing out of the ordinary

[2019-05-16 10:31] JaytleBee commented on #1846
Some more findings:
- NetworkMessages seem to work as expected
- An LLAPI transport seems to exist (though it is deprecated)
- [Using multiple transports might work, though that may not be exactly what we need](https://forum.unity.com/threads/mirror-networking-for-unity-unet-replacement.425437/page-21#post-4067056)

[2019-05-16 10:35] DooblyNoobly commented on #1823
Bounty of 40 usd will be awarded to the contributor on a successful merge of a solution to this bug

[2019-05-16 10:45] JaytleBee commented on #1846
For reference, you can find what I currently have here https://github.com/JaytleBee/unitystation/tree/mirror

[2019-05-16 10:50] JaytleBee commented on #1823
I'll have a look

[2019-05-16 10:55] fomalsd commented on #1619
Still a thing

[2019-05-16 10:55] #1823 closed, assigned to nobody

[2019-05-16 11:00] JaytleBee commented on #1823
Ouch

[2019-05-16 11:32] Aranclanos commented on #1665
I'd like to close this, never saw it happen. (but with the new atmos wind but thats unrelated)

[2019-05-16 11:41] fomalsd commented on #1665
Yeah, reopen it if it ever happens again

[2019-05-16 11:41] #1665 closed, assigned to nobody

[2019-05-16 11:51] Aranclanos commented on #1870
oinments and bruisepacks need it too

[2019-05-16 16:59] Jibbajabbafic commented on #1870
I think it'd be nice to have a little number in the corner to show how many items are in the stack too

[2019-05-17 06:46] VitrescentTortoise commented on #1799
Gonna look into this.

[2019-05-17 07:37] DooblyNoobly commented on #1799
roger that, set to in progress

[2019-05-17 07:44] VitrescentTortoise commented on #1799
Okay, so I found the source of the bug, I have a fix, but I do not know exactly what the desired behavior is so I have not made a PR.

![Capture](https://user-images.githubusercontent.com/1689336/57911180-0b617380-7855-11e9-91b4-0455806a7af5.PNG)
It is comparing player position which is (73, 65, 0) and world cell position which is actually the mouse position: (72.9, 66.3, -1) clicked on tile above

[2019-05-17 08:21] JaytleBee commented on #1328
@dapocalypse it's been like half a year, are you still working on this?

[2019-05-17 13:12] JaytleBee commented on #1328
@dapocalypse has given me permission to work on this so I'll do that

[2019-05-17 17:02] fomalsd commented on #1799
proper distance check method should be used, in your case it would be
player.Player.Script.IsInReach()

[2019-05-17 17:12] VitrescentTortoise commented on #1799
Ah, thanks. Hopefully I will get familiar with the idiomatic methods for these types of things soon. Will fix and make a PR.

[2019-05-17 17:57] VitrescentTortoise commented on #1825
I'm gonna check this out.

[2019-05-17 22:11] #1846 closed, assigned to nobody

[2019-05-18 02:59] VitrescentTortoise commented on #1803
I shall work on this.

[2019-05-18 03:19] Aranclanos commented on #1803
might have been fixed in #1869

[2019-05-18 03:20] Aranclanos commented on #1328
doing pipenets, taking over this issue

[2019-05-18 03:44] VitrescentTortoise commented on #1803
Thanks, I will check.

[2019-05-18 03:52] VitrescentTortoise commented on #1803
It appears to be fixed by #1869. I can no longer reproduce after pulling those changes. Thanks for the heads up, you definitely saved me some hours.

[2019-05-18 05:17] #1803 closed, assigned to nobody

[2019-05-18 14:12] VictorVow commented on #1860
Note in tg this doesn't work with every exosuit item. EVA suits can equip it but Scientist labcoats cannot. Other known exosuits which can equip large oxygen tanks to suit storage are hardsuits, bio suit and bomb suit.

[2019-05-18 14:32] Jibbajabbafic commented on #1860
This is for the backpack slot, I'll make a separate issue for suit storage.
Thanks for the info though, I wasn't sure which suits could hold the big tanks.

[2019-05-18 14:59] Jibbajabbafic opened #1877 "Make some suits able to hold big oxygen tanks in suit storage"
# Description
Only some specialised suits can hold big oxygen tanks in their suit storage.

There should be some kind of flag on all exosuits to allow them to hold certain special items such as big oxygen tanks.

Example of some of the suits that should be able to (might be missing some):
- Any hardsuits (EVA, engineering... etc)
- Bio suits
- Bomb suits

You should also ensure the feature works c

[2019-05-18 15:00] Jibbajabbafic commented on #1860
Issue made: #1877

[2019-05-19 06:19] #1771 closed, assigned to nobody

[2019-05-19 06:45] #1825 closed, assigned to nobody

[2019-05-19 16:26] VitrescentTortoise commented on #1865
I'm going to see if I can fix this.

[2019-05-20 02:56] lfricken opened #1882 "Replace the Mapping Wiki with this"
Despite being familiar with Unity and being a full time developer, I had trouble following the mapping wiki. I made an _enhanced_ (hopefully) version. [You can view it and it's raw markdown here](https://github.com/lfricken/oni-mods/blob/master/test.md). I would be honored if the mapping wiki could be updated with it.

It contains some TODOs for either a more knowledgeable person or is waiting for

[2019-05-20 10:31] fomalsd commented on #1882
thanks! that wiki was actually really old.
I'll also add a note about wallmount gizmos that were added recently and make life easier

[2019-05-20 10:48] fomalsd commented on #1882
As for new maps, for the moment we try to stick with just one for ease of support because we add and change various systems on daily basis, and we don't have the manpower to sustain multiple maps in working state (we tried). We'll add info on how to make new maps when it becomes viable to keep and support multiple maps effort wise (like, when we add atmos pipes and disposals, and electrical system

[2019-05-20 10:49] #1882 closed, assigned to nobody

[2019-05-20 15:30] fomalsd commented on #1799
Fixed in #1875

[2019-05-20 15:30] #1799 closed, assigned to nobody

[2019-05-20 15:34] fomalsd commented on #1778
Actually now mass welding works if you don't turn (but there's only one instance of progress bar, so it looks a bit glitchy)
![GIF](https://user-images.githubusercontent.com/10403536/58033650-5fe64680-7b14-11e9-96a4-5e53cff80a2b.gif)
Anyway that anti-turn protection is easy to disable

[2019-05-20 16:09] fomalsd commented on #1728
Another gif of why cutting corners is not desirable:
![GIF](https://user-images.githubusercontent.com/10403536/58036005-8c509180-7b19-11e9-8391-93108c58d1da.gif)

[2019-05-21 01:52] chairbender commented on #1725
I AM still working on this. Just have been a bit busy.

[2019-05-22 13:04] Bod9001 commented on #1680
partially covered in #1788 , apparently still needs some work (the new interaction system)

[2019-05-24 08:36] #1756 closed, assigned to nobody

[2019-05-25 16:04] #1837 closed, assigned to fomalsd

[2019-05-25 23:24] DooblyNoobly commented on #1845
Contributor will receive a bounty of 40usd on a successful merge of a solution that satisfies the criteria above.

[2019-05-25 23:27] DooblyNoobly commented on #1858
Contributor will receive a bounty of 40usd on a successful merge of a solution that satisfies the criteria above.

[2019-05-25 23:28] DooblyNoobly commented on #1824
Contributor will receive a bounty of 40usd on a successful merge of a solution that satisfies the criteria above.

[2019-05-25 23:30] DooblyNoobly commented on #1730
Would be good to get this one finished before the end of this month. I'm increasing bounty by 30usd as it is a top priority

[2019-05-25 23:31] DooblyNoobly commented on #1730
Also multi page support for nettabs has been merged

[2019-05-25 23:33] DooblyNoobly commented on #1729
Bumping up the bounty on this one as it is a top priority. Would be good to get it in before end of the month if possible.

[2019-05-26 01:30] Itsnotjames commented on #1845
Working on this

[2019-05-27 09:04] fomalsd opened #1898 "Player can get stuck while walking on headless server B: 120"
# Description
Player can randomly get stuck after walking for a while on steam server.
Seems like a clientside issue because restarting game and rejoining helps (until you get stuck again).
I'm not sure it's exclusive to steam server, but for some reason it's easiest to reproduce there.
Was likely introduced after #1791

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to repro

[2019-05-27 09:36] fomalsd commented on #1861
would also be nice to get rid of this bunch of warnings about using deprecated transform methods every time when backpack is opened

[2019-05-27 22:33] JaytleBee commented on #1824
I'll have a look at this one

[2019-05-27 23:19] JaytleBee commented on #1824
Alright, I think I got a fix. Testing it now

[2019-05-28 01:55] Aranclanos opened #1902 "Support for airtight objects is unrobust"
Our support for airtight ObjectBehaviours is quite unrobust – airtight flag for tile is only assigned at server start (but not during runtime spawn) and is never gone afterwards, and doesn't follow the object if it's pushable.
See this comment: https://github.com/unitystation/unitystation/issues/1902#issuecomment-575571921

[2019-05-28 08:20] KyleFN opened #1904 "Missing/old UI elements"
# Description
There are several buttons missing that are present on modern /tg/ and goon code, and also some icons have been changed so their meaning is more clear.

## Category
TODO

## Detailed Report
![](http://i.imgur.com/wFDKbqw.png)
The right side of the UI in modern /tg/ has a few additional buttons for helpful features:
- Rest - lying down for surgery, fitting many people onto one tile in

[2019-05-28 11:17] JaytleBee commented on #1858
To be clear though, buckling and unbuckling doesn't seem to make a sound on /tg/ and the only change is that the chair is partly in front of the player. So we would need a new sound for that
![image](https://user-images.githubusercontent.com/7951887/58474261-e91bff80-814a-11e9-9690-1f9b9f2fbbee.png)

[2019-05-28 11:22] Aranclanos commented on #1858
thats only for "comfy" chairs, the normal metal ones that we have act exactly like /tg/ besides the fact that they dont turn you towards the chair's direction

[2019-05-28 11:29] JaytleBee commented on #1858
Yeah, so if we are sure we want this issue we'd need a new sprite and a new sound

[2019-05-28 12:02] #1824 closed, assigned to nobody

[2019-05-28 12:55] Bod9001 commented on #1904
I would add an update category to this but I don't know what to name it,

out of date from source?
Need update for source parity?

[2019-05-28 16:00] fomalsd commented on #1749
Modified this issue to be more general

[2019-05-29 07:09] #1730 closed, assigned to nobody

[2019-05-29 16:13] fomalsd commented on #1729
Done by @Aranclanos in #1906

[2019-05-29 16:13] #1729 closed, assigned to nobody

[2019-05-30 07:16] fomalsd commented on #1279
Will close it, haven't experienced it since last year

[2019-05-30 07:16] #1279 closed, assigned to DooblyNoobly

[2019-05-30 12:45] RedlineTriad opened #1910 "Escape button doesn't seem to work on mobile(android)"
# Description
Nothing happens when the escape button is pressed on the mobile version (android)

## Category
BUG

## Detailed Bug Report
[Video of it not happening](https://youtu.be/AF7F7mc7LwU)

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Use the mobile version (android)
2. Start game
3. Select any job
4. Press the escape button on the right
5. Notice the la

[2019-05-30 12:49] fomalsd commented on #1910
yeah, Z, X and Enter from virtual gamepad aren't working on Android for some reason, too (but F5 seems to work)

[2019-05-30 20:46] qutoh commented on #979
Making a chemistry system closer to life is a hell of a rabbit-hole to go down - nothing _ever_ goes to 100% when reacting (even when you do everything perfectly) especially not complex organic drugs, because every chemical reaction is in a dynamic equilibrium reversing back to what made it. Where that equilibrium lies is different for each reaction, as is the speed. In general hot things react fa

[2019-05-31 19:00] JaytleBee commented on #1858
Seeing as nobody seems to be working on this I think I may have a go at it

[2019-05-31 21:05] JaytleBee commented on #1858
Quick update:
- I got the sound working
- I got the orientation partly working

One minor roadblock is that there's a very strange bug with the sync (if the client buckles themself to a chair then the players orientation is set correctly on all other clients but not on the own client)

[2019-06-01 15:50] #1725 closed, assigned to chairbender

[2019-06-02 16:05] Bod9001 commented on #979
The main idea of it was, instead of you pressing buttons. You just build a contraption to mix them for you, where the limitations are not the time, but the purity, it's kind of changed a bit since I first thought of it, but  that's kind of the gist,  difficulty can range from mixed 2 chemical together boom you got your chemical, you have to ensure there's a bit of catalyst there and it ends up in

[2019-06-04 13:59] fomalsd opened #1918 "IF2 Mouse drag bugs"
# Description
1. When clicking and holding mouse somewhere else and hovering yourself while still holding it you'll invoke ragdoll drag:
![GIF](https://user-images.githubusercontent.com/10403536/58883239-850ab580-86cd-11e9-8b6e-235db5f402d4.gif)
It should only invoke when initial click was within object borders

2. Drag start needs a "deadzone"/false start protection of some kind. I propose not st

[2019-06-04 14:55] fomalsd opened #1919 "Player keeps sliding when slipped indoors"
# Description
Players stunned by slip keep sliding with original speed until they encounter a solid object or stun is removed
It's appropriate for space, but not indoors

## Steps to Reproduce
![GIF](https://user-images.githubusercontent.com/10403536/58889250-1ed76000-86d8-11e9-8102-8904721b366f.gif)

## Note
When fixing this bug, make sure that high pressure ejection into space works as it did be

[2019-06-04 14:57] fomalsd commented on #1919
Also there is a regression: walking slowly on wet floors still makes players slip

[2019-06-04 19:10] JaytleBee commented on #1858
I took a bit of a break because I had another things to do, I'm going to continue work on this tomorrow

[2019-06-04 21:33] Aranclanos commented on #1739
Fixed

[2019-06-04 21:33] #1739 closed, assigned to nobody

[2019-06-05 11:21] fomalsd opened #1922 "Igniting plasma makes pressure grow in a geometrical progression until it is NaN"
# Description
You don't want to open a room that has a pressure of numbers that are wider than tile
![GIF](https://user-images.githubusercontent.com/10403536/58952675-e4c39800-8783-11e9-9a09-80cdc7684bff.gif)

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Start as Miner (for pressure protection), go to Atmospherics
2. Open plasma tank for a second and close it

[2019-06-05 16:18] chairbender commented on #1749
FYI, my next set of changes for IF2 will be refactoring shooting to use IF2, which should at least fix the issue where you can't shoot while hovering over something (adding a new "AimApply" interaction).

[2019-06-05 21:51] Jibbajabbafic commented on #1269
I think this should be fixed by #1923

[2019-06-06 17:35] #1722 closed, assigned to nobody

[2019-06-07 07:29] vlandemart commented on #1749
Not sometimes, but always - you can shoot though shuttle walls for some reason.

[2019-06-07 14:32] fomalsd commented on #1723
This is up for grabs again!

[2019-06-07 18:26] chairbender commented on #1867
Possibly duplicate of #1918

[2019-06-07 18:29] chairbender commented on #1853
an interim fix for this with the new right click system is that you can specify the object's icon that should be used in RightClickAppearance component, but I agree it would be better to show the entire composite sprite, just not quite sure how we can do it

[2019-06-07 19:33] fomalsd commented on #1853
check out https://github.com/unitystation/unitystation/blob/8f1b33ffbcef6c8a1f213217a249d5edce5342ae/UnityProject/Assets/Scripts/Util/ObjectImageSnapshot.cs
and its usage in Spawner nettab

[2019-06-07 19:59] chairbender commented on #1853
I wonder why not just clone the object and remove all non-sprite components?

[2019-06-07 20:00] chairbender commented on #1853
basically creating an "inert" version of the object

[2019-06-08 08:01] #1619 closed, assigned to nobody

[2019-06-08 18:15] JaytleBee opened #1930 "Buckling to a chair while walking past it causes strange behaviour"
# Description
Walking past a chair and buckling to it will make it appear as though you are buckled to it while you are actually standing to the side of the chair. Unbuckling by clicking on the chair is impossible while in this state.

![chair_walkby](https://user-images.githubusercontent.com/7951887/59150858-49078580-8a2a-11e9-9b80-e4a9a35cfb3a.gif)

## Category
BUG

## Steps to Reproduce
1. Walk

[2019-06-08 18:20] JaytleBee opened #1931 "Buckling to a chair doesn't update the direction you are facing on client B: 25"
# Description
![chair_netbug](https://user-images.githubusercontent.com/7951887/59150908-e9f64080-8a2a-11e9-993c-7156f1716ec6.gif)
(client on the left, server on the right)

When buckling yourself to a chair on the client, the direction you're facing is updated for all other clients and the server but not for you.

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug

[2019-06-08 18:22] JaytleBee commented on #1240
Doesn't seem fixed to me, has this been reintroduced?

[2019-06-09 00:08] dapocalypse commented on #1845
Its been 2 weeks, can i do this @Itsnotjames

[2019-06-09 02:55] DooblyNoobly commented on #1858
JaytleeBee has met the criteria here. Closing this issue. Further buckling work is required but that is on the chair buckling logic itself not the visual feedback stuff.

[2019-06-09 02:55] #1858 closed, assigned to nobody

[2019-06-09 04:59] DooblyNoobly commented on #1749
Contributor will receive a bounty of 60usd on a successful merge of a solution that satisfies the criteria above.

[2019-06-09 04:59] DooblyNoobly commented on #1749
If you are doing this ticket please make sure you do not break the client side prediction

[2019-06-09 05:15] DooblyNoobly opened #1933 "TODO: Finish Medbay Cloner functionality B: 300"
# Description

The computer system to control the Medbay Cloner has been finished. Now we need to add the ability to scan bodies and store their DNA as records in the computer system (screens have already been completed) and to clone somebody from the DNA records (DNA strings can be retrieved from the Health components on the player).

## Criteria:

- Add the ability to drag and drop a player into

[2019-06-09 05:22] chairbender commented on #1749
Just warning, I have a PR that's touching guns (refactoring it to IF2) that should be submitted in a day or two. Doesn't affect bullet behavior but I would suggest waiting for that if you need to make significant changes to Weapon

[2019-06-09 05:52] DooblyNoobly opened #1934 "TODO: Security Records Console B: 280"
# Description

This job is to create the Security Records Console prefab, the NetTab GUI and the security records system itself.

![image](https://user-images.githubusercontent.com/20813925/59155367-195c8a00-8acb-11e9-8788-78cec2c01a71.png)

## Criteria:

- Create a Security Records Console prefab (see other consoles on what components are needed to build it)
- Map the new console somewhere in sec

[2019-06-09 05:55] Aranclanos commented on #1933
Gonna do this one

[2019-06-09 06:34] DooblyNoobly opened #1935 "TODO: Ability to Stun and Cuff another player B: 220"
# Description

We need to add the ability to stun other players and to cuff them to allow security to do their job. This TODO is to implement those abilities and to add/improve weapons to do the stunning.

## Criteria:

### Stunning:
- Add the stunbaton as a prefab and allow the ability to turn it on or off.
- Update stunbaton sprites based on state
- Add the ability to stun someone if the baton i

[2019-06-09 06:36] DooblyNoobly commented on #1931
Contributor will receive a bounty of 25usd on a successful merge of a solution that resolves the issue above.

[2019-06-09 06:49] Itsnotjames commented on #1845
I am still making steady progress on this. Sorry about taking so long.

[2019-06-09 06:53] vlandemart commented on #1934
I'll do this one

[2019-06-09 07:07] vlandemart commented on #1749
I wasn't able to recreate 1. Not in editor, not in build.
3 is happening because Shuttle's `TilemapCollider2D` has `IsTrigger`. Disabling it fixes the problem, but would require scene change since shuttles aren't prefabs.

[2019-06-09 10:07] JaytleBee commented on #1935
I'll work on this one.

Btw. on /tg/ sec officers don't actually have tasers anymore but rather disabler beams.

[2019-06-09 12:57] dapocalypse commented on #1931
I guess I'll do this one

[2019-06-09 13:03] dapocalypse commented on #1931
Actually nvrmd

[2019-06-09 13:04] dapocalypse commented on #1931
Actually yes

[2019-06-09 15:09] dapocalypse commented on #1749
claim

[2019-06-09 15:39] chairbender commented on #1749
2 will be fixed by my upcoming PR btw

[2019-06-09 16:13] dapocalypse commented on #1931
cant replicate

[2019-06-09 18:45] chairbender commented on #1845
@Itsnotjames just warning you, I have some changes to MouseInputController in upcoming PR. Refactoring Guns to IF2 and adding other interaction types into it. I don't think it should step on your toes too much but just be aware. I'll update you once the PR is submitted so you can see.

[2019-06-09 18:59] chairbender commented on #1749
2 will be fixed as of #1936 . Don't worry about crediting me, whoever fixes the other issues can take the bounty.

[2019-06-09 18:59] chairbender commented on #1845
Okay @Itsnotjames , here's the PR I was talking about: #1936

[2019-06-09 19:07] dapocalypse commented on #1749
So I have to fix 3 and 4 as it seems.

[2019-06-10 00:22] Itsnotjames commented on #1845
Thanks for the heads up mate

[2019-06-10 00:35] chairbender opened #1937 "Switch Chat System to use Text Mesh Pro for styling capabilities"
# Description
Text mesh pro has the ability to let us define a set of global styles we can apply in chat messages by doing "<style name=stylename>Here is my text!</style>". Additionally, TMP is supposed to be a best practice to use instead of Text, from what I gather.

This will be very useful for maintaining consistent styling across the game, since each chat message that wants to use a particula

[2019-06-10 11:41] Crow-Control commented on #1814
@HiddenKn  sorry for the late reply: It states administrators can amend the licence an amend can not go against the main licence.

This was placed because some people complained closed source parts of the code (for example a server with a closed source secret level) wouldn't be possible. It wasn't truely needed, but a lot of people (I'm looking at you reddit) thought it was.

Simply put: Servers c

[2019-06-10 21:49] JaytleBee commented on #1935
Making some good progress here, but it looks like the stun function in RegisterPlayer has a (kind of hilarious) bug:
![slippy baton](https://user-images.githubusercontent.com/7951887/59229332-5d8a8000-8bda-11e9-956a-0f56c3336de0.gif)

Not sure if this is known but I'll have a look at it once I'm done with everything else here

Another thing is that foma's(?) system for scraping items gives the stu

[2019-06-11 01:13] chairbender commented on #1935
@JaytleBee FYI, in my current PR, Weapon is refactored quite a bit and now called Gun:
https://github.com/unitystation/unitystation/pull/1936

Not sure if that affects you, just wanted to give a heads up.

[2019-06-11 12:33] #1269 closed, assigned to nobody

[2019-06-11 12:43] fomalsd commented on #1935
@JaytleBee I assume you pasted a hierarchy string into baton prefab's `ItemAttributes`? you can always assign values manually there, including inhand offsets (from `items_lefthand`/`items_righthand` spritesheets) and choose arbitrary world/inventory sprite
Also sliding bug is #1919

[2019-06-11 13:44] JaytleBee commented on #1935
Thanks for the heads-up, this will probably affect this a little bit though the changes required should be relatively simple. I'll continue work on the current branch and make the necessary changes once your PR is merged

[2019-06-12 10:33] #1865 closed, assigned to nobody

[2019-06-12 10:42] fomalsd opened #1941 "CPR for unconscious players"
# Description
At the moment there's no way to recover players from deep crit, oxygen loss keeps rising and they die eventually.
Need to add ability to CPR crit players to make them breathe again, preferably with a progress bar

[2019-06-12 12:14] #1867 closed, assigned to chairbender

[2019-06-12 12:14] #1918 closed, assigned to chairbender

[2019-06-12 15:08] chairbender commented on #1941
How do you trigger this interaction? Right click menu? Left click on help intent for a deep crit player?

[2019-06-12 15:10] fomalsd commented on #1941
I'd say left click w/help intent

[2019-06-12 15:12] chairbender commented on #1935
the PR is merged.

[2019-06-12 15:12] chairbender commented on #1845
the PR I mentioned is merged

[2019-06-12 15:12] chairbender commented on #1749
the PR I mentioned is merged

[2019-06-13 20:14] JaytleBee commented on #1935
Alright, I got a bit of a decision to make: The script that gets item and spite attributes from the scraped dm files works relatively well but has a few major visual bugs. Do I:

1) Not use it (items would work for now, but hierarchy would need to be set at a later date)
2) Use it (items would look kind of weird until the hierarchy thing is fixed)
3) Fix the hierarchy script (unsure how much work

[2019-06-13 20:39] JaytleBee commented on #1935
@DooblyNoobly Quick thing regarding the point "Add the cuffs to the security job outfit so sec guards spawn with cuffs on spawn": This isn't actually possible with the current system for job outfits. Currently, only unicloths can be spawned with that. I could hack it in so that it can spawn prefabs, but I think some consideration should go into refactoring the job outfit system.

[2019-06-13 20:42] fomalsd commented on #1935
don’t use hierarchy string if it works incorrectly, it’s totally optional
instead you can fill out all values manually

[2019-06-13 22:59] DooblyNoobly commented on #1935
@JaytleBee yep all good, don't worry about that criteria we can address it later. Make sure there are some cuffs in sec closets instead

[2019-06-14 22:57] JaytleBee commented on #1935
Quick progress update:
- Stun batons seems to work perfectly, I even fixed the weird sliding bug. One thing I noticed is the lack of a real system for alternating sounds. I went with the pattern the rustling sounds use for now (`"Sparks0" + UnityEngine.Random.Range(1, 4)`), but in the long term it might make sense to make a better system for this
- Tasers work, but the sprite doesn't update based

[2019-06-15 13:59] dapocalypse commented on #1933
Are you still doing this?

[2019-06-15 14:00] dapocalypse commented on #1934
Are you still doing this?

[2019-06-15 18:17] vlandemart commented on #1934
Yes.
Hope to finish it before 25th with Stritirok's art

[2019-06-15 18:33] chairbender commented on #1931
I can. I'll take a look since I worked on buckling and player direction sync

[2019-06-15 21:45] Aranclanos commented on #1933
aye

[2019-06-17 00:23] Bod9001 opened #1946 "UI indication of where you can place items"
# Description
have a transparent green or red picture of the icon of the item when you mouse over a inventory slot
red for not fit
and green for fit

## Category
TODO

[2019-06-17 18:41] #1760 closed, assigned to chairbender

[2019-06-18 05:19] chairbender commented on #1919
just a note - this should be fixed by #1935

[2019-06-18 05:21] chairbender commented on #1898
I had an issue like this playing locally as client against server hosted in editor. It happened when I encountered some wind while walking down a maint tunnel and was pushed back against a crate. I fixed it by grabbing the client as the server player and dragging them a bit. So confirming it may be related to wind.

[2019-06-18 05:24] chairbender commented on #1453
I can take this on

[2019-06-18 05:26] chairbender commented on #1328
@Aranclanos looks like you are working on #1933 , are you also working on this?

[2019-06-18 05:54] Aranclanos commented on #1328
this one is technically done, but since I did 10 times what the bounty asks theres a lot of polishing needed until its at a standard that I'm happy with
and I started doing pipenets without realising this bounty was related to it

[2019-06-18 12:48] fomalsd opened #1951 "Opened lockers can appear closed for late joiners"
# Description
![image](https://user-images.githubusercontent.com/10403536/59683170-26fac980-91c7-11e9-8a78-315d8a130cb9.png)

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Host from build, open some lockers
2. Join from editor, look at lockers

[2019-06-18 12:53] fomalsd opened #1952 "Bodies appear underneath lockers"
# Description
![image](https://user-images.githubusercontent.com/10403536/59683335-85c04300-91c7-11e9-9c4f-70fffac3cf8d.png)
Player corpses appear underneath lockers when they are opened (instead of being above)

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Host in build, join in editor
2. Let one of players onto opened locker, stab him

[2019-06-18 14:24] chairbender commented on #1952
Bodies go in the blood layer. Probably need a new one so it's above the machines layer.

[2019-06-18 14:27] chairbender commented on #1951
Looking into it

[2019-06-18 14:28] chairbender commented on #1952
Lookin into it

[2019-06-18 15:21] fomalsd opened #1953 "Help intent predictive swap needs rollback for swappee"
# Description
![GIF](https://user-images.githubusercontent.com/10403536/59695976-a8a82280-91da-11e9-9417-77360972b08c.gif)
When player you're trying to swap with is pulling something, his position isn't reverted for you

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. As Player 2, start pulling a mob and come next to a wall
2. Approach with Player 1 like on the g

[2019-06-18 15:57] JakobVaughan commented on #1723
Hey, I'll give this a try

[2019-06-18 16:09] chairbender commented on #1953
It was my intention to not allow swap when someone is pulling something, period. Complicates things otherwise.

[2019-06-18 20:37] #1922 closed, assigned to nobody

[2019-06-19 09:01] #1930 closed, assigned to chairbender

[2019-06-19 09:01] #1931 closed, assigned to chairbender

[2019-06-19 09:01] #1951 closed, assigned to nobody

[2019-06-19 09:01] #1952 closed, assigned to nobody

[2019-06-20 15:25] JaytleBee commented on #1935
Took a bit of time off but I put some more hours in and I finally got the handcuff sprites networked properly. Uncuffing players works only on server, I'll probably do that using a Command, like in PushPull.

I managed to fix the stun in RegisterPlayer, though I'll need to see how it works with slipping

[2019-06-20 16:16] #1680 closed, assigned to nobody

[2019-06-20 21:13] vgwiss commented on #1866
I can work on this! I need a good first bug to work on.

[2019-06-23 14:47] dapocalypse commented on #1749
someone else do this

[2019-06-23 14:51] Aranclanos commented on #1749
edited the OP to mark off step 2 since chair fixed it

[2019-06-23 17:40] Jibbajabbafic commented on #1862
@HiddenKn any progress?

[2019-06-23 17:43] Jibbajabbafic commented on #1454
@JacobSweeten still working on this?

[2019-06-23 21:13] #1866 closed, assigned to nobody

[2019-06-24 08:58] Aranclanos commented on #1857
Chairbender fixed it on the interaction revamp

[2019-06-24 08:58] #1857 closed, assigned to nobody

[2019-06-24 10:26] #1864 closed, assigned to nobody

[2019-06-24 17:59] ghost commented on #1862
Not a lot, I had to pause any development due to IRL issues.

[2019-06-24 18:04] Jibbajabbafic commented on #1862
That's fine, it happens :)

I'll leave it as in progress for now but let us know if you don't want to do it anymore

[2019-06-24 18:10] HiddenKn commented on #1862
Will do.

[2019-06-25 12:43] fomalsd opened #1969 "Interaction-related NREs on game start"
# Description
When starting game (self-host or otherwise) a few annoying exceptions appear:
[code]
[code]

[2019-06-25 22:14] Aranclanos opened #1970 "Player sprite blinks when going out from a closet"
# Description
When leaving a closet, the player sprite appears, disappears and re-appears in a quick succession

## Category
BUG

## Detailed Bug Report
https://cdn.discordapp.com/attachments/312454684021620736/593202325229797377/uC477BeUXn.mp4
.mp4 files are too high tech for github, a small video of it happening

[2019-06-26 20:06] JaytleBee commented on #1935
I'm terribly sorry about the delay, some life stuff is getting in the way (adding to that, a general lack of motivation, also I need to practice for a guitar gig). I will continue work on this soon.

[2019-06-26 21:16] DooblyNoobly commented on #1935
Thanks for the update, you're making really good progress. Any chance you could list out what is left to do?

On 27 Jun 2019, at 6:06 am, JaytleBee <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm terribly sorry about the delay, some life stuff is getting in the way (adding to that, a general lack of motivation, also I need to practice for a guitar gig). I will continue work

[2019-06-26 23:48] chairbender commented on #1969
i dont get these anymore locally so they might be fixed in my upcoming PR

[2019-06-27 00:19] ghost commented on #1862
Could you take me off this? I won't be able to work on this for quite a while I'm afraid.

[2019-06-27 00:23] DooblyNoobly commented on #1862
sure can, thanks for letting us know

[2019-06-27 20:08] JaytleBee commented on #1935
There's an NRE on client when a taser bullet hits someone which I need to fix, and uncuffing doesn't work yet. Shouldn't be a lot of work, but the uncuffing is a bit of a drag to test (since I need to actually build the game) and I haven't done a lot of work with network messages yet.

[2019-06-28 06:41] #1772 closed, assigned to nobody

[2019-06-28 22:58] DooblyNoobly opened #1976 "TODO: Adjust lobby window scales based on screen resolution"
# Description

Smaller screens have difficulty seeing the new lobby screen scales. Create a way to define profiles for each screen size and mobile screens and settle on default values.

[2019-06-29 14:31] Jibbajabbafic opened #1977 "Can't toggle internals"
# Description

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Equip breath mask
2. Pick up oxygen tank
3. Notice the internals toggle doesn't turn solid
![image](https://user-images.githubusercontent.com/4493127/60385617-f3e7ee00-9a82-11e9-99a0-7541ee8b3e26.png)

[2019-06-30 10:37] Jibbajabbafic opened #1981 "Pushing isn't as smooth as pulling"
# Description
Pushing an object should be as smooth as pulling it, which is the current behaviour in /tg/:
### TG pulling + pushing:
![gjdYWs4CE9](https://user-images.githubusercontent.com/4493127/60395331-ce61ef80-9b29-11e9-9abf-9405606588fa.gif)

### Our pulling + pushing:
![bSHRDQYVox](https://user-images.githubusercontent.com/4493127/60395377-492b0a80-9b2a-11e9-91f6-4c3f2529087a.gif)

## Note

[2019-06-30 11:27] #1976 closed, assigned to DooblyNoobly

[2019-06-30 14:26] fomalsd commented on #1981
Current behaviour is actually intended, see discussion in discord
https://discordapp.com/channels/273774715741667329/312454684021620736/484743463577976835
Allows to i.e. push things into space without following them

[2019-06-30 14:30] Jibbajabbafic commented on #1981
I realise it's intentional, but after playing some /tg/ the smooth pushing feels a lot nicer and more responsive IMO

[2019-07-01 06:43] Schneckenhof commented on #1977
Recreating issue. This is my first ever bug testing on github. I hope I'm doing this correctly:

Step 1: Mask Equipped - No Tank - Internals toggle transparent.

![Mask Equipped - No Tank - Internals toggle transparent](https://user-images.githubusercontent.com/52392397/60415592-9c906d80-9ba9-11e9-93f9-72ba3c25f79f.PNG)

Step 2: Mask Equipped - Tank picked up in RT hand - Toggle still transparent

[2019-07-01 13:22] Jibbajabbafic commented on #1977
Thanks for confirming the bug.

[2019-07-01 23:48] Schneckenhof commented on #1808
This may sound stupid, but I think "Oil" is actually missing.

I was trying to figure out how the Json editor site I was using worked. (https://jsoneditoronline.org/)

What I came up with was to load the json file in the editor and go down the Wiki and punching those names in the search button. Once they popped up I'd move that block of code up to the top so the Json file I was using would be in t

[2019-07-02 03:56] Schneckenhof commented on #1859
Replicated Issue. Posting images for reference.

1) Grab Emergency O2 tank.
2) Click Belt Slot

Em O2 tank on ground.

![Em o2 Tank on Ground](https://user-images.githubusercontent.com/52392397/60481393-1f253580-9c5b-11e9-9496-6f1af95c6ec6.PNG)

Em O2 tank in Right hand

![Em o2 Tank in right hand](https://user-images.githubusercontent.com/52392397/60481419-40862180-9c5b-11e9-9a2f-2b3e74475301.PNG

[2019-07-02 18:10] Aranclanos opened #1986 "Having the player prefab open brings up errors"
# Description
![image](https://user-images.githubusercontent.com/701959/60535837-5fc49380-9cdb-11e9-977a-a6120377f661.png)

## Category
BUG

## Detailed Bug Report
If you open the player prefab on the editor, the console will slowly spam you with errors

[2019-07-02 18:15] Aranclanos opened #1987 "TransferBody() generates a warning"
# Description
due to #1985 now transfering bodies will generate warnings

## Category
BUG

## Detailed Bug Report
This line was added:
NetworkServer.ReplacePlayerForConnection(new NetworkConnection(), oldBody, 0);

it creates a fake networkconnection to replace the original/old body in TransferBody()
Without it, the connectionToClient variable of the old body's NetworkIdentity component would stil

[2019-07-02 18:22] Aranclanos commented on #1695
It's happening again

[2019-07-02 18:28] Aranclanos opened #1988 "TextureDataRequest error when using the devspawner"
# Description
![image](https://user-images.githubusercontent.com/701959/60536938-bd59df80-9cdd-11e9-9ce0-ccb8d79ab968.png)
When using the devspawner this error seems to come up, it doesnt seem to affect anything

## Category
BUG

[2019-07-02 18:31] Aranclanos opened #1989 "Client joining fast at roundstart having lights turned off"
# Description
If a client joins the server before the lights are turned on, the client will stay in darkness

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Start the server
2.Quickly join with a client before lights are turned on
3.Notice how the client's lights dont turn on while the server ones are

[2019-07-02 19:15] Jibbajabbafic commented on #1988
Happens even without using the dev spawner, seems quite random. I think it started after #1879

[2019-07-03 08:53] fomalsd commented on #1749
can shoot through atmos tanks
![GIF](https://user-images.githubusercontent.com/10403536/60578021-065a7400-9d70-11e9-95b0-016a42aa8ee1.gif)

[2019-07-03 16:31] chairbender commented on #1749
Atmos tanks not being shootable will be fixed in upcoming pr

[2019-07-03 22:13] Jibbajabbafic opened #1993 "Add version checks for clients connecting to a server"
# Description
The server should be able to check clients have the same version of the game when they connect using a checksum/crc.

If they fail the check they should be kicked and shown an appropriate error message, and how to update their game to the right version.

## Category
TODO

[2019-07-03 22:21] Jibbajabbafic opened #1994 "Add admin auth system B: 70"
# Description
The server needs a way to tell admins and non-admins apart to restrict access to debug/admin tools.

Ideally this will use our own account system or the steam one, and there should be a list of admins stored in a file on the server initially.

An admin panel and commands will come later.

Related to #2273.

## Category
TODO

[2019-07-04 10:30] #1845 closed, assigned to nobody

[2019-07-04 10:30] #1941 closed, assigned to nobody

[2019-07-04 11:14] fomalsd opened #1998 "Cloth inventory icons can be wrong on weaker PCs in built clients"
# Description
![img](https://user-images.githubusercontent.com/10403536/60662414-d84a6200-9e4b-11e9-8836-d84e5e2dbe7b.png)
See picture.
They get fixed when clicking them though

## Detailed Bug Report
Introduced by changes in #1959. Delays were "fixing" icons, but player stood naked for 0.2s

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Make sure you're doing

[2019-07-04 18:20] DogZeroX opened #2002 "Interactive CPR"
To not make CPR just click-spamming, I propose the idea of make it like a quicktime event.

The players has to hit **E** in a specific rhythm for the action to work properly, a small window will be displayed showing the pulse and "minigame"

With every "beat" that is hit correctly: The CPR will make effect, giving a message and the heart in the corner will give a brief green glow and a heartbeat s

[2019-07-04 18:36] vgwiss commented on #1977
Working on this!

[2019-07-04 18:54] chairbender commented on #1695
easy fix, will do in next PR. The ClosetType field got reset, this is why I shouldn't have assigned it a default value.

[2019-07-06 04:13] DooblyNoobly commented on #1934
Increasing bounty to 280 as this is now a high priority

[2019-07-06 04:14] DooblyNoobly commented on #1933
Increasing bounty to 300 as this is now a high priority

[2019-07-06 04:16] DooblyNoobly commented on #1935
@JaytleBee  any progress update on this?

[2019-07-06 18:48] JaytleBee commented on #1935
I've made a bit of progress, I still need to fix a minor glitch and merge it

On a side note, I've been really unproductive lately for reasons I can't quite pinpoint. I'm sorry for the delay it's causing

[2019-07-06 21:09] chairbender commented on #1749
Can not recreate 1. But fixed 3 as indicated by vlandemart.

Will work on muzzle flash and shake

[2019-07-07 03:49] dapocalypse commented on #1933
Are you still doing this?

[2019-07-07 03:49] dapocalypse commented on #1934
Are you still doing this?

[2019-07-07 04:12] #1695 closed, assigned to chairbender

[2019-07-07 13:20] Aranclanos commented on #1933
This is finished and working in develop, but before closing please make sure I didnt misinterpret any point or if there's any bug or issue with it that I should tackle

[2019-07-07 15:36] chairbender commented on #1933
Oh, I thought it wasn't fully working. When I tried to scan host as client it didn't seem to do anything.

[2019-07-07 15:46] Aranclanos commented on #1933
on current develop? I commited the references from the console to the scanner in the map four days ago

[2019-07-07 17:04] DooblyNoobly commented on #1933
Ill do some thorough testing today and get back to you with results

[2019-07-07 21:09] vlandemart commented on #1934
Yes, currently finishing it.

[2019-07-07 22:51] DooblyNoobly commented on #1933
@Aranclanos nice work! This is really cool.

Few issues I want fixed up before closing this ticket:

1: Once you have been cloned you cannot drag your body out of the DNA scanner. Infact just moving around makes your old body go in and out of the DNA scanner for some reason:

![dnascanner](https://user-images.githubusercontent.com/20813925/60774756-67ad8900-a15c-11e9-8433-0e6b3ce467e1.gif)

2: Dra

[2019-07-07 23:21] #1453 closed, assigned to chairbender, krille90

[2019-07-08 22:47] #1933 closed, assigned to nobody

[2019-07-08 23:56] DooblyNoobly commented on #1935
All good @JaytleBee just make sure you have something in by the end of the month as we are getting close to 0.4 beta

[2019-07-08 23:58] DooblyNoobly commented on #1723
@MoltenAqua can you let us know if you are still doing this one? Its been 20 days since you claimed it

[2019-07-09 00:00] DooblyNoobly commented on #1454
As we haven't heard anything from @JacobSweeten I'm taking this off InProgress. This bounty is up for grabs again and is high priority so I'm increasing bounty to 150

[2019-07-09 00:03] DooblyNoobly commented on #1328
@Aranclanos is this still going to be part of your pipenets work? I'll need this done before 0.4 beta release so increasing bounty and adding high priority tag.

[2019-07-09 00:03] Aranclanos commented on #1328
wait no its finished

[2019-07-09 00:07] #1328 closed, assigned to nobody

[2019-07-09 02:44] chairbender commented on #1986
It's due to the gizmo being on, trying to access registerTile.WorldPosition when I'm guessing registerTile is null:
Vector3 regPosS = registerTile.WorldPositionServer;

[2019-07-09 03:02] chairbender commented on #1454
I can give it a shot. The UI might not be spectacular but I can at least make sure it's functional.

[2019-07-09 03:03] DooblyNoobly commented on #1454
thanks, doesn't have to be a perfect work of art, just has to work.

[2019-07-09 12:51] Aranclanos opened #2013 "You can pick up wrenched down pipes"
# Description
![image](https://user-images.githubusercontent.com/701959/60889203-e8d55080-a22e-11e9-9ea6-84da14f05735.png)
Spawn and try to pick up any pipe, you'll be able to hold it, unwrenching/wrenching them down doesnt seem to change anything

## Category
BUG

[2019-07-09 12:55] Aranclanos opened #2014 "Computer overlays on clients doesnt toggle on"
# Description
![image](https://user-images.githubusercontent.com/701959/60889450-66995c00-a22f-11e9-8d55-bdb4a3fc4c3d.png)
top: server
bottom: client

Notice how the computer overlay sprite doesnt show up on the client.
note: this only happens when power goes off and on, when joining for the first time the overlay will be on

## Category
BUG

[2019-07-09 15:02] JakobVaughan commented on #1723
Yh, I'm still working on it, just been moving house recently, and everythings a bit up in the air. I'll get it done within a week or two, sorry for the wait

[2019-07-09 21:50] Aranclanos commented on #1749
I updated unity to 2018.3.14 and the grille stopping bullets stopped happening

[2019-07-09 23:22] #1749 closed, assigned to nobody

[2019-07-10 02:35] chairbender opened #2015 "Large Fires Cause Large Lag"
# Description
With the recent changes that make things capable of being damaged by fire, large fires are causing quite a bit of lag.

# How to cause large fires
1. Go to atmos and pull an atmos canister out into the hallway.
2. Open the canister and let plasma fill the hallway. Wait 10-20 seconds.
3. Spawn some welders. Ignite and immediately throw them to help spread the hotspots.

When the fire

[2019-07-11 22:51] Chachitataya commented on #1877
Can't seem to replicate with Captain's hardsuit (roundstart suit) and Mining hardsuit.
Is this still an issue?

Edit: You can wear a large tank regardless of exosuit or clothing slot item - or lackthereof.
Should this be a feature request to disallow large tanks from being equipped without an appropriate exosuit?

[2019-07-12 02:36] DooblyNoobly commented on #1877
Yep, the behaviour should match TG. So if players can equip large tanks without a suit then that needs to be fixed. Detecting exosuits will be tricky tho because of the way unicloth is set up, so that will need to be sorted out.

[2019-07-12 17:02] Bod9001 opened #2016 "When on OpenGL renderer, the scale option is set in to an invalid Setting On first Start"
# Description
This results in wonky Non-pixel perfect scaling
## Category
BUG

## Detailed Bug Report
This results in wonky Non-pixel perfect scaling
## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Go into unity and change the renderer for your platform to OpenGL  Core
2. Build it
3.Load up the game and observe the scale option slider Giving incorrect values

[2019-07-13 14:52] RealPlanet commented on #2013
Working on it.

[2019-07-15 14:42] Aranclanos opened #2021 "Melee doesn't work, nothing happens"
# Description
If you grab any item and click on an adjacent player trying to hit them and deal damage, nothing happens. No runtime, warning or log

## Category
BUG

[2019-07-15 16:58] Bod9001 opened #2022 "a standard way to test if a game object is a certain object E.G. a crowbar"
# Description
So you want to test if someone has a fire extinguisher in there inventory,
 Currently the only ways to observe what the item is, is to
A Get component for a component that's only on that item
B Test the name of the game Object

## Category
TODO

## Proposal
I say to have some type of standard systems items like item attributes that is unique to every prefab item, so you can easily te

[2019-07-15 22:29] #1934 closed, assigned to nobody

[2019-07-16 02:41] DooblyNoobly opened #2023 "BUG: Player name missing for new Joiners B: 50"
# Description
Player names are missing for non hosts in a mp game in two areas:
- Inspecting an ID card
- Security Records

### Criteria:
- Find out what is causing the bug and resolve it
- Test the solution in a multiplayer game to ensure it works

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Create a game and run as the host
2. Join the game with another pla

[2019-07-16 03:54] DooblyNoobly opened #2024 "BUG: Taking an Object Image Snapshot of a player causes NRE B: 50"
# Description:

When taking an image snapshot (for things like the security records) an NRE is thrown because the method [TakeObjectSnapShot(GameObject, Vector3, Quaternion, Vector3)](https://github.com/unitystation/unitystation/blob/4b26e52701d0d6628b13361e0e78c7028db29842/UnityProject/Assets/Scripts/Util/ObjectImageSnapshot.cs#L50) instantiates a completely new Player object and then Destroys it

[2019-07-16 05:58] Aranclanos commented on #2024
I'll take a look

[2019-07-17 15:56] JaytleBee opened #2028 "Headless server plays sounds"
# Description
When you start a headless server it will play some sounds.

## Category
BUG

## Detailed Bug Report
The sounds seem to be limited to the music when you start up the game and centcomm announcements

## Steps to Reproduce
1. Start a headless server
2. Listen

[2019-07-17 21:06] JaytleBee opened #2029 "Implement a solid way to do sound variations"
# Description
Right now, SoundManagers has 5 different sounds for rustling (Rustle01..Rustle05). To play a random one of these the code that is used is:

`SoundManager.PlayAtPosition("Rustle0" + UnityEngine.Random.Range(1, 6).ToString(), PlayerManager.LocalPlayer.transform.position);` (one example from InteractableStorage.cs)

This *works*, but it's hardly elegant. Disregarding the unnecessarily v

[2019-07-17 21:21] JaytleBee opened #2030 "Progress bars are one tile too low"
## Category
BUG

## Detailed Bug Report
They're too low

## Steps to Reproduce
1. Look at a progress bar
2. Note that it's one tile too low

[2019-07-18 19:02] Jibbajabbafic opened #2031 "Energy weapon projectiles arc way too much"
# Description
I think the idea was to simulate the range dropping off, but the arc is way too much.

![](https://cdn.discordapp.com/attachments/312454684021620736/601481959402635334/AeMLGuvhuR.gif)

Ideally the projectile shouldn't move onto the tile below the target when firing in a straight line. Instead, the projectile should fly straight until it reaches the end of the gun's range, and then th

[2019-07-18 19:25] #2023 closed, assigned to nobody

[2019-07-18 19:58] Jibbajabbafic opened #2032 "Handcuffs stop player movement B: 35"
# Description
Players should still be able to move when handcuffed, but any hand interactions should be disabled (in inventory and in the world).

The only time they can't move is if the player is being dragged by someone else as well. The handcuffed player shouldn't be able to break pulls either.

Edit:
When Doobly made #1935 he specified that cuffs should stop movement which isn't the case in /t

[2019-07-18 20:00] JaytleBee commented on #2032
For clarity, this is intended behaviour that Doobly specified in #1935:

[2019-07-18 20:01] Jibbajabbafic opened #2033 "Handcuffs need a UI sprite"
# Description
The hands should appear like this when handcuffed:
![cuffs](https://camo.githubusercontent.com/857a154700b3d14bde08e3e070c8ba10c6f9ffda/68747470733a2f2f63646e2e646973636f72646170702e636f6d2f6174746163686d656e74732f3331323435343638343032313632303733362f3630313136343433363032333031373438322f756e6b6e6f776e2e706e67)

## Category
TODO

[2019-07-18 20:44] Jibbajabbafic commented on #948
I've hogged this for way too long, someone else can finish it (I don't think there's much to do)

[2019-07-18 22:26] #1935 closed, assigned to nobody

[2019-07-19 09:03] HenryBlackie opened #2034 "Cannot drag cargo crates from the shuttle"
# Description
Cargo crates cannot be dragged from shuttle

## Category
BUG

## Detailed Bug Report
When I try to drag a container off the cargo shuttle it'll  slide back on to the shuttle every time it leaves. I have tried going through the doors and dragging it through the open shutters and it did the same thing every time. I also tested multiple different crates (beer and baton) and both did the

[2019-07-19 17:58] JaytleBee commented on #948
I think I'll have a go at this.

[2019-07-19 18:29] dapocalypse commented on #948
You beat me too it

[2019-07-19 19:09] JaytleBee commented on #948
I did wait 20h

[2019-07-19 19:10] dapocalypse commented on #948
You did claim it first

[2019-07-19 20:19] Bod9001 commented on #2022
ok, What do you guys think about adding
PoolPrefabTracker
to every object/item Prefab?

I've tested it and it does allow a reference for itself
This would make it easier to do tests like I was Talking about earlier
And it Already gets added to Game objects that are spawned in runtime

[2019-07-20 07:31] #2024 closed, assigned to nobody

[2019-07-20 09:25] DooblyNoobly commented on #1898
Yeah I have a feeling this might be related to wind push. Either way, its pretty bad now on current steam build. I'm going to put a decent bounty on this to see if we can get it sorted out asap.

Btw my ping to the steam server was 332ms when I was testing earlier. Not sure if the bit of lag is causing the problem to happen more often. I can walk around for about a minute before I get stuck.

Cont

[2019-07-20 13:07] JaytleBee commented on #948
I think I'm probably not cut out for this after-all, @dapocalypse you can do this if you still want it.

[2019-07-20 13:42] 0xJoey commented on #2034
Messing around with it a bit, there seems to be some issue with atmos between the airlock and the shuttle. It seems the shuttle is getting depressurized.

![image](https://user-images.githubusercontent.com/345122/61579024-c7fade00-aaff-11e9-9ec0-5fae713fed3b.png)

I managed to get it out by going up and then right, but you'll notice that you'll get a message that you don't have enough oxygen.

![i

[2019-07-20 16:05] dapocalypse commented on #948
Epic!

[2019-07-20 16:15] 0xJoey opened #2040 "Cannot open Right-click menu for items in matrix the player is not in"
# Description
Any item that is not in the same matrix as the player cannot be interacted with using the right-click menu.

## Category
BUG

## Detailed Bug Report
As the code only retrieves items that are in the same matrix as the player, attempting to open the right-click menu of any item not in the same matrix will not call `GenerateRightClickOptions()` on that item.

## Steps to Reproduce
Pleas

[2019-07-20 16:19] 0xJoey opened #2041 "Right-click shows items that are obscured by a floor tile"
# Description
Right clicking any tile containing a hidden cable will reveal the cable in the right-click menu.

## Category
BUG

## Detailed Bug Report
A cable is hidden if the tile it is on is does not have `LayerType.Base` as LayerType, which there currently is a correct check for. However, cables occur on layer 22, which the check does not correctly do, currently(instead, it checks if `obj.laye

[2019-07-20 17:32] Aranclanos opened #2043 "Account name doesn't work for login"
# Description
The login popup window asks for an email and doesn't accept the acc name, which is asked on the creation of the account

## Category
BUG

[2019-07-20 17:34] Aranclanos opened #2044 "Account login 'Enter' keyboard button doesn't work"
# Description
The only way to login is to use your mouse and click on the 'Login' button. Pressing enter does not work, it should!

## Category
TODO

[2019-07-20 17:36] Aranclanos opened #2045 "Right clicking on the main menu creates runtimes"
# Description
![image](https://user-images.githubusercontent.com/701959/61581986-9bdd5e00-aafb-11e9-9b0e-5c39d16548e9.png)

Just right click anywhere in this screen and you'll get these runtimes, the game isnt affected in any way by them

## Category
BUG

[2019-07-20 19:45] Aranclanos commented on #1898
I'll take a look

[2019-07-20 21:41] DooblyNoobly commented on #2043
This isnt a bug. You need to use your email for login. Its by design. Your username is actually your display name or OOC name. Ill change the wording so it doesnt say username in creation screen

[2019-07-21 05:22] Emma3DSS commented on #1898
Im also takin a look

[2019-07-21 07:57] Emma3DSS commented on #1898
This issue seems to occur more frequently when entering a room, could this have to do with Gases inside closed airlocks being frozen?

[2019-07-21 08:14] Emma3DSS commented on #1442
Ill take a look at the powernet updates

[2019-07-21 08:35] Emma3DSS commented on #1442
As of July 21st there is 17.3kb of GC being created by
Update.ScriptRunBehaviourUpdate and PreLateUpdate.ScriptRunBehaviourLateUpdate

[2019-07-21 16:40] vladb99 commented on #2044
Could I try work on it? This would be my first attempt to contribute to an open source project.

[2019-07-21 16:41] Aranclanos commented on #2044
there's a first time for everything

[2019-07-22 04:41] Emma3DSS opened #2047 "Expanded Options Menu"
# Description
Add more options to the options menu.

- [ ]  Swap between hold to bring up right-click GUI and tap to bring up right-click GUI
- [x] Enable/Disable Scroll-wheel to zoom
- [ ] Change between Fullscreen/Windowed/Borderless-Windowed
- [ ] Change Resolution

## Category
Feature

[2019-07-22 05:09] DooblyNoobly commented on #2047
We also need an obvious options button somewhere. Most people don't know its hidden in esc menu

[2019-07-22 05:10] DooblyNoobly commented on #1898
Issue was fixed in #2048

[2019-07-22 05:10] #1898 closed, assigned to nobody

[2019-07-22 22:12] #2044 closed, assigned to nobody

[2019-07-23 00:20] Emma3DSS commented on #2032
Fixing this

[2019-07-23 12:53] Bod9001 opened #2053 "Accidentally triggering Player drag to when fighting people"
# Description

so Since they drag player to thing mechanic, In combat your mouse moves a lot And of course that accidentally triggers the drag scenario instead of actually the intent you want to do this can be frustrating for Disarming and attacking since Since that blocks the attack
I did highlight this would be an issue With input

https://cdn.discordapp.com/attachments/312454684021620736/603207

[2019-07-23 15:51] Bod9001 commented on #1795
oh yeah, I fixed this might as well close it

[2019-07-23 15:51] #1795 closed, assigned to nobody

[2019-07-23 15:51] Bod9001 opened #2055 "cable cutters no longer work on cables"
# Description
the wire cutters have stopped working on the cables for some reason

## Category
BUG
## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. get wire cutters
2. click on cable
3. watch as nothing happens

[2019-07-23 15:53] Bod9001 commented on #2041
similar to #1797

[2019-07-23 19:16] vladb99 commented on #1970
Working on it.

[2019-07-24 00:47] chairbender commented on #1454
I've been working on this near constantly for the past 2 weeks, it's just been slow going because it's my first time building a UI in this game and there are elements in this UI which need to function quite unlike any of the existing elements.

[2019-07-24 03:36] chairbender commented on #2053
I don't know if a bigger deadzone will be better. It could be confusing why drag isn't happening because it decreases the feedback indicating that a drag has started. I would suggest maybe a short timer before drag is allowed while holding down the mouse. I think there might already be one? And as soon as the timer is hit it can trigger the drag, and we can remove the deadzone.

[2019-07-24 08:45] raymoo opened #2057 "Compatibility of Unity and (A)GPL"
I'm not a lawyer and this isn't legal advice.

The GPL and AGPL require that when you redistribute a work, you license the complete work under the same license (GPL or AGPL, whatever the original license was). Since Unity games include Unity and link against Unity, the complete work includes the components of Unity that are included in the game. Unity does not allow you to relicense it.

If you re

[2019-07-24 09:38] Crow-Control commented on #2057
I guess @DooblyNoobly would want me to respond to this.

I will respond on each of your points seperately:

- Well, "complete work" is defined in the licence as "covered work" which means "either the unmodified Program or a work based
on the Program."
- "The program" is defined as: "any copyrightable work licensed under this
License"

So no, there is no "complete work" in the licence. Simply put:

[2019-07-24 09:42] DooblyNoobly commented on #2057
Thanks for the detailed answer @Ornias1993, closing this issue now.

[2019-07-24 09:42] #2057 closed, assigned to nobody

[2019-07-24 10:03] badbon commented on #2013
You can also pick up the oval thing that looks like that. Basically you can pick up floor fixings or whatever the heck theyre called.

Was about to open this issue yesterday.

[2019-07-24 10:04] badbon commented on #2013
If you go south of station you can pick it up, so you don't even need to spawn it there.

[2019-07-24 10:59] raymoo commented on #2057
Not sure if I understand, are you considering unitystation itself to be a plugin for the Unity engine (or Unity engine as a plugin for unitystation)? Or are you talking about plugins a server operator might use on top of unitystation to provide additional functionality? I'm asking because I know the latter has come up as an issue before, and this issue is not concerned with those, only with unitys

[2019-07-24 12:37] Crow-Control commented on #2057
@DooblyNoobly  No problem :)
Next time someone asks about plugins and closed source, you can point them here and hint about making something a plugin ;)

@raymoo Well, I use "plugin" more as a pseudo-legal definition for external libraries that are attached to the code. That means both operator plugins, plugins on-top of unitystation (steam for example) and plugins underneat unitystation (Unity).

[2019-07-24 14:05] #2040 closed, assigned to nobody

[2019-07-24 14:05] #2041 closed, assigned to nobody

[2019-07-24 22:16] JacobSweeten commented on #1454
@chairbender feel free to look at my repo fork or use the sprites I made.

[2019-07-25 17:37] Bod9001 commented on #2053
Maybe only having drag on Help intent?

[2019-07-26 10:24] HenryBlackie commented on #2034
I'd agree with 0xJoey, it does seem like objects get drawn towards the door.

I was messing about earlier with this and accidentally opened one of the crates, the contents was dragged to the white airlock door. I don't think I ever got any oxygen warnings though.

I've added some footage of when I was messing around, in case anything helps.

https://youtu.be/B3K3XLdeWuk

[2019-07-26 13:32] dapocalypse commented on #948
@krille90 I'm a bit confused what the first checkbox is asking me to do, does it want something to pop up when I click it or.

[2019-07-26 16:36] Bod9001 opened #2063 "NRE on round restart"
# Description
![image](https://user-images.githubusercontent.com/27101670/61966852-aef4a000-afcb-11e9-826f-e5086045984a.png)

## Category
BUG

## Detailed Bug Report
MissingReferenceException: The object of type 'Tilemap' has been destroyed but you are still trying to access it.
Your script should either check if it is null or you should not destroy the object.
UnityEngine.Tilemaps.Tilemap.GetTile

[2019-07-26 16:55] Bod9001 commented on #1394
Tested it in editor doesn't seem to be any issues, Will have to test on server sometime

[2019-07-26 21:42] Crow-Control commented on #2063
Maybe rename it to:
"NRE on round restart"

I clicked on it because I thought it was on every new round... could be a language thingy though...

[2019-07-26 21:43] Bod9001 commented on #2063
yeah that's good suggestion

[2019-07-26 21:53] Crow-Control commented on #1851
Some historical background:
This issue came up in 2017 already when I was working on "Prefab2Tile".

The goal with prefab2tile is to automate all (or most) tile generation from prefabs. The split made it harder to do nicely and I had to account for the clusterfuck of "Resources" folders.

The reason we skipped out on it was refactoring it is rater irritating when it comes to merging for less "pro"

[2019-07-27 09:24] Aranclanos commented on #948
the players names on the chat should have interactions, for example an AI tracking with its camera, a ghost orbitting, admin tools, etc

[2019-07-27 13:06] Expedition13Admin commented on #1994
Copied this issue to [expedition13/Core](https://github.com/expedition13/Core/issues/12)

*edit*
It would be nice when one uses a plugin to copy an issue, said plugin actually informs you when it is going to post comments.

[2019-07-27 16:44] JakobVaughan commented on #1723
Hey, really sorry, but I ran into quite a few problems in creating the spraying mechanic, and am unable to complete the bounty

[2019-07-27 19:36] Aranclanos commented on #1723
I'll take a look

[2019-07-28 17:28] #1970 closed, assigned to nobody

[2019-07-28 17:29] Bod9001 opened #2066 "Shuttle Control Console: Radar icons are missing"
# Description
There is no icons for anything on the radar on the ship Console net tab
## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Spawn as syndicate
2.  Click on console
3.  view Lack of radar icons

[2019-07-28 23:11] coolcat1711 commented on #1745
My gut response would be to implement a small move queue and update the server when off cooldown. The only problem would be if it would make movement feel artificially unresponsive if you filled the queue with too many 'In advance' commands.

[2019-07-28 23:22] chairbender commented on #1745
I like the queue idea, I think it's a common practice to allow "buffering" a single move in many games. I think that would make sense here - just allow them to buffer a single move.

[2019-07-29 00:04] chairbender commented on #1454
Just to track this, I've created a PR for what i have so far but I have quite a bit more to go:
Remaining work to be done:
* Sounds
* Flashing red status LED when super low (currently just shows solid red when low)
* Ability to drag window (disabled drag because it was preventing from using the wheel)
* Polish the drag interaction of the wheel (currently the rim changes color slightly when you cli

[2019-07-29 07:27] badbon opened #2068 "Shuttle radar is broken, no station/other shuttle display icons"
# Description
Same as title. there used to be icons for each shuttle and the station itself, theyre not being shown now.

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Pick syndicate team
2. Go into shuttle console
3. ??? profit

[2019-07-29 14:44] vladb99 opened #2069 "Some objects on walls aren't visible"
# Description
When the player spawns in, there are some objects like medbay signs or fire extinguisher cabinets that aren't visible, even if the player is in the right range. However when a player closes himself in a locker and is in the right range, these objects will appear and work perfectly fine from that point on.

## Category
BUG

[2019-07-29 14:52] chairbender opened #2070 "Object Lifecycle - Consistent Spawn and despawn logic / hooks"
# Description
Currently many items which are pooled will not reset to their correct initial state when spawned because their state is initialized only in Start / Awake or in their initial settings.

Due to us using a custom object pooling technique, the standard Unity lifecycle methods like Start / Awake are not sufficient.

We should create a method that is invoked when the object is spawned rega

[2019-07-30 07:01] badbon opened #2072 "You can shoot guns inside lockers"
# Description
You can shoot inside lockers.

And it doesn't look too good, you actually just get recoil effect and literally nothing else happens, not even bullets appear.

## Category
BUG

## Detailed Bug Report
TODO: Remove shooting insided locker.

## Steps to Reproduce
Get in the locker with a machine gun and ratatatatatata

[2019-07-30 16:23] Bod9001 commented on #2070
There is currently goingoffStage Broadcast in poolNetworkdestroy, That could be expanded on

[2019-07-30 17:15] Bod9001 opened #2073 "Spacewalking doesn't cause damage or Alerts"
# Description
You no longer take damage from spacewalking

## Category
BUG or TODO?

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Develop
2. Run out in space
3. Observe no damage taken

[2019-07-30 18:24] Crow-Control commented on #2073
I tested this a few days ago and this wasn't an issue on client and server with client.
What was your setup? (headless? headed? client with headed?)

If it was not headless, I think most likely is a change the past few days.

How I know? Running out of the syndicate shuttle to the station and dying because of: no internals.

[2019-07-30 20:05] dapocalypse commented on #948
Do I have to list these interactions or just make a menu

[2019-07-31 14:10] fomalsd commented on #2069
Can confirm

[2019-07-31 14:35] fomalsd commented on #2034
Could you enable pressure gizmos in editor (Window - Matrix Check) and try again?
Was unable to reproduce constant wind like in your video
![GIF0](https://user-images.githubusercontent.com/10403536/62220234-3dd43480-b39f-11e9-8a65-bd51267f2cc7.gif)

I suspect it's at least partially because of the way how cargo gate is designed – it needs another pair of shutter on the station's side to avoid depr

[2019-07-31 14:44] fomalsd commented on #1981
how about making it only act smoothly when pushing something off in pull mode?

[2019-07-31 17:14] fomalsd commented on #2073
can confirm, feels almost like someone disabled space damage and forgot to re-enable it back – but no recent code changes in LivingHealthBehaviour or RespiratorySystem were detected, weird. you definitely can die from other causes

[2019-07-31 19:50] HenryBlackie commented on #2034
I've just spent the last 10 minutes trying on the newest version and I can't recreate it any more either, with the shutters both open and closed.

I've got footage I can upload if you want, but it's essentially the same as yours. The airlock depressurises during transit, but once a door has been opened everything stabilises.

[2019-08-05 23:29] #1454 closed, assigned to nobody

[2019-08-06 01:26] DooblyNoobly opened #2075 "TODO: Communications Console B: 150"
# Description

This job is to create the NetTab GUI and operating system for the Communications console

![image](https://user-images.githubusercontent.com/20813925/62504362-73639c80-b83b-11e9-872b-7e4b08257f70.png)

## Criteria

- Create the Communications Console locked screen
- Add ability to insert an ID card to allow access to the system
- Only allow ID cards that have the correct permissions

[2019-08-06 02:00] dapocalypse commented on #2075
Hecking claim, i unclaim chat one

[2019-08-06 02:08] DooblyNoobly commented on #2075
I'm not giving this one to you, you don't have the experience to be able to complete it and I need this done this month.  If you manage to PR something though I'll review it but I'm leaving the 'in progress' tag off it for someone who has a track record of completing jobs.

[2019-08-06 02:09] dapocalypse commented on #2075
Alrighty that works

[2019-08-06 02:21] DooblyNoobly opened #2076 "TODO: Identification Console B: 150"
# Description

This job is to create the Identification Console prefab along with the the NetTab GUI.

![image](https://user-images.githubusercontent.com/20813925/62506288-68146f00-b843-11e9-9fad-3fc137669463.png)

## Criteria:
- Create the Identification Console prefab (see other consoles on what components are needed to build it)
- Map the new console somewhere in the HoP's office on Outpost Sta

[2019-08-06 03:12] DooblyNoobly opened #2077 "BUG: Shuttle co-ordinate updates stop working after some time B: 30"
# Description

Shuttle co-ordinates stop being updated after some time of shuttle console use

![image](https://user-images.githubusercontent.com/20813925/62508622-ad3c9f00-b84b-11e9-977e-6b5249b3e122.png)

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Fly around in a shuttle while watching the co-ordinate GUI
2. Stop interacting with the shuttle GUI (walk away

[2019-08-06 03:19] DooblyNoobly commented on #948
I'm going to take this one over

[2019-08-06 03:28] DooblyNoobly opened #2078 "TODO: Add the ability to drag and drop player to beds B: 50"
# Description

We have the ability to buckle players to chairs by using the [dragging and dropping](https://github.com/unitystation/unitystation/issues/1362) action. Now we need the ability to do the same with beds.

## Criteria

- Using the drag and drop system create the ability of being able to drag and drop a player so that the player is strapped to the bed
- If you drag and drop yourself to a

[2019-08-06 03:32] DooblyNoobly opened #2079 "BUG: Cannot spawn as Captain again after restarting game in editor"
# Description

Looks like this issue affects all job roles. It seems that job role counts are being incremented and stored locally so that the amount persists over multiple play throughs of the game (tested in editor). This ends up only being able to spawn as an assistant after awhile and makes it hard to do any testing in the editor.

## Steps to Reproduce
Please enter the steps to reproduce the

[2019-08-06 03:47] DooblyNoobly opened #2080 "TODO: Add small storage boxes B: 70"
# Description

We need the ability to be able to store things in small boxes and have that box be stored in your bag inventory.

![image](https://user-images.githubusercontent.com/20813925/62509861-2b02a980-b850-11e9-8159-3144abe87c95.png)

## Criteria:

- Create the box prefab item
- Add storage slots to the box item (see how the bag works: i.e. Add the Interactable Storage component and the Stor

[2019-08-06 03:57] DooblyNoobly opened #2081 "TODO: Ability to push people over by chance and body target B: 60"
# Description

We need the ability to push people over by random chance.

## Criteria:
- Create a system that calculates a random chance push over event on another player
- Use the current body part target from the assailant in the calculation of the random event (aiming at the chest or head has a higher chance of pushing someone over compared to aiming at their leg or arm)
- Make sure the chance

[2019-08-06 08:39] DooblyNoobly commented on #948
Just finished a quick mock up experiment with chat bubbles above the player to see if it looks and feels alright:

![ChatbubbleMockup](https://user-images.githubusercontent.com/20813925/62524309-b5f79a00-b878-11e9-99bf-26adc111ff7b.gif)

![image](https://user-images.githubusercontent.com/20813925/62524752-82693f80-b879-11e9-9e3c-df6d4f7da22b.png)

I have ideas on where to take it from here so I'm

[2019-08-06 09:31] fomalsd commented on #948
the idea is nice, but in my opinion:
- width should be limited to around 3 tiles (height is alright)
- it needs to look more ss13y (pixelated frame perhaps), at the moment style seems a bit off
- we seem to stick with dark theme approach in general, so bubbles could also be bright text on darker bg (but that's debatable)

[2019-08-06 09:41] DooblyNoobly commented on #948
Cool, Ill post more screens after I finish the visuals

[2019-08-06 10:09] fomalsd commented on #2080
how about using that one instead?
https://github.com/unitystation/unitystation/issues/1698

[2019-08-06 15:56] Aranclanos commented on #2081
We already have this in develop

[2019-08-06 17:39] #2081 closed, assigned to nobody

[2019-08-07 01:30] DooblyNoobly commented on #2080
@fomalsd plan is to get a simple box up and working first (along with a system to add inventory on spawning) and then evolving it to uni containers.

[2019-08-07 15:55] Aranclanos opened #2087 "Chair buckled sprites dont show up on clients"
# Description
![image](https://user-images.githubusercontent.com/701959/62637747-7f6e5d80-b912-11e9-918a-39ce0a349335.png)
Chair buckled sprites dont show up on clients

## Category
BUG

## Detailed Bug Report
im talking about the "temporal" black seatbelt line, the image is from the steamserver

[2019-08-07 15:57] Aranclanos opened #2088 "Talking in OOC spawns a chat bubble"
# Description
![image](https://user-images.githubusercontent.com/701959/62637899-cbb99d80-b912-11e9-8076-4090a425634c.png)

## Category
BUG

## Detailed Bug Report
The chat bubble should be IC only

[2019-08-07 22:40] #2079 closed, assigned to nobody

[2019-08-09 01:15] RyanCross commented on #1863
@DooblyNoobly @Jibbajabbafic Looking into this. It looks like this behavior looks is present with all the sprites, not just the screwdriver.

Prefabs for objects have had their x/y position adjusted so that they appear centered. But this doesn't work for the hand ui elements, which load the sprite directly.

[2019-08-09 03:43] #2088 closed, assigned to nobody

[2019-08-09 04:02] #2078 closed, assigned to nobody

[2019-08-09 13:31] fomalsd opened #2090 "Opened lockers are considered solid for late joiners"
# Description
![GIF](https://user-images.githubusercontent.com/10403536/62782399-baef6000-baa9-11e9-9792-e815cf28e591.gif)

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Host server in build, open one locker
2. Join server from editor, approach opened locker
(you'll predictive push it once and then it'll get stuck)

[2019-08-09 13:33] fomalsd commented on #2068
Duplicate of #2066

[2019-08-09 13:33] #2068 closed, assigned to nobody

[2019-08-09 14:05] fomalsd opened #2091 "Allow spawning custom prefabs as part of job outfits"
# Description
Currently job outfits only accept a list of hierarchy strings for each slot, and these are treated as UniClothes.
You can't make players spawn with certain prefabs in their slots though (clown with a bike horn etc).
This needs to be addressed

[2019-08-09 14:26] fomalsd commented on #2034
Closing this, will reopen if someone manages to reproduce this again

[2019-08-09 14:26] #2034 closed, assigned to nobody

[2019-08-09 16:53] Aranclanos opened #2093 "Space deals no damage"
# Description
Walk to space and you'll find that the atmosphere does not affect you, you do not take freezing damage or lose breath

## Category
BUG

## Detailed Bug Report
I dont know why, but the MatrixManager.GetMetaDataAt( worldPosition ) function which returns the node with the gasmix information, is always returning one with a normal atmosphere, so you breath normally and stay at a good temp

[2019-08-09 16:54] RedlineTriad commented on #2015
It is also important to turn down the log levels when testing as they can actually become the bottleneck, and in my case even lag the computer so hard that audio starts repeating and a forcefull power-down is necessary.

[2019-08-09 17:35] fomalsd commented on #2093
Duplicate of #2073

[2019-08-09 17:35] #2093 closed, assigned to nobody

[2019-08-10 15:48] Bod9001 opened #2095 "ClosetControl.cs SyncSprite Seems to be constantly Being updated"
# Description
I don't see why it would be needed to be constantly updated, surely you would only need an update every time the state changes, this could help with performance issues
## Category
Performance issue

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Put a log statement in the SyncSprite
2. Play in the editor
3. Watch as it contin

[2019-08-10 16:03] #2077 closed, assigned to nobody

[2019-08-11 06:19] #2029 closed, assigned to nobody

[2019-08-12 19:20] chairbender commented on #2013
as requested by @Aranclanos I will take a look at this

[2019-08-12 19:31] chairbender opened #2103 "Corpses appear standing up for late joiners"
# Description
This was an old issue but was fixed, and I think a recent change has caused it to regress.
Probably

Reproduction steps:
1. Host in editor and kill yourself somehow (in the game). Respawn. Validate that your corpse appears laying down.
2. Join as client. Corpse appears standing up.

Expected behavior is that corpse appears laying down, just as it does for the server player.

[2019-08-13 01:42] chairbender commented on #2013
should be as simple as removing pickupable (Narrator voice: "It wasn't")

[2019-08-13 07:49] #2069 closed, assigned to fomalsd

[2019-08-13 07:49] #2073 closed, assigned to fomalsd

[2019-08-13 07:49] #2090 closed, assigned to fomalsd

[2019-08-13 14:43] Bod9001 opened #2105 "dynamic tiles, allowing easy way to add overlays and changing colours"
# Description
so have white overlays for each variant so you don't have to have a separate texture for each colour variant, this will use the inbuilt colour changer in unity,

so you could easily add stuff like damage burnt effects and make your own tiles for floor patterns, following the 2 * 2 grid
## Category
TODO?

[2019-08-13 15:03] fomalsd commented on #2105
what floor tiles do you have in mind? do you mean things like overlays (crayons etc) or actual floor tile pieces?

[2019-08-13 15:04] Bod9001 commented on #2105
floor tile pieces

[2019-08-14 08:10] #2072 closed, assigned to nobody

[2019-08-15 07:09] #2013 closed, assigned to chairbender

[2019-08-16 12:26] Bod9001 opened #2110 "Dynamic colours for the standard the multi-Variant-coloured clothing"
# Description
Since many variants have separate sprites , it could save  on sprite space by having a base one that it gets coloured from
## Category
 TODO?

Discussion if this would be a good idea?

[2019-08-16 17:12] Max-CGN commented on #1808
Ok i think i found the missing Reactions... TGs reagents reactions are stored in these files(i think) and not all are in the json file...

- [medicine.dm](https://github.com/tgstation/tgstation/blob/master/code/modules/reagents/chemistry/recipes/medicine.dm) is in
- [toxin.dm](https://github.com/tgstation/tgstation/blob/master/code/modules/reagents/chemistry/recipes/toxins.dm) is in
- [others.dm](

[2019-08-17 06:04] DooblyNoobly commented on #2047
Features that are done:
- Obvious Options button
- Enable Disable Scroll Wheel zoom

[2019-08-17 22:25] chairbender commented on #2076
I think someone in Discord said they were working on this

[2019-08-17 22:26] chairbender commented on #2080
IIRC someone is making big changes to how inventory works currently so might conflict if someone starts this now

[2019-08-17 22:27] chairbender commented on #2105
I think we are planning to overhaul how overlays work, there are some limitations with our current approach (such as trying to get scorch marks on a tile)

[2019-08-18 22:25] DeadLineSS13 opened #2114 "TODO: Proof of Concept: Launcher on C# and .Net B: 0.01btc"
# Description
Create a launcher that will make life easier for servers on different builds.
![5C2E6094-73DE-4EEF-A26E-14F7667D2748](https://user-images.githubusercontent.com/41364830/63231136-d8e26080-c21f-11e9-9a1d-e42635e70fd0.jpeg)
## Category
TODO

## Steps to Reproduce
1. Authorization
2. Hub (Install, Update, Start Builds)
3. Filters.
4. Simply settings.
5. Documentation for to add new serve

[2019-08-19 07:56] vlandemart commented on #2076
Yes, I'm currently working on it.

[2019-08-20 18:41] chairbender commented on #2022
Not sure if this is the way to go.

I think the Unity philosophy kind of is, an object IS what its components are. So if you are trying to indicate that an object has a particular capability, it should be part of a component. Furthermore, there are probably some objects which can be used to perform the same task, so it wouldn't be right to check the exact object type - rather, check if the object

[2019-08-21 00:22] chairbender commented on #2087
Can't reproduce locally, maybe only happens on steam server?

[2019-08-21 03:08] #2055 closed, assigned to chairbender

[2019-08-21 03:45] chairbender commented on #2087
@Aranclanos are you still able to reproduce this? Wasn't clear from your description if this was only on headless. I can't reproduce locally.

[2019-08-22 17:28] #2103 closed, assigned to chairbender

[2019-08-23 18:25] chairbender opened #2119 "Improve developer usability of NetUI system"
# Description
Makes it so it's easier for less experienced devs to use and fix some of the quirks that can make it puzzling to work with. We have to build a lot of UIs and use this system a lot, and often have to make custom elements, so it would be beneficial.

Todo : I can flesh this out more when I am at my computer.

[2019-08-26 14:12] fomalsd commented on #1063
It is a thing again

[2019-08-26 14:35] fomalsd opened #2126 "Some console screens (cargo, cloning, sec...) are black"
# Description
![img](https://user-images.githubusercontent.com/10403536/63698299-1b9ecc80-c80e-11e9-938d-ce7c8c7c0ee6.png)
![img2](https://user-images.githubusercontent.com/10403536/63698388-41c46c80-c80e-11e9-971d-12f830ed8af5.png)

[2019-08-28 07:38] #2075 closed, assigned to nobody

[2019-08-30 16:06] #1750 closed, assigned to nobody

[2019-08-30 17:17] SantaGitHub opened #2129 "Refactoring inventory for UniBackpack"
# Description
Accidentally found this bug. Allows to duple objects. Here is the video https://youtu.be/nK2JsScZ5X8
## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
1.Please enter the steps to reproduce the bug or behaviour:
2.Take thing in hand
3.Put in a backpack
4.Take another thing in your hand
5.Put in backpack
6.Take another item from the backpack
7.Drop it and take it again
8..

[2019-08-30 17:43] fomalsd commented on #2129
how fresh is the branch this was performed on — before or after latest inventory refactor #2120 3 days ago?
it looks like #1699 bug which isn’t a dupe but a general fuck up (possibly clientside only)

[2019-08-30 17:48] SantaGitHub commented on #2129
it's last branch "develop"
May be clientside only, but i try fix it

[2019-08-30 18:12] Aranclanos commented on #2129
whoops

[2019-08-30 18:58] #1464 closed, assigned to nobody

[2019-08-31 09:48] #2066 closed, assigned to chairbender

[2019-09-01 10:37] SantaGitHub commented on #2129
The problem with this parameter is https://github.com/unitystation/unitystation/blob/develop/UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs#L44
When a thing drops, the InventorySlot in Inventory is not updated and retains its old value.

UPD: The problem is related to UniBackPack inventory. looking for a reason

[2019-09-02 23:01] chairbender commented on #1484
might be best to wait until we upgrade to 2019, as it introduces incremental compiling

[2019-09-02 23:41] chairbender commented on #2014
possible duplicate of #2126

[2019-09-02 23:55] fomalsd commented on #2014
in #2126 they're black on serverside, too

[2019-09-03 02:24] chairbender commented on #1998
probably can also reproduce easier just by removing the hardcoded WaitForSeconds to make this problem more apparent. WaitFor is a band aid fix to init issues that need to be fixed by guaranteeing init happens properly regardless of startup times.

[2019-09-03 02:24] chairbender commented on #1977
@vgwiss still on this?

[2019-09-03 02:27] chairbender commented on #2021
This is already fixed, probably by other interaction fixes that were made within the past few weeks.

[2019-09-03 02:28] #2021 closed, assigned to chairbender

[2019-09-03 02:33] chairbender commented on #1800
It's easy to smash doors now btw, so this isn't so bad to fix

[2019-09-03 02:35] chairbender commented on #1796
just want to mark this as feature so its clear it's not some broken functionality and can be prioritized properly. I never intended to allow DevSpawner to spawn on impassable tiles so I consider it a new feature.

[2019-09-03 02:41] chairbender commented on #1919
This didn't get fixed in that, removing In Progress

[2019-09-03 03:09] chairbender commented on #2080
planning on working on this, just checking if it's okay to do now

[2019-09-03 03:15] #1063 closed, assigned to chairbender

[2019-09-03 03:18] chairbender commented on #1969
these don't happen anymore

[2019-09-03 03:18] #1969 closed, assigned to chairbender

[2019-09-03 03:23] chairbender commented on #2080
Looks like #2129 might conflict with this, should wait until it's fixed.

[2019-09-03 03:29] chairbender commented on #2087
working fine on Steam and local

[2019-09-03 03:29] #2087 closed, assigned to chairbender

[2019-09-03 14:20] chairbender commented on #2095
This is actually happening in DNA Scanner, NOT closet control

[2019-09-03 16:12] #2095 closed, assigned to chairbender

[2019-09-05 10:39] #1989 closed, assigned to chairbender

[2019-09-05 10:39] #2014 closed, assigned to chairbender

[2019-09-05 10:39] #2126 closed, assigned to chairbender

[2019-09-05 17:48] chairbender commented on #1797
already fixed

[2019-09-05 17:48] #1797 closed, assigned to nobody

[2019-09-05 23:51] DooblyNoobly opened #2135 "TODO: Asteriod Mining and Matrix Fixes B: 70"
# Description
Two tasks for this job:
1) Fix the matrix offset bug (at the moment it is offset by 1 tile, so you run into invisible walls)
2) Add the ability to mine plasma from rocks

## Criteria
- Diagnose and fix the matrix offset problem on the asteroids
- Add the ability to use the mining pick axe on an asteroid rock, display the progress bar over the rock and remove the rock tile after it ha

[2019-09-06 00:00] DooblyNoobly commented on #1329
Looking for contributors now for this job

[2019-09-06 00:08] DooblyNoobly opened #2136 "TODO: General NPC AI System ml-agents B: 150"
# Description
- Develop a system to move NPC's around on the serverside and have their positions update on the clients
- I would suggest using ML-Agents to do this and create a training map to train them
- Develop a way to load multiple brains into an NPC to target multiple behaviours. I.E One for movement, one for attacking, one for seeking food etc

## Category
- Develop a way to load multiple b

[2019-09-06 00:09] DooblyNoobly commented on #2136
I want to do this one as I've had a fair bit of experience with the ml-agents and have a fairly good idea on how the initial system will be set up. Once that is done and the wiki has been created then others can do the other AI work that is required in the next month.

[2019-09-06 00:09] BNHeadrick commented on #1977
Has this been fixed?  I'm unable to replicate this bug.  I tried it as two different characters, though I'm not sure if it matters.

[2019-09-06 00:15] DooblyNoobly opened #2137 "TODO: Body bags B:70"
# Description
- Dead bodies can't just be left around on the station to rot. Put them in body bags!

## Criteria:

- Create the Bodybag prefab and add a bunch of body bags in one of the closets in Medbay
- Add the ability to open and close body bags
- Add the ability to put a body into a body bag
- Hide the body when the body bag has been zipped up
- Allow body bag to be dragged around on the stat

[2019-09-06 00:25] DooblyNoobly opened #2138 "TODO: Game mode system B: 150"
# Description
- We need to finish the game mode system which randomly chooses a game mode on server round start and assigns secret syndi roles to players
- All this should be done in the GameManager on the server

## Criteria:

- On round start determine the game mode but keep it secret (i.e at the moment the server reports NukeOps to the Server Hub, this should be hidden) the current available ga

[2019-09-06 00:25] DooblyNoobly commented on #2138
Syndi PDA's will come when we work on PDA's after 0.4

[2019-09-06 00:32] DooblyNoobly opened #2139 "TODO: Clean up the Outpost station map in prep for 0.4 beta B: 50"
# Description
- The outpost station map needs another iteration to make sure it is suitable for the 0.4 release

## Criteria:

- Put the nuke in a secure location
- Make sure the map has sufficient items for a proper Low RP game
- Remove any weapons that are easily accessible to station staff (you can stock up the armory with a bulk load of weapons, just make sure an assistant can't get their hand

[2019-09-06 12:45] fomalsd commented on #2137
are alive players supposed to be put in the bag?
if so, can they zip/unzip themselves into/from the bag if they're conscious?

[2019-09-06 12:48] fomalsd commented on #2139
might be wise to wait for @Bod9001's #2008 PR to be merged first, I highly suspect that it changes the map somehow

[2019-09-06 19:48] krille90 commented on #2137
imo that should be possible, you should be able to put them in a body bag. Maybe restrict it to players that are lying down?

Hm, I would say so.

[2019-09-07 00:07] chairbender commented on #1977
Seems like it. Tested locally with 2 players

[2019-09-07 00:07] #1977 closed, assigned to nobody

[2019-09-08 06:14] #2076 closed, assigned to nobody

[2019-09-08 07:17] DooblyNoobly commented on #2114
Contributor will receive a bounty of 0.01 BTC on a successful merge of a solution that satisfies the criteria above.

[2019-09-08 08:42] fomalsd opened #2141 "Players never get up after falling/slipping"
# Description
A regression of some sort

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Slip on banana peel or explode a large oxygen tank nearby to fall
2. Never get up

![gif](https://user-images.githubusercontent.com/10403536/64485810-9ebc1b80-d22d-11e9-8496-361ce8427882.gif)

[2019-09-08 19:24] RedlineTriad opened #2142 "Release builds have hardcoded server B: 30"
# Description
Currently, the server and port are hardcoded in the release build, this should most likely be changed to a default value instead.
Part of the code responsible can be found in `GUI_PlayerOptions.cs` in the method `ConnectToServer()`.

## Category
TODO

[2019-09-08 20:38] chairbender opened #2143 "Wallmount spawn logic, dev spawner spawning of wallmounts"
# Description
Currently if you right click and respawn a wallmount, it respawns but doesn't face the right direction (defaults to looking down). When a wallmount is spawned, it should default to facing the player as if they had constructed it (if diagonal to the player, it should face the direction that has no wall tile on it). This will be useful for when we add wallmount construction.

Dev spawn

[2019-09-08 22:57] chairbender commented on #2135
pretty sure the offset thing is fixed, probably I fixed it months ago when I was yet again fixing various matrix bugs

[2019-09-09 00:35] chairbender commented on #2135
nvm I can see this happening in some situations

[2019-09-09 03:57] chairbender commented on #2135
It appears to just be some mapping issues on the Large asteroid, haven't seen it show up on the others yet. There's a bunch of these problems along the asteroid border, they are not marked as being on the same matrix (marked as empty space)
![image](https://user-images.githubusercontent.com/1329062/64502489-34ca6300-d27b-11e9-81da-5be705c97045.png)

[2019-09-09 16:10] #2070 closed, assigned to chairbender

[2019-09-10 05:16] fomalsd commented on #2143
so, make wallmounts look for players on adjacent tiles when respawning? what if there are more than one found?

[2019-09-11 02:04] chairbender commented on #2143
I think I would add this info to the onstageinfo, saying who spawned it or something like that

[2019-09-11 09:24] fomalsd opened #2144 "Inventory inspection, Cloth stripping/stealing functionality"
# Description
Would be nice to be able to see a list of other person's equipment with ability to take it off,
because at the moment there's no way to retrieve dead person's belongings

[2019-09-12 00:03] DooblyNoobly commented on #2114
Don't worry about step 5 we will do that at the end of the release build

[2019-09-12 08:29] JaytleBee commented on #2137
Just tested it, you can zip yourself in it on /tg/ (even while standing), but there isn't a sprite to indicate whether the bag has someone in it (only whether it's opened or closed), so we may need a sprite for that.

[2019-09-12 08:41] DooblyNoobly commented on #2137
I've removed the criteria for a full body bag sprite. It's not needed at the moment if its not part of TG.

[2019-09-12 17:55] Bod9001 commented on #2139
so Should maintenance have lighting?
I feel like working on this

[2019-09-12 18:08] fomalsd commented on #2139
imo it shouldn't

[2019-09-13 07:52] fomalsd commented on #2129
Any progress?

[2019-09-13 15:29] fomalsd opened #2145 "NRE when searching in dev spawner"
# Description
[code]
Clearly it's because #2008 PR removed need for hierarchy strings and that part of code still uses them:
https://github.com/unitystation/unitystation/blob/e522800ecc86cf578ee2d6c1b2378acd1bf5140c/UnityProject/Assets/Scripts/UI/DevTools/DevSpawnerListItemController.cs#L63-L73

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:

[2019-09-14 04:14] DooblyNoobly opened #2146 "TODO: Mirror Migration B: 160"
# Description
- Remove UNET, Replace with Mirror

## Criteria:

- Follow guides: https://mirror-networking.com/xmldocs/articles/General/Deprecations.html and https://mirror-networking.com/xmldocs/articles/General/Migration.html
- Remove UNET completely and Implement Mirror Lib
- Review all networking methods, properties and base methods to make sure that they work with mirror
- Test thoroughly in

[2019-09-14 11:16] fomalsd opened #2148 "Missing sprites"
# Description
There are some missing sprites after #2008 refactor
~~- Glass cracks~~
~~- Radar icons~~
~~- Shuttle thruster particles~~
- (add more)

[2019-09-14 11:59] DeadLineSS13 commented on #2114
Launcher is ready for preview.
Proof: https://i.imgur.com/NJV5LVK.jpg

[2019-09-14 13:27] fomalsd commented on #2148
~~- Fire tiles~~

[2019-09-15 23:42] DooblyNoobly commented on #2114
PoC has been confirmed to work. This will now be the official approach for supporting forks from unitystation.

[2019-09-15 23:42] #2114 closed, assigned to DeadLineSS13

[2019-09-15 23:45] DooblyNoobly commented on #2114
Also Deadline has requested bounty to be paid in usd. Putting btc back into donator pool

[2019-09-16 00:24] #1728 closed, assigned to chairbender

[2019-09-16 00:24] #2145 closed, assigned to chairbender

[2019-09-18 01:07] DooblyNoobly opened #2150 "StackOverflowException in PushPull AssumedWorldPositionServer()"
# Description
Sometimes AssumedWorldPositionServer Vector3 method can cause a stack overflow exception.

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Spawn as security and get a grenade from armory
2. Throw grenade
3. Walk into the tile that the thrown grenade landed on
4. Observe the errors

Screenshots:

![image](https://user-images.githubusercontent.com/208

[2019-09-18 09:25] fomalsd commented on #2150
yeah, needs a protection against setting parentContainer to themselves

[2019-09-18 17:24] fomalsd opened #2152 "Forward SunVox audio output to Unity's audio system (preferably per module)"
# Description
1) At the moment it's a bit annoying if you press "Mute audio" on Lobby screen and tracker music continues playback.
2) We will also eventually need per-module routing for SunVox-emitting ingame objects like musical instruments or jukeboxes to support spatial audio.

First problem can be fixed using `SunVox.sv_audio_callback`:
https://github.com/unitystation/unitystation/blob/8cc47d1

[2019-09-19 08:29] #2150 closed, assigned to nobody

[2019-09-20 05:04] #2146 closed, assigned to DooblyNoobly

[2019-09-20 10:39] DooblyNoobly commented on #2148
- Shutters

[2019-09-20 12:14] StrawberryMoses commented on #1804
With merge of mirror, this is now in develop

[2019-09-20 12:17] StrawberryMoses commented on #2148
~~Fire Extinguisher foam~~

[2019-09-20 13:14] StrawberryMoses opened #2157 "Cannot close Fire Extinguisher cabinet with Extinguisher inside"
# Description
After opening the fire extinguisher cabinet, it's not possible to close it again after replacing the extinguisher. Clicking the cabinet only retrieves it again. It is still possible to close it when the extinguisher is not inside. On /tg/, this behavior can be done with Alt-Click.

## Category
TODO

## Steps to Reproduce
1. Open a fire extinguisher cabinet.
2. Use an empty hand on th

[2019-09-20 13:15] #1804 closed, assigned to nobody

[2019-09-20 13:22] StrawberryMoses opened #2158 "Alt-Click Item List multiple oddities"
# Description
The alt click items list needs some assorted fixes.

## Category
BUG

## Detailed Bug Report
Things I've noticed:
- Items have "(clone)" appended to their names
- OutpostStation appears as an object
- Players on the tile appear as a white square
- Locker object only has door part of the sprite
- Some objects do not have a user-displayable name (CMO locker, reinforced table, etc)
- Th

[2019-09-20 13:25] StrawberryMoses opened #2159 "Delete Key needs to stop pulling object"
# Description
On /tg/ (if my memory isn't failing) the delete key lets a character stop pulling their object.

## Category
TODO

## Conditions
1. Pull an object such as a locker
2. Press Delete
3. The item should stop being pulled

[2019-09-20 13:27] fomalsd commented on #2158
surprised that it still works!
the right way would be making it share code with right click results, as they already exclude stuff you're not supposed to see

[2019-09-20 21:33] DooblyNoobly commented on #2031
I don't like the drop at all. It is actually veering off to the right which a bullet does not do in real life. If it were to drop here then the size of the bullet should shrink until it hits the floor and leave a mark or a spark or something to show it has hit the ground. IMO this isn't a good feature and should be removed all together. Keep it basic ss13. The taser bullets move slow enough that t

[2019-09-20 21:33] DooblyNoobly commented on #2031
I actually think someone turned on the gravity flag by accident and committed it to the prefab

[2019-09-21 05:10] DooblyNoobly opened #2162 "Create a Fork Settings Editor Window"
# Todo
- Build a new Editor Window for editing and displaying fork settings
- Fork settings to include:
-- ForkName (i.e. unitystation)
-- Version (i.e 3911)
- Update the lobby screen version text that is displayed on the bottom left in the Panel_ToolTip prefab in the lobby
- Update the buildinfo.json in streaming assets folder (this is synced with the station hub)
- Read the buildinfo.json file f

[2019-09-21 10:05] fomalsd commented on #1806
fixed in #2008

[2019-09-21 10:05] #1806 closed, assigned to nobody

[2019-09-21 16:52] StrawberryMoses commented on #2137
Some additional notes on body bag behavior:

- Body bags can carry items, it is not limited to bodies.
- Body bags can not be pushed.
- You can zip and unzip yourself from a body bag.
- Moving while in a body bag opens it up first, then allows you to walk.
- Dragging yourself onto the body bag does not place you in it.
- Placing a folded body bag on the ground opens it.
- Placing a folded body bag

[2019-09-21 21:08] StrawberryMoses commented on #2137
I'm going to try and work on this one

[2019-09-21 21:10] Jibbajabbafic commented on #2138
I'm looking into this

[2019-09-21 21:41] astralenigma commented on #2137
Oh, didn't know about the placing on the floor behaviour.

[2019-09-21 22:31] StrawberryMoses opened #2165 "Unable to place wires on table"
# Description
Coils of wire are unable to be placed on tables.

## Category
BUG

## Detailed Bug Report
Wires cannot be placed on tables. They attempt to place wires on the floor underneath.

[2019-09-22 00:18] chairbender commented on #2165
the wire placement logic needs to check if there's a table first and return false from WillInteract if so

[2019-09-22 00:29] #2159 closed, assigned to nobody

[2019-09-22 01:17] StrawberryMoses opened #2166 "Lockers can pickup vents and scrubbers"
# Description
Pulling a locker on a square with a vent or a scrubber, then closing, will bring the vent or scrubber with.

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Start pulling a locker.
2. Pull the locker to a tile with a vent or a scrubber object.
3. Close the locker so the vent or scrubber is inside.
4. Pull the locker to a new tile.
5

[2019-09-22 12:50] Jibbajabbafic commented on #2043
Fixed in latest develop

[2019-09-22 12:50] #2043 closed, assigned to nobody

[2019-09-22 13:34] Bod9001 opened #2170 "Tile-related stuff like blood, fire and Wet floors have missing sprites"
# Description
Even though they are set on the prefabs they still don't Show up
## Category
BUG

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Use mop and floor observe lack of wet
2. Walkover "wet" spot and trip to prove it is there
3. B
4. Shoot a station pet, Right click observe the Missing sprites for the blood

[2019-09-22 15:58] mazuninky commented on #1329
@DooblyNoobly I will try to implement this feature

[2019-09-24 08:05] fomalsd opened #2172 "Need a way to simulate ping"
# Description
in Unet HLAPI there was a way to turn on network simulator that was quite useful. Need a way to do it with Mirror.
This functionality is crucial for stress testing movement, push/pull and other predictive things

[2019-09-24 09:44] fomalsd opened #2173 "Dummy players spawn at 0,0 instead of assistant's spawnpoint"
# Description
![image](https://user-images.githubusercontent.com/10403536/65500815-65331380-deaf-11e9-8f5a-297672489de7.png)

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Start game in editor, join as Assistant and move a couple tiles away from spawn
2. In `Networking` dropdown, press `Spawn dummy player`
3. Go to scene view and verify that it spawned on zero

[2019-09-24 11:03] fomalsd opened #2174 "Extra ghosts spawns when you leave your dead body"
# Description

![image](https://user-images.githubusercontent.com/10403536/65506249-aed52b80-deba-11e9-81ee-3e74d132528c.png)

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Die
2. Leave your body
3. Observe extra ghost above body while you're controlling the other one

[2019-09-24 12:48] StrawberryMoses commented on #2158
I'm working on this one

[2019-09-26 11:56] Bod9001 commented on #1871
Done already in #2054

[2019-09-26 11:56] #1871 closed, assigned to nobody

[2019-09-26 11:56] Bod9001 commented on #1871
Done already in #2054

[2019-09-27 21:06] YotaXP commented on #1863
Doesn't look like they have that X/Y adjustment anymore, and now display off center in the world too. Is this fix something we really want, or would it be better to just center all the sprites as they should have been to begin with?

The screwdriver below appears to be in reach, but is actually on the table.
![example](https://cdn.discordapp.com/attachments/402986688114065409/627244636276129792/un

[2019-09-28 11:11] fomalsd opened #2178 "PoolNetworkInstantiate() call without parent creates transform<>registerTile inconsistency"
# Description
It looks like this:
<img width="394" alt="scr" src="https://user-images.githubusercontent.com/10403536/65815376-5cb44300-e1f7-11e9-8e13-b6030fd08a6b.png">
There are ~46 usages of this method and some don't provide a parent, and it's an optional argument. So I assume that all these that don't are bugged.
I really don't think parent should be required here at all. If anything, parent c

[2019-09-28 13:44] #2137 closed, assigned to nobody

[2019-09-28 15:36] StrawberryMoses commented on #1861
Did this get shadow fixed somewhere? Booting up on develop and putting it in full screen:
![Screen Shot 2019-09-28 at 10 35 35 AM](https://user-images.githubusercontent.com/8854773/65818912-c7f01c00-e1db-11e9-9fa9-ad901fd83fdb.png)

[2019-09-28 22:06] Bod9001 commented on #2139
done in #2171

[2019-09-28 22:06] #2139 closed, assigned to nobody

[2019-09-29 09:38] Jibbajabbafic opened #2182 "Butchering players spawns their ghost at 0,0"
# Description
Ghost should spawn where the body was butchered/destroyed

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Get 2 clients
2. Stab one with knife until you butcher them
3. Notice the dead player's ghost spawns at 0,0

[2019-09-29 12:35] Jibbajabbafic opened #2183 "Donuts and meat steaks are mixed up"
# Description
Donuts are labelled meat steaks and leave plates behind when eaten
or...
Meat steaks have the donut sprite

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Find donut in sec/captain's office
2. Notice it's called a meat steak
3. Eat it
4. Get a plate

[2019-09-30 05:51] #1743 closed, assigned to nobody

[2019-09-30 05:52] #2173 closed, assigned to nobody

[2019-09-30 14:10] fomalsd opened #2185 "Selecting Smash right click action on inventory items doesn't do anything"
# Description
As of #2176, you can right click items in your inventory to get a list of actions. It needs work though.
Maybe right click actions should have a "scope" – world/inventory/alt-click menu?

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Spawn in game
2. Right click your backpack
3. Select Smash in right click menu

[2019-09-30 16:35] fomalsd opened #2186 "Right click menu shouldn't render items outside screen borders"
# Description
Right click menu should consider screen borders when generating item list: if player clicked something in the screen corner then options should be arranged within visible space.

## Steps to Reproduce
This is most noticeable when right clicking items in your inventory.

[2019-10-01 16:20] chairbender opened #2188 "IF2 + Right Click improvement, remove "specificComponent" from IF2"
# Description
Now that people have been using IF2 for a bit, a few problems are emerging:
1. Dealing with IC precedence is proving challenging. People are having trouble figuring out how to create / place ICs in order to ensure their particular interaction fires under the right circumstances.
2. Amount of components on each object is growing as people are implementing one component per interaction

[2019-10-01 17:16] StrawberryMoses commented on #2158
Giving up on this one for now, having trouble getting the views to work correctly and I don't have the experience to make the code clean enough

[2019-10-04 09:25] fomalsd commented on #1861
Bod probably sneaky fixed it during sprite refactor
Warnings are still present though
![image](https://user-images.githubusercontent.com/10403536/66196939-e9904e00-e688-11e9-9dde-fa9a4463945c.png)

[2019-10-04 10:22] Bod9001 opened #2190 "cable sprites do not update in the editor if you change the direction in the editor"
# Description
Reason why it would be nice to see the Cable layout in editor If you change it via the editor
( four now you can just use the tile palette )

## Category
TODO
add Running editor mode parameter and
ensure there's an update/start function to set the Sprite to the correct one

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Chang

[2019-10-04 10:31] fomalsd opened #2191 "Automatically add new object prefabs to Tile Palette"
# Description
After sprite refactor most object-containing tile palettes became empty.
![image](https://user-images.githubusercontent.com/10403536/66200870-835bf900-e691-11e9-91a5-d4eff0105b14.png)
Adding objects to scene manually without palette is a pain in the ass;
Adding newly created item to tile palette is a bigger pain in the ass and no one wants to do it manually (which is totally understa

[2019-10-05 05:54] ghost opened #2192 "Support the new steam assets"
https://steamcommunity.com/groups/steamworks/announcements/detail/1597002662762032240

Requires 600x900 box art, banner, and logo.

[2019-10-05 09:36] #1742 closed, assigned to nobody

[2019-10-05 09:36] #1773 closed, assigned to nobody

[2019-10-05 09:36] #2170 closed, assigned to nobody

[2019-10-05 21:42] StrawberryMoses commented on #1271
This can be closed: looks like it was fixed at some point in the last year.
![Screen Shot 2019-10-05 at 4 41 28 PM](https://user-images.githubusercontent.com/8854773/66261232-0ca52580-e78f-11e9-95fb-c8dcc5ceee30.png)

[2019-10-05 22:12] StrawberryMoses commented on #2174
I'm not able to reproduce this one. If you remember, was there anything you did beforehand or any special way you died? Was this in editor?

![Screen Shot 2019-10-05 at 5 11 53 PM](https://user-images.githubusercontent.com/8854773/66261467-3eb88680-e793-11e9-93d5-4a35a74ce5c9.png)

[2019-10-06 22:29] StrawberryMoses commented on #1902
I think this may have been fixed with the new mapping changes

[2019-10-07 08:39] #2031 closed, assigned to nobody

[2019-10-07 08:40] #2183 closed, assigned to nobody

[2019-10-07 08:46] #1796 closed, assigned to nobody

[2019-10-07 09:01] #1271 closed, assigned to nobody

[2019-10-07 09:02] fomalsd commented on #2174
Hm, yes, it was in editor
Will try to reproduce it again

[2019-10-07 19:50] krille90 commented on #1583
The goal is to turn the script "FloorDecal.cs" to a Tile.
Requirements:

- Choose random sprite from list of sprites
- stackable, floordecals can be above each other
- Above the floor tilemap
- Can have a lifetime

Affected by this change:
- BloodSplat (Small, Medium, Large)
- WaterSplat
- Ash (Small, Large)

IMO, pipes and wires should also be turned into tiles, but since those have other require

[2019-10-09 07:54] #2165 closed, assigned to nobody

[2019-10-09 22:59] StrawberryMoses commented on #1744
Looks like this was fixed at some point

[2019-10-12 13:10] #1744 closed, assigned to nobody

[2019-10-12 13:20] fomalsd commented on #2174
can't reproduce it anymore – probably was fixed in #2180

[2019-10-12 15:24] #1329 closed, assigned to Bod9001

[2019-10-12 15:28] #2030 closed, assigned to nobody

[2019-10-15 01:26] #2136 closed, assigned to DooblyNoobly

[2019-10-15 01:28] DooblyNoobly commented on #2136
wiki entry to come on the weekend

[2019-10-15 04:21] chairbender opened #2204 "Progress Actions need to be interrupted in more situations"
# Description
Currently they are interrupted if you move. But they aren't interrupted by dropping your in hand item, which can cause glitches in several cases (try constructing a Rack and drop the item before it's complete).

Think of other cases where progress needs to be interrupted and try to add the interrupt call for those. Please add to this list if you think of something. Otherwise just try

[2019-10-15 04:22] chairbender opened #2205 "Right click respawn spawns some things at hidden pos"
# Description
Build a Rack, then right click and respawn it. The rack should appear at the same location but it instead seems to teleport away to hidden pos. This probably affects some other items. Probably the position for respawning is somehow not being respected in these cases.

[2019-10-15 10:58] fomalsd commented on #2204
welding should be interrupted when welder is turned off as well, but it's a specific case

[2019-10-15 21:39] Bod9001 commented on #2204
I think it interrupts when you change direction it's not supposed to do that I think?

[2019-10-15 22:01] chairbender commented on #2188
random idea, what if actions themselves are first class citizens? I.e. actions are classes, an instance of an action class is an attempt to perform that action. You define what the action does, with some possible server / client side logic, prediction ,etc... then you can just invoke it from anywhere. Right click, interactable, etc...and all logic related to the action would be properly triggered,

[2019-10-15 22:13] StrawberryMoses commented on #2188
So would each action have it's own component on the prefab?
How would the naming convention for this work? For example, on the Rack Parts object- we can deconstruct it either by clicking on the object in the world or in the inventory. Would we have scripts for both RackPartsPositionalHand and RackPartsInventory?
(I may not be understanding this correctly)

[2019-10-16 04:41] chairbender commented on #1780
also an issue with asteroid mining

[2019-10-16 04:42] chairbender commented on #2135
all that's left is some sfx. The issues with progress actions are already in other tickets (which I plan to work on next and have already assigned to me)

[2019-10-16 07:09] DooblyNoobly commented on #2135
thanks chair : )

[2019-10-16 16:12] chairbender commented on #2204
yup, we have another bug for that problem in #1780

[2019-10-17 19:15] fomalsd commented on #1780
are you absolutely sure? because with a welder, you CAN weld multiple walls at the same time but the animation kind of glitches and only the first one is visible until it's finished, then the next one becomes visible

[2019-10-18 03:32] chairbender commented on #1780
well yeah you can do it, but it doesn't look good as you pointed out. we just need to support having multiple progress bars. current system only supports one at a time per player

[2019-10-18 03:52] chairbender commented on #2135
oops, want to reopen so @DooblyNoobly has the final say

[2019-10-18 05:35] #2135 closed, assigned to chairbender

[2019-10-18 08:57] fomalsd opened #2208 "Cross-matrix collisions B: 200"
# Description
Shuttles going through station like ghosts are boring.
Need to develop a way for moving matrices to collide with others and apply damage/destroy tiles correspondingly.

[2019-10-18 22:30] DooblyNoobly commented on #2208
Criteria:

- Detect when two matrices have collided
- Calculate the velocity of the collision (will need to keep track of the last position of both matrices on the previous frame and calculate the magnitude)
- Determine damaged area based on collision points and the magnitude of the collision and apply damage to tile / objects / livinghealthbehaviours
- Make sure it all works in mp

I think for th

[2019-10-18 22:42] DooblyNoobly opened #2209 "TODO: Allow solid plasma to be added to Plasma tanks B: 30"
# Description

As we don't have a way yet to convert solid plasma into gas we are just going to develop the ability to add the solid plasma directly to the tanks so that shuttles can refuel. We will develop the processing of solid plasma to gas after alpha release.

The player should be able to equip solid plasma in his hand, click on the plasma tank and have an amount of gas added to the tanks co

[2019-10-18 22:57] DooblyNoobly opened #2210 "TODO: Develop the hostile Xeno NPC's B: 150"
# Description

We need some basic hostile NPC's that can be encountered when searching the solar system for minerals. The aliens need to sense humans via sight using the sight cone and to attack them with melee and acid spit. Aliens should be able to break through windows and grills to get at the humans if they try to retreat to a shuttle.

## Criteria:

- Develop a Xeno NPC prefabs with sprites a

[2019-10-18 23:16] DooblyNoobly commented on #948
I think these two criteria should be scrubbed:

1. Have the content object expand as more chat entry objects are added to the end
2. Add the drag-able component to the new chat window so it can be position anywhere. (See GUI_PlayerOptions for an example of the drag-able component in use)

for 1 I think I've set a pretty decent size that works well with the chat stream
and 2 I don't see how this wi

[2019-10-18 23:18] DooblyNoobly commented on #948
I'm wondering what options should be available under the right click menu:

`Name of players should be clickable, e.g. right-click menu`

I guess I can have copy as one

[2019-10-19 02:03] chairbender commented on #2204
Needs to be interrupted if thing being worked on (such as a tile position, or a movable object) moves. Also needs to support cross matrix - if standing in space and working on a shuttle tile from the outside, progress should stop if shuttle starts moving.

[2019-10-19 19:26] StrawberryMoses opened #2211 "PlayerLightControl does not remove light when object is thrown"
# Description
While holding an item that emits light, such as a handheld torch, it adds itself to a list on the player for lightsources. PlayerLightControl listens for pickup and drop to determine when to add and remove the light from the player. However, it does not listen for throws, meaning that the light it was giving will stay on the player.

## Category
BUG

## Steps to Reproduce
1. Spawn a

[2019-10-20 03:55] chairbender commented on #2080
this should be okay to work on now

[2019-10-20 03:57] chairbender commented on #2129
looks like it's not in progress anymore, this really needs to get worked on so inventory-related stuff can be worked on again

[2019-10-20 03:57] chairbender commented on #1723
@Aranclanos still working on this?

[2019-10-20 19:13] chairbender commented on #2204
Actually as far as active hand goes, the action should probably always be interrupted if active hand changes in any way - either swapping active hand or putting something into (if empty) or out of (if occupied) it.

[2019-10-21 00:34] StrawberryMoses opened #2214 "Pushing containers into walls does not stop pulling"
# Description
Grabbing a container and pushing it into a wall should stop the user from pulling it.

## Category
TODO

## Steps to Reproduce
1. Grab a crate or any container
2. Start pulling
3. Try to push the crate into a wall
4. You will not stop pulling the crate

[2019-10-21 15:06] fomalsd opened #2216 "UniCloth doesn't work"
# Description
![img](https://user-images.githubusercontent.com/10403536/67216238-61dd6a00-f412-11e9-84c6-abbde3fa107d.png)
Should UniCloth be removed? Since we apparently use prefab-per-cloth now?

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Go to mining
2. Open mining closet
3. See questionmark clothes

[2019-10-21 17:31] chairbender commented on #2188
Changing this to be more general about IF2. Now that people like @StrawberryMoses are working with it more we can see some of the issues that are cropping up. Not entirely sure they are solvable but definitely will look into it.

[2019-10-21 17:34] chairbender commented on #2188
as far as precedence, a simple way that might help make it more clear is to add more detailed debug messages that can be turned on for IF2. Whenever an interaction happens, it would log each object that is being checked (via WIllInteract) and each component that is being checked, and log the one that ultimately fires. This will make it more clear what the order of precedence is.

Ideally we wouldn

[2019-10-22 03:37] #1727 closed, assigned to DooblyNoobly

[2019-10-23 00:12] DooblyNoobly opened #2221 "BUG: SpriteHandler error when dropping items B: 25"
# Description

Sometimes when dropping items from your hand SpriteHandler throws an ArgumentOutOfRangeException.

Full error log:

[code]

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Start game from latest develop in the editor
2. Go to a locker with items inside, open it and pick up an item
3. Drop the item using shortcut key. Do a few times if it doesn't er

[2019-10-23 00:16] DooblyNoobly commented on #2221
nvm I can't recreate it. Must of been a meta data problem. Probably a very rare intermittent bug that won't show up in builds anyway. Closing

[2019-10-23 04:51] DooblyNoobly commented on #948
Right I think we should leave right clicking until we actually have AI or even the admin tools (we don't even have admin login for ingame yet as its all done via a portal). We could even make the start of right click menu for ghost follow which should be a separate issue also. There has been a lot of work done on chat since this job was opened so I think the Chat UI Overhaul is sufficient enough f

[2019-10-23 04:51] #948 closed, assigned to nobody

[2019-10-24 01:48] #1778 closed, assigned to chairbender

[2019-10-24 01:48] #1780 closed, assigned to chairbender

[2019-10-24 02:13] #2209 closed, assigned to nobody

[2019-10-24 02:24] DooblyNoobly commented on #1723
I'm guessing aran is no longer working on it, taking off the In Progress tag

[2019-10-24 20:19] Bod9001 opened #2224 "MoveReagentsTo in ReagentContainer Moves double of what It is called with"
# Description
MoveReagentsTo in the ReagentContainer , The right click item specifies 10 but it removes 20 each time

## Category
BUG

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.Get container
2. Right click and contents
3.Right click and Pour out
4.Right click and contents
5.Observe the -20 to contents instead of the -10 Specified in ReagentContainer

[2019-10-24 21:51] Bod9001 opened #2225 "items with transparency in the textures in the world don't show properly"
# Description
items with transparency in the textures in the world don't show properly
## Category
BUG

## Detailed Bug Report
![image](https://cdn.discordapp.com/attachments/312454684021620736/637045014462988299/transparency.gif)
## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.get an item with transparency
2.placing world on table
3.observe lack of transparency

[2019-10-24 23:30] Macoron opened #2226 "No validation in "Create an account" form"
# Description
There seems to be no validation  in the "Create an account" form. There is also no info how long login/password should be.

## Category
BUG

## Detailed Bug Report
If you try to create an account with no password, short password or invalid email, you will stuck in "Please wait..." state. After a while it will print "Response timed out, please try again"

## Steps to Reproduce
Please

[2019-10-25 14:44] fomalsd commented on #2174
eh, apparently it can still happen on very rare occasions
![img](https://user-images.githubusercontent.com/10403536/67580452-e6432c00-f735-11e9-98bf-e41b3e55d6cc.png)

[2019-10-26 13:16] Macoron opened #2228 "Grenade explode at player even if is's thrown away"
# Description
Grenade seems to be exploding in player hands even if it was thrown

## Category
BUG

## Detailed Bug Report
![grenade](https://user-images.githubusercontent.com/6161335/67620093-be25fc80-f80b-11e9-8bf0-917cb2c39145.gif)

## Steps to Reproduce
1. Activate grenade
2. Throw it
3. Accept your death

[2019-10-26 19:15] #2228 closed, assigned to nobody

[2019-10-28 06:49] #2188 closed, assigned to chairbender

[2019-10-28 18:18] Macoron opened #2231 "When grenade blow-ups in hand, it doesn't destroy itself"
# Description
There seems to be an error in grenade destruction mechanism. It doesn't destroy itself after explosion in hands or inventory. It also can't be activated again and freeze in ticking state

## Category
BUG

## Detailed Bug Report
![handGrenade](https://user-images.githubusercontent.com/6161335/67705433-0722b000-f9c8-11e9-8e04-411f7c685761.gif)

## Steps to Reproduce
1. Activate grenade

[2019-10-29 07:30] #2210 closed, assigned to DooblyNoobly

[2019-10-29 07:32] DooblyNoobly commented on #2210
I did not do acid spit as the xenos are OP enough as it is. Will add Acid spit on next iteration of xenos along with larvae, face huggers and nests

[2019-10-29 12:43] fomalsd commented on #2221
still happens for me occasionally

[2019-10-29 12:48] fomalsd commented on #612
UniCloth is kinda dead, I don't think this is relevant anymore

[2019-10-29 12:48] #612 closed, assigned to nobody

[2019-10-29 12:48] fomalsd commented on #950
Bod did it

[2019-10-29 12:48] #950 closed, assigned to nobody

[2019-10-29 12:51] fomalsd commented on #1276
Fixed by Doobs

[2019-10-29 12:51] #1276 closed, assigned to nobody

[2019-10-29 12:53] fomalsd commented on #1418
Too broad

[2019-10-29 12:53] #1418 closed, assigned to nobody

[2019-10-29 12:54] fomalsd commented on #2182
yes, very annoying

[2019-10-29 12:55] fomalsd commented on #1446
It's done

[2019-10-29 12:55] #1446 closed, assigned to nobody

[2019-10-29 12:55] fomalsd commented on #1755
Done in #2230

[2019-10-29 12:55] #1755 closed, assigned to nobody

[2019-10-29 12:58] fomalsd commented on #1805
Fixed by Aran

[2019-10-29 12:58] #1805 closed, assigned to nobody

[2019-10-29 13:03] fomalsd commented on #1987
I think it's been fixed

[2019-10-29 13:03] #1987 closed, assigned to nobody

[2019-10-29 14:11] fomalsd commented on #2205
also applies to gas canisters

[2019-10-29 14:34] fomalsd commented on #2214
last time I tried it on /tg/ bumping pullable into the wall didn't break pull.
it annoyed me though, so I guess it's still worth doing

[2019-10-29 14:37] fomalsd commented on #2211
perhaps throwing should broadcast `OnRemoveFromInventory`, too

[2019-10-29 14:42] fomalsd commented on #2091
in JobOutfit script, some slots have been updated to support prefabs, but some like pockets still accept hierarchy strings only (wonder why?)

[2019-10-29 15:00] chairbender commented on #2211
I'll fix it as part of the inventory work

[2019-10-29 15:32] Crow-Control commented on #915
@DooblyNoobly I looked into this some time ago.
The current steam code is not working at all as of this summer.

But more importantly, firestore can be used the same way steam is used for a lot of things.
If you wanna port, complete rework of both firestore and steam is here (from while I was working on it): https://github.com/Ornias1993/Expedition-13

Ergo:
I suggest trashing SteamID banlists, ju

[2019-10-29 15:32] #915 closed, assigned to nobody

[2019-10-29 15:36] Crow-Control commented on #852
@chairbender as no one re-reported issue one, I crossed that one off the list.

Update required from active contributors:
is 2 still a thing?
is 3 actually a bug just a lack of a moving-tiles feature in unity?

[2019-10-30 00:43] DooblyNoobly commented on #915
Cheers, I'll check it out thanks.

[2019-10-30 18:20] fomalsd opened #2236 "Ambience triggers"
# Description
Game needs a system for triggering ambient music/sounds depending on events/surroundings (player is in space/spooky maint corridors, you name it)
Better to implement both serverside and clientside triggers.

[2019-11-02 00:26] fomalsd commented on #2141
turns out someone accidentally turned off RegisterPlayer on player prefab and RemoveStun() coroutine stopped working!

[2019-11-02 04:13] #2138 closed, assigned to Jibbajabbafic

[2019-11-03 17:50] Jibbajabbafic commented on #2063
I think this is fixed now, haven't noticed it happening anymore

[2019-11-03 17:50] #2063 closed, assigned to nobody

[2019-11-04 21:29] Jibbajabbafic commented on #2205
Everything I've tried to respawn has disappeared so I think it affects most objects

[2019-11-05 00:48] StrawberryMoses opened #2241 "When loading station, all pre-placed object positions get forcefully rounded"
# Description
When loading the station, objects placed move to their rounded coordinates instead of their exact positions. This does not allow mappers to do stuff like the following:
![Screen_Shot_2019-11-02_at_4 05 45_PM](https://user-images.githubusercontent.com/8854773/68169964-9cc3bf80-ff33-11e9-97c3-514f3be97961.png)

## Category
TODO

[2019-11-05 09:21] fomalsd commented on #2205
I think I've (accidentally?) fixed it on my branch.
At least canisters certainly don't disappear. Might have been something with AssumedPosition.
However I'm getting lots of `Assumed World Position is HiddenPos, something might be wrong` warnings for freshly spawned stuff on my branch...

[2019-11-06 04:54] chairbender commented on #2231
The new inventory system in my upcoming PR should make this sort of thing much easier to do

[2019-11-06 04:56] chairbender commented on #2216
We still have the same uni prefabs as before, not prefab per cloth.

The issue with those is most likely how they are mapped or spawned in.

I think the new inventory system could be used to set initial locker contents once it's merged.

[2019-11-06 23:04] fomalsd opened #2242 "Make sure background always covers entire frame"
# Description
hey, there isn't enough sky drawn for high pixel density screens and/or small zoom factors
<img width="1920" alt="Scr" src="https://user-images.githubusercontent.com/10403536/68345589-bebf6c80-0102-11ea-9d45-518ed2529652.png">

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Make sure you have at least 1080p screen
2. Zoom ou

[2019-11-09 04:44] #1919 closed, assigned to nobody

[2019-11-09 04:44] #2141 closed, assigned to nobody

[2019-11-09 04:44] #2178 closed, assigned to nobody

[2019-11-09 04:44] #2182 closed, assigned to nobody

[2019-11-09 04:44] #2205 closed, assigned to nobody

[2019-11-09 04:44] #2208 closed, assigned to fomalsd

[2019-11-10 10:29] chairbender commented on #1946
This is definitely working now

[2019-11-10 19:48] chairbender opened #2246 "Restructure Guns to use Prefab Variants"
# Description
Any time you need to make changes to gun prefabs, it's really tedious because you have to edit them all. Guns should be restructured to have a base Gun prefab and prefab variants for each different kind of gun.

After doing this, you will probably need to edit the related tile palette assets to point to the new prefab variants, and probably need to remap any guns that are mapped in t

[2019-11-10 20:13] chairbender opened #2247 "Restructure lockers and crates to be prefab variants"
# Description
We have a lot of lockers and crates, all of which are separate prefabs, which creates maintenance issues / tedium. Restructure them to have one base Locker and Crate prefab and each different locker / crate can be a variant.

Will require editing the tile palette asset and remapping.

[2019-11-10 20:15] chairbender opened #2248 "Suit Storage Slot Logic"
# Description
Also related to #1747 , there are other slots which are tied to the suit. Might be good to do them together.

Current suit storage slot doesn't function like an actual suit storage. You can put stuff into it even when not wearing a suit, and removing suit has no effect.

Instead it should work like this (correct me if I'm wrong):
1. You can only use the slot when you're wearing a sui

[2019-11-10 20:17] chairbender commented on #2022
this is implemented now in the Traits system https://github.com/unitystation/unitystation/wiki/Item-Traits-System

[2019-11-10 20:27] chairbender opened #2249 "Construction System"
# Description
EDIT: #1870 needs to be done first as construction relies on stacks of things

We want a system for defining the steps for constructing / deconstructing things, so construction can be implemented / changed without code changes (assuming the necessary materials / prefabs are already defined). This is already partially implemented in ConstructionHandler to show the sorts of features th

[2019-11-10 20:37] chairbender commented on #2022
...which isn't merged yet, so reopening.

Will be fixed in #2245

[2019-11-10 20:38] chairbender commented on #1946
it was already working before my PR but I'll leave this open until the inventory refactor is merged in #2245

[2019-11-10 21:40] fomalsd commented on #1670
I really think this should be looked into for 0.4

[2019-11-10 23:23] chairbender commented on #2144
I think this is a high priority for release. Important for being able to take things from players such as for traitors.

[2019-11-10 23:27] chairbender commented on #1699
Might be fixed with #2245

[2019-11-10 23:48] chairbender opened #2250 "Refactor ItemAttributes to reference an SO with all the data, be able to add it to Cloths"
# Description
(Assumes we merge #2245 )

Might want to wait until #2315 is decided on before making further changes to cloth SOs

We need a way that allows cloths as well as prefabs to have item attributes. My suggestion for this is to refactor ItemAttributes so that all of the data previously in it is defined in a separate SO, let's call it ItemData, and referenced from ItemAttributes. We would a

[2019-11-10 23:49] chairbender opened #2251 "Clients can't use ID Console"
# Description
When a client tries to use the ID console and inserts the target card, a Mirror error message shows up on server side complaining that the packet size is too large. This is probably because the amount of data in the net tab is huge.

Expected behavior is that client should receive the necessary data and the ID console should populate with all the various options for modifying the tar

[2019-11-10 23:50] chairbender commented on #2251
This seems like quite a high priority, as being unable to modify roles in game can be quite restrictive on gameplay.

[2019-11-11 00:13] Bod9001 opened #2252 "Cable direction isn't synchronised on new join players"
# Description
If you place cables then someone joins they are not set to any direction on client that recently joined

## Category
BUG

This was a bit more tricky than it seems since you don't want a lot of network Chatter over Cable direction

[2019-11-11 00:16] chairbender opened #2253 "Burning Object Animations no longer play"
# Description
When a player is partially or fully on fire, their burning overlay should show based on the amount of fire stacks they have. Same goes for items.

It appears after the sprite atlas stuff, some of those sprites got removed from the corresponding prefabs - PartialBurning, EngulfedBurning, LargeBurning, and SmallBurning. All that's needed for this is to re-add the sprites for burning fo

[2019-11-11 00:16] chairbender commented on #2174
not sure if this is just a regression in my branch, but I noticed that the client's ghost is not getting destroyed on the client side when they re-enter their body or respawn, so I think that can be included as part of this ticket.

[2019-11-11 00:20] chairbender opened #2254 "Refactor Vendor to use inventory system"
# Description
Vendor currently uses its own system for keeping track of what's currently stocked. It can be refactored to take advantage of the inventory system.

As part of this, the inventory system will most likely need to be modified to allow stacks of items in a given slot, or perhaps a prefab / object can be created which holds a stack and would go in that slot as a single item.

This doveta

[2019-11-11 00:30] chairbender opened #2255 "Make inventory populators able to spawn things in the world (not just in inventory). Refactor closets to use them for default contents"
# Description
This should probably be done after or alongside #2247 , and assumes that #2245 is merged.

Currently, default closet contents are defined in the Prefab and can be overridden in the scene simply by mapping items on top of the closet. One limitation of this is that closet default contents cannot contain cloths, because it only allows assigning a prefab.

Instead, we should be able to u

[2019-11-11 00:34] chairbender commented on #2231
This might be fixed in #2245 , but needs to be tested

[2019-11-11 00:53] chairbender opened #2256 "Mining Satchel B: 50"
# Description
Depends on #1870 as stacking is used in the mining satchel
Depends on #2301 as we need ores to pick up.

A Mining Satchel should be developed matching the tgstation behavior. You should automatically pick up ores on the ground into the satchel if you walk over them while the satchel is in your belt or pockets. They should go into the mining satchel and should be stacked.

TODO: Feel

[2019-11-11 00:55] chairbender opened #2257 "Ore Redemption Machine / UI"
# Description
Depends on #2256 ,  #2301 , #2258 , #2458

Implement the ore redemption machine and associated UI. You should be able to drag an ore box in front of it and they will automatically be loaded into the ORM. You should also be able to dump your satchel into the ORM by clicking the ORM with the satchel in the active hand or while activating the satchel while standing next to the ORM.

I d

[2019-11-11 00:59] chairbender opened #2258 "Ore Box"
# Description
Implement the Ore Box functionality, just like how it works in tg. When you drag the box behind you and step over ores on the ground, they should go into your ore box.

There should be a way to view its contents and a way to dump stuff out, and dump your mining satchel into it

TODO: Someone with more knowledge fill in details if I missed anything.

[2019-11-11 01:00] chairbender commented on #2258
I don't think this is essential for release, as long as we have mining satchel.

[2019-11-11 01:10] chairbender commented on #2255
Just an idea for how to accommodate this use case, rather than trying to make closets have an ItemStorage (which there isn't much need for with how they already work), just adjust the interface for populators so that they can also be used for just spawning something, regardless of if its going to go into a slot or be spawned somewhere in the world. It seems like a bad fit to use ItemStorage for cl

[2019-11-11 01:18] chairbender opened #2259 "Refactor Cargo to use spawnables"
# Description
Hold off on this until #2315 as we might remove spawnables

Depends on #2255 as which adds Spawnables, a way to define things to spawn.

Might want to do this alongside #2303

Current cargo system (CargoData) only allows using prefabs to define the crate and the contents, so Cloths cannot be included.

Modify the cargo system to allow using spawnable lists to define the crate that sh

[2019-11-11 01:21] chairbender opened #2260 "Add More Cargo Data (stuff you can buy)"
# Description
~Depends on #2259 or else there will be a lot of rework when it comes time to implement that.~ Done.

Currently you can't buy much, so there's not much fun to be had in amassing a large amount of wealth.

This ticket covers adding content to the CargoData asset so you can buy all of the various fun stuff we've built. Need to be careful about costs and what comes in each crate, but at

[2019-11-11 01:27] chairbender opened #2261 "Cargo: Add ability to check prices and sell things"
# Description
In order to be able to make money from mined ores so you can buy fun stuff, we need to be able to sell things by sending them back on the cargo shuttle.

As part of that, we should add a scanner item that tells you the sell price of something (if it has a value).

At the very least, you should be able to put things onto the shuttle and when the shuttle docks at centcomm it should des

[2019-11-11 01:40] chairbender commented on #2216
Actually from what I see, the issue is that the mining hardsuit is mapped on top of the locker but it is not initializing properly or something is wrong with how it is mapped. It's not defined as part of the locker's starting items. I think this particular issue can be resolved by ensuring the tilemap entry for mining hardsuit / helmet is set up correctly and remapping these.

Regardless, just wan

[2019-11-11 01:41] chairbender commented on #2216
these suits / helmets absolutely need to be mapped for release so miners can actually do something

[2019-11-11 01:47] chairbender commented on #2015
it's possible this has been somewhat improved with the shuttle collision PR, haven't tested it out yet

[2019-11-11 01:48] chairbender commented on #1998
This might be fixed as of #2245 , slots are supposed to be a lot more reliable about displaying the correct sprites, but needs to be confirmed this is fixed.

[2019-11-11 01:50] chairbender commented on #1877
This should be covered by #2248

[2019-11-11 01:52] chairbender commented on #1860
This should be easily fixable after #2245

[2019-11-11 01:52] chairbender commented on #1859
Should be easily fixable after #2245

[2019-11-11 01:53] chairbender commented on #1802
the display names are defined in the Occupation definitions now in #2245

[2019-11-11 01:57] chairbender commented on #1698
as of #2245 it's possible to define container initial contents using inventory populators, I might suggest just doing that rather than trying to automatically set them from DM json

[2019-11-11 02:00] chairbender commented on #1249
Would you consider this fixed now that IF2 is in place?

[2019-11-11 02:01] chairbender commented on #1192
I believe this is fixed now as of #2237

[2019-11-11 02:04] chairbender opened #2262 "Thoroughly test round restarts / rejoining / relogging"
# Description
Want to keep this one open pre- 0.4. We need to ensure that round restarts don't break the game. Many of us never test our features after a round restart. A restart can be simulated AFAIK using the Networking > Restart Round feature. I will add this to the PR template as well to remind us to test it.

[2019-11-11 02:07] chairbender opened #2263 "Shuttle Rotation Glitches"
# Description
Apparently there are still some glitches with matrix rotation.

Try spawning a canister using the dev spawner on a rotated matrix. It will appear sideways. Instead it should appear upright.

This most likely has to do with some failure within the rotation init logic, not properly keeping the canister upright.

Additionally, on client side, none of the objects rotate upright at the en

[2019-11-11 05:16] chairbender commented on #2204
Several of these cases will be completed as part of #2245  - anything related to inventory slot changes has logic in place for cancelling the progress

[2019-11-11 06:59] #1192 closed, assigned to nobody

[2019-11-11 07:08] fomalsd commented on #2221
fresh example when picking up ID card from locker as client HoP
[code]

[2019-11-11 07:13] fomalsd commented on #2251
yes, that message is huge
[code]

[2019-11-11 07:34] #1946 closed, assigned to nobody

[2019-11-11 07:34] #2022 closed, assigned to nobody

[2019-11-11 07:34] #2091 closed, assigned to nobody

[2019-11-11 07:34] #2211 closed, assigned to chairbender

[2019-11-11 07:34] #956 closed, assigned to nobody

[2019-11-11 07:34] #1699 closed, assigned to nobody

[2019-11-11 07:34] #1802 closed, assigned to nobody

[2019-11-11 08:01] fomalsd opened #2264 "Atmos breaks due to oxygen NaN infection"
# Description
Oxygen levels can become NaN:
![GIF](https://user-images.githubusercontent.com/10403536/68569453-07a25880-0456-11ea-9966-2acfea38feaf.gif)
![image](https://user-images.githubusercontent.com/10403536/68569889-310fb400-0457-11ea-99b6-1ce16b0e02d7.png)

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
Exact steps are unknown. Try ex

[2019-11-11 08:20] fomalsd opened #2265 "Player can get stuck on non-station matrices B: 25"
# Description
Server movement can somehow stop working on non-station matrix, leaving player with predictive movement and either making him stuck or moving/floating forever without letting him know that something is wrong
![image](https://user-images.githubusercontent.com/10403536/68571025-e17eb780-0459-11ea-986f-f6e61260df34.png)
![GIF](https://user-images.githubusercontent.com/10403536/68571859-

[2019-11-11 08:26] fomalsd opened #2266 "Lockers no longer keep floating in space after pushing B: 25"
# Description
Space interaction physics got messed up :(
![GIF](https://user-images.githubusercontent.com/10403536/68572201-ba75b500-045c-11ea-91e5-62bb85f4b4fe.gif)

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Drag a locker into the space and play around with it

[2019-11-11 08:36] fomalsd opened #2267 "Players can predictively initiate walk when they're not supposed to B: 30"
# Description
...that results in rollback after a while. But clients shouldn't even try to walk when they're not sticky, as only throwing things should work in such situations
![GIF](https://user-images.githubusercontent.com/10403536/68572437-4982cd00-045d-11ea-9687-0399ac44d623.gif)

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Spawn y

[2019-11-11 08:37] fomalsd opened #2268 "Ping meter is gone"
# Description
![image](https://user-images.githubusercontent.com/10403536/68572886-708dce80-045e-11ea-9bef-34ad26805867.png)
it was in the bottom right corner and now it no longer is

[2019-11-11 08:45] fomalsd opened #2269 "Certain zoom values are not pixel perfect"
# Description
Zoom slider (that multiplies zoom factor) currently goes  from 1 to 10.
Certain commit changed base zoom of 1x down to to 0.5x, so instead of `1, 2, 3... ` it now goes `0.5, 1, 1.5...`
Need a custom zoom slider sequence, preferably modifiable through inspector, that would have a following set of values:
1, 2, 4, 6, 7, 8, 10, 12, 14, 16
instead of a simple 1 to 10

[2019-11-11 08:52] fomalsd commented on #1249
Yeah, I think so. We don't have a template for toggleable items, but IF2 and IS2 provide a robust way to implement all kinds of items

[2019-11-11 08:52] #1249 closed, assigned to nobody

[2019-11-11 08:52] fomalsd commented on #1257
haha, no more

[2019-11-11 08:52] #1257 closed, assigned to nobody

[2019-11-11 08:54] fomalsd commented on #1442
hm, perhaps it's time to close it and make new issues if something comes up, this one is too broad

[2019-11-11 08:54] #1442 closed, assigned to nobody

[2019-11-11 08:55] fomalsd commented on #1499
if someone wishes to destroy their ship that way then it's fine

[2019-11-11 08:55] #1499 closed, assigned to nobody

[2019-11-11 09:34] fomalsd commented on #2261
I think it already despawns everything on the cargo shuttle and pays 50 credits for each item

[2019-11-11 12:27] fomalsd commented on #2263
I think this is also related to incorrectly rotated xenos. Must have something to do with how they get initialised when asteroids get randomly distributed and rotated. "Always upright" option didn't work for them

[2019-11-11 17:42] chairbender commented on #2221
whoops, IDK why I marked that as fixed since I know it definitely wasn't, I think I typoed 2221 instead of 2211

[2019-11-11 20:35] Jibbajabbafic commented on #1394
I never encountered this when I was restarting rounds a lot during gamemode testing. Could just be headless?

[2019-11-12 17:59] Jibbajabbafic opened #2273 "Admin commands B: 140"
# Description
Create commands so that admins can:
- [x] Change game mode
- [x] Toggle if game mode is secret
- [x] Kick
- [x] Ban (permanent and temporary)
- [x] Unban
- [x] Change permissions/roles
- [x] Respawn dead player
- [x] Admin PM *bwoink*
- [x] Restrict VV and Dev spawner to Admins only
- [x] Toggle admin only commands in right click menu

For now make it so only the server player can do

[2019-11-14 05:30] #2129 closed, assigned to chairbender

[2019-11-14 18:56] jaredkoenig commented on #2157
I am working with a group at Christopher Newport University and we attempted to recreate this problem and we were unable to recreate this bug. The cabinet worked properly.

[2019-11-14 19:35] fomalsd commented on #2157
@jaredkoenig it's quite easy to reproduce, it doesn't close once opened
![scr](https://user-images.githubusercontent.com/10403536/68889864-d9ab6580-072e-11ea-8dc9-8ea337e18634.gif)

[2019-11-15 01:19] chairbender commented on #2251
looking into this

[2019-11-15 02:02] chairbender commented on #2144
not started it yet but I'm going to preemptively assign this to me because I think I can get it done most quickly due to experience with the inventory system and UI

[2019-11-15 04:49] #1698 closed, assigned to nobody

[2019-11-15 04:49] #2080 closed, assigned to chairbender

[2019-11-15 04:54] fomalsd commented on #1698
now to actually add all these containers! toolboxes, medkits, toolbelts, cigs, donuts – it's just a matter of some editor work

[2019-11-15 05:45] chairbender commented on #2247
adding this to 0.4 because some of the 0.4 tickets ultimately depend on this

[2019-11-15 05:48] chairbender commented on #2247
hmm, actually I don't think this is essentially anymore now that I have a better idea how to do the other 0.4 tickets. This is more just a convenience thing than anything and it won't actually make a big difference for 0.4 effort now that I think about it, as most (all?) of the lockers don't really have overrides other than their starting items and sprite.

[2019-11-15 05:49] chairbender commented on #2255
decided it's not necessary to do #2247 first since the amount of effort saved for 0.4 by turning them into variants actually is pretty insignificant

[2019-11-15 19:26] fomalsd commented on #1723
working on this

[2019-11-15 21:10] chairbender commented on #2251
Some suggestions from foma:
Fix the tab itself so it doesn't send so many messages.
Fill the buttons out once in editor instead of doing it each time at runtime, otherwise it'll still take a long time to load.
Keep a copy of the old nettab for stress testing.

[2019-11-17 21:46] StrawberryMoses commented on #2261
The item you're looking for is an export scanner.
https://github.com/tgstation/tgstation/blob/master/code/modules/cargo/export_scanner.dm

[2019-11-17 22:01] chairbender commented on #2166
I see a pr for this so marking it in progress #2282

[2019-11-18 02:03] chairbender opened #2283 "Refactor everything to use prefab variants"
# Description
Depends on #2386
Somewhat overlaps with #2247 and #2246

Due to the tilemap changes this would require, it may be best to hold off on this until doing #2191 , but even then I think it would still require lots of mapping changes, so it can probably be done without.

Now that we have somewhat better idea of the structure of our prefabs, it would save effort to refactor them to be prefa

[2019-11-18 20:43] Brizzzle1738 commented on #2032
Is this a bug? May have found a fix, however it seems that when handcuffs were created it was supposed to stop player movement input.  Has the design of handcuffs changed to where a player is able to move when handcuffed?

[2019-11-18 21:19] chairbender commented on #2032
@Brizzzle1738 the description in the ticket is still correct about what needs to be done. Note that I have already made it impossible to interact with things when cuffed in #2281 (which is not yet merged but should be soon), so all that's left to do is prevent player movement and pull breaking when cuffed, but allow them to move otherwise.

[2019-11-18 21:58] cvdva commented on #1859
Currently working on a fix for this issue now

[2019-11-18 23:13] chairbender commented on #1859
@cvdva just to help make sure you're on the right track, all that should be needed for this basically is to give the small oxygen canister prefab the "Belt" ItemTrait in its itemattributes component, there shouldn't need to be any code changes.

[2019-11-19 13:02] #2251 closed, assigned to chairbender

[2019-11-19 17:11] Bod9001 opened #2286 "NREs after round restart in SpriteMatrixRotation"
## Category
BUG
call emergency shuttle
Hop on it
round ens
restarts round
observe NRE

![image](https://user-images.githubusercontent.com/27101670/69168943-6ff4d800-0aef-11ea-875e-96e16eac192f.png)

[2019-11-19 18:43] chairbender opened #2287 "Convert PlayerNetworkAction commands to use IF2"
# Description
There are quite a few interactions, such as melee and hugging, which could be made to use IF2 instead of using PlayerNetworkActions commands. The benefit of moving to this is ensuring consistent interaction logic is obeyed, for example for things like validation.

[2019-11-19 19:39] jackpotttt commented on #1859
Oh my bad, didn't realize someone was working on this

[2019-11-19 19:50] RedlineTriad commented on #1859
@jackpotttt are you already on the discord? makes communication easier.

[2019-11-19 20:48] chairbender opened #2290 "Allow placing Spawnables in the scene"
# Description
Hold off on this until #2315 as we might remove spawnables

Currently you can only place prefabs in the scene and must modify them manually to set them up in the state you want.

With the new Spawnable system, we could allow mapping spawnables in, so that the initial configuration of the object would be defined in the asset and the instance in the scene could reference that asset, ba

[2019-11-19 20:52] jackpotttt commented on #1859
@RedlineTriad I am, but I haven't used it much yet. Still learning the ropes!

[2019-11-19 21:50] chairbender commented on #2264
@fomalsd are you still able to reproduce this? We are having trouble getting this to happen.

[2019-11-19 21:51] Bod9001 opened #2291 "Shuttle crashing into station doesn't update atmospherics properly B: 100"
# Description
It seems that atmospherics isn't properly notified about the destruction of tiles resulting in with behaviour like

![image](https://cdn.discordapp.com/attachments/312454684021620736/646467316263026710/unknown.png)
![image](https://cdn.discordapp.com/attachments/312454684021620736/646466424109400092/unknown.png)
![image](https://cdn.discordapp.com/attachments/312454684021620736/64646

[2019-11-19 22:02] Bod9001 opened #2292 "NRE When launching outpost station directly"
# Description
![image](https://user-images.githubusercontent.com/27101670/69190363-2967a380-0b18-11ea-9c4d-d4a8b99beb84.png)

## Category
BUG

## Detailed Bug Report
I think the issue is caused by
LobbyManager.Instance.lobbyDialogue.ShowLoggingInStatus($"Loading user profile for {FirebaseAuth.DefaultInstance.CurrentUser.DisplayName}");
Since you bypass the login by loading Outpost station directly

[2019-11-19 22:44] Bod9001 opened #2293 "NRE when entering outpost station from lobby in ControlDisplays"
# Description
![image](https://user-images.githubusercontent.com/27101670/69193104-ee686e80-0b1d-11ea-9787-06e4da72e834.png)

## Category
BUG

## Detailed Bug Report

on
panelRight.gameObject.SetActive(true);
in HumanUI()
in ControlDisplays

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.login
2.host server
3.play
4.Choose captain
5.Observe error

[2019-11-20 01:06] #1859 closed, assigned to nobody

[2019-11-20 01:14] Bod9001 commented on #2216
mining stuff is Because they are missing references, Simple as

[2019-11-20 01:34] chairbender commented on #2216
yup, this will be fixed in the pr

[2019-11-20 04:29] chairbender commented on #2032
@Brizzzle1738 just an update, I would suggest holding off on this until #2281 is merged as I'm making some changes to interaction / movement validation

[2019-11-20 05:16] fomalsd commented on #2264
No longer seems to happen on my branch – no idea why because I don't recall atmos code being changed. Will close this unless it decides to reemerge

[2019-11-20 05:18] chairbender commented on #2249
BTW, this CAN be developed without cargo being more fleshed out, but the system won't be usable by players unless we flesh out cargo so you can actually obtain the materials to construct stuff with. And/Or add the fabrication machine or whatever it's called. So at least some method to obtain the parts for constructing things will be necessary

[2019-11-20 05:19] chairbender commented on #2249
for reference: https://tgstation13.org/wiki/Construction

[2019-11-20 05:22] chairbender commented on #2249
worth noting, there needs to be a way to pick from a menu of constructable things somehow

[2019-11-20 05:25] fomalsd opened #2294 "No way to uncuff yourself or see if you are cuffed"
# Description
Currently there's no indication of whether you are currently cuffed, and no way to try to uncuff yourself.
Also perhaps help intent interaction on other player should trigger uncuff?

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Spawn handcuffs
2. Cuff yourself

[2019-11-20 05:26] chairbender commented on #2294
@fomalsd you can uncuff using a right click menu option on another player, but you can't do it on yourself

[2019-11-20 05:27] chairbender commented on #2294
also I can;t find it right now, but someone posted a screenshot showing how it's supposed to look when cuffed, your hand slots change to have cuffs joining them. We might already have this sprite in the project

EDIT: And I think we would need the player sprite also to change to indicate to others you are cuffed, but not sure how that's supposed to look

[2019-11-20 05:39] #2144 closed, assigned to chairbender

[2019-11-20 05:44] fomalsd commented on #2294
Changed the title

[2019-11-20 05:46] chairbender commented on #2294
Iirc the way self uncuffing works in tg is you get a "restrained" alert while cuffed and you click it, get a message saying you try to escape, get a long progress action (it's like at least 30 seconds) and probably it randomly fails like 50% of the time at the end.

[2019-11-20 05:48] fomalsd commented on #2294
yeah, the Resist button (which we don't have atm) triggers the escape progress as well

[2019-11-20 19:43] fomalsd commented on #1953
should revisit this for 0.4

[2019-11-21 19:02] chairbender opened #2297 "Canister Holding Tank B: 80"
# Description
Need to implement the holding tank functionality / UI so you can fill things from a canister (such as an oxygen tank). This will require adding to the canister UI - a label for the name of the tank, an indicator of the pressure, and an eject button. This stuff should only show up when a tank is inserted. The sprite of the canister should also change when a holding tank is inserted.

[2019-11-21 19:31] Bod9001 opened #2298 "Action System B: 100"
# Description
in ss13 You can have spells and Stuff that You can select by panels on top left
This is used for magic, race abilities, item abilities, E.g Triggering Spell, Something, Jetpack settings, Stuff like that

These are called "actions".

Add the ability to have "actions", which show up somewhere on the UI (like the top left) and can be dynamically added / removed based on various things.

[2019-11-21 19:32] chairbender opened #2299 "Ability System"
# Description
Add the ability to have "abilities", which show up somewhere on the UI (like the top left) and can be dynamically added / removed based on various things. The abilities can be clicked to trigger them, and have mouseover text explaining what they do. They might also have some sort of cooldown indicator?

For example, certain pieces of equipment come with abilities when you equip them,

[2019-11-21 19:33] chairbender commented on #2298
I'll merge mine into this

[2019-11-21 19:34] chairbender commented on #2299
duplicate of #2298

[2019-11-21 19:34] #2299 closed, assigned to nobody

[2019-11-21 19:46] chairbender opened #2300 "Automatic Mining Scanner"
# Description
Implement the automatic mining scanner. This can be turned on and off by activating it.

When it is on, it periodically reveals the ore contents of each mineable tile. They appear for a moment and then gradually fade away.

This will require changing how ore works so that the contents of the rock are determined ahead of time rather than when the rock is mined.

It looks like this:
![

[2019-11-21 19:53] chairbender opened #2301 "Minerals B: 70"
# Description
Change the logic for mineable rocks so that the minerals they contained is determined randomly on map load, not when the rock is mined.

Add all the different kinds of minerals and ores that can be mined with their appropriate rarity. This should use a prefab variant most likely. The ores should also be stackable (add Stackable component).

You can skip gibtonite for this ticket.

In

[2019-11-21 19:57] chairbender opened #2302 "Proto-kinetic Accelerator"
# Description
Implement the proto-kinetic accelerator. This should include all sounds / sprites / logic so that it matches how it works in tg.

some additional details on it here: https://tgstation13.org/wiki/Shaft_Miner

You can see it in action in this video:
https://youtu.be/KOtfRZt6F3s?t=681

in TG, logic for this is in kinetic_accelerator.dm

[2019-11-21 20:55] chairbender opened #2303 "Use spawnables for vending machines"
# Description
Hold off on this until #2315 as we might remove spawnables

Vending machine can currently only stock prefab stuff. It should be adapted to use Spawnables so it can vend arbitrary spawnable objects.

Might want to do alongside #2259

[2019-11-21 20:55] chairbender opened #2304 "Mining Equipment Vendor"
# Description
Depends on #2257 so you can actually get mining credits.
Depends on #2303 so you can actually put arbitrary stuff in it and not just prefabs.

Allow miners to get fun stuff for their hard work.

How it should work:
  * Create an SO holding the list of Spawnables you can buy from it, with a price value for each
  * You need to insert a card in order to buy stuff from it, the inserted

[2019-11-21 21:17] chairbender opened #2305 "Split out integrity stats to SO, allow to be referenced by ClothData"
# Description
~Hold off on this until we decide on #2315~ actually it's okay to work on because splitting it out into an SO means the asset will still be fine even if we change cloths to be prefabs, we would only need to re-link the prefab to the correct integrity asset.

Currently Integrity stats (like the resistances and flags) are hardcoded into the prefab. They should be converted to be one or

[2019-11-21 21:24] chairbender opened #2306 "Basic Lavaland / Multi-map System"
# Description
This is a high effort ticket. We need a way so that we can basically be taken to a different map which is not reachable from the main OutpostStation scene. We will need to work out how this can be done since all of our current logic all takes place in a single scene. Not sure if we'd want to just "hide" lavaland in the main scene somehow or else have a way to change the client's scen

[2019-11-21 21:49] chairbender opened #2307 "Plasma Cutter"
# Description
Implement plasma cutter with same sprites / sound / logic from tg.

It should work pretty much just like a gun except it has a purple shot and instantly destroys mineable rocks and travels through them. It also reloads via solid plasma (I don't think it has a magazine).

Note it can be used as a welder.

Add it to the mining equipment vendor with the correct price.

Can see in action

[2019-11-21 21:57] chairbender opened #2308 "Gibtonite"
# Description
Implement gibtonite, with the same sprite / sound / logic as tg.

Add a chance for it to spawn in mineable rocks.

Described here: https://tgstation13.org/wiki/Shaft_Miner

Can be seen in action here:
https://youtu.be/KOtfRZt6F3s?t=1482

[2019-11-21 22:02] chairbender opened #2309 "Butchering"
# Description

Add ability to butcher hostile mobs by attacking a dead mob with a knife in hand and configure their drop tables for what they can drop. Each mob's drop table should be an SO with a list of prefabs and a drop rate for each prefab. Do NOT hardcode the drop table into a prefab, because it is highly likely we want to be able to easily swap out drop tables!

Configure a drop table for w

[2019-11-21 22:03] chairbender opened #2310 "Additional hostile mining mobs"
# Description
Depends on #2309 so drops can be configured.

This is just a placeholder for adding more hostile mobs for mining. Please create additional tickets for each mob.

[2019-11-21 22:16] chairbender opened #2311 "EPIC: Usable Sprite Animation System (USAS)"
# Epic Description
This is an epic with multiple subtasks.

The goal of this epic is to create a convenient / usable system for defining, changing, and playing animations on a particular object , which includes non-animated / static sprites, and syncing them over the network. We also want this system to be flexible enough to support possible future use cases, such as having cool effects or particl

[2019-11-21 22:22] chairbender opened #2312 "Configure resistances / flags for all objects"
# Description
Hold off until #2315

Depends on #2305

Quite a few objects don't have properly configured resistances and flags for their integrity / armor values. For this ticket, try to go through and configure everything to match their tg values.

[2019-11-21 22:27] chairbender opened #2313 "Atmospheric Analyzer"
# Description
Implement the atmospheric analyzer, matching the way it works from tg.

Basically, it should just output a message showing the current gas contents of the tile you are on.

[2019-11-21 22:28] StrawberryMoses commented on #2298
In tg code these are called actions.

https://github.com/tgstation/tgstation/blob/master/code/datums/action.dm

I have an idea of how this might work, but anyone feel free to take it. I suggest key value pairs to reference actions and an object that has all information needed. A prefab can be added with the inventory background icon and an empty image for the icon overlay. Then on click can trigge

[2019-11-21 22:31] chairbender commented on #2298
already added this to the ticket but just as an addendum, I would suggest not doing it with dictionary key / value pairs since that's what SOs are for in Unity. It should instead be done with SOs.

Also, IF2 at the moment might not be the right thing for this as IF2 is only for things that are triggered by the predefined interaction types. It might be better to have a different system for telling

[2019-11-21 22:44] chairbender opened #2314 "Overlays"
# Description
Depends on #2311 as it involves working with sprites / animations.

This is used a lot throughout tg - search add_overlay. Create a way to add overlays to items / objects / tiles, such that a particular sprite is overlaid on top of a given object. For example, this would be used to add a stamp to a piece of paper. The API for doing this should be made to be easy to use, and please av

[2019-11-21 22:57] StrawberryMoses commented on #2314
This is also used for objects like stamps.
Keep in mind that the overlay will also need to be networked

[2019-11-21 23:08] chairbender opened #2315 "Consider Converting Cloths to be prefabs (and use prefab variants)"
# Description
For many things, we've had to implement custom logic specifically for handling cloths. For example, prefabs have the capability to do prefab variants, but cloths don't unless we build it.

I personally have spent many hours dealing with cloth-specific logic due to them not using prefabs. We should decide if we're really going to stick to this system or refactor them to use prefabs /

[2019-11-21 23:43] chairbender commented on #2315
after some discussion on Discord, the idea of moving them to prefab variants seems okay, but we should still give it some more though / discussion and we are wondering if having so many prefab variants (one for each possible article of clothing) would cause performance issues.

EDIT: See my edit above about how prefab variants only store the modifications from the parent, which alleviates some of

[2019-11-21 23:54] chairbender commented on #2315
Just to note, I think the biggest reason to move to prefab variants is so that you know the prefab variant for a particular item is the central definition of what that item is. No confusion about whether the object is defined as an SO or a prefab. Then from there you can view its components and navigate its SO references to look up all the data that item is configured to use. And when you want to

[2019-11-22 00:42] StrawberryMoses opened #2317 "Add Polaroid Cameras"
# Description

Add polaroid cameras. These can be used to take static images of a scene on the station. After taking a picture, a photo is printed out as an item.

Notes and considerations:

- The flash can be turned on or off. If the flash is on, the picture is set to have a higher brightness if the lights are off.
- Alt click changes it's focus, determining how big of an area the camera takes. T

[2019-11-22 00:51] StrawberryMoses opened #2318 "Crates show up behind vents"
# Description
Looks like the layers of crates are off, vents are showing up on top of them.

## Category
BUG

[2019-11-22 00:56] StrawberryMoses opened #2319 "Shutters are invisible"
# Description
(See title)
They still seem to work as expected, they are just invisible

## Category
BUG

[2019-11-22 01:09] StrawberryMoses commented on #1723
For extra credit, the extinguisher gives momentum when fired. This allows for a "jetpack" obtainable by anyone, and for something more fun, being able to propel yourself through the station buckled into a wheely chair

[2019-11-22 02:26] chairbender commented on #2315
@DooblyNoobly @fomalsd if you get a chance, would like to hear your thoughts on this. IMO prefab variants are the right choice for this sort of thing as long as it's not going to create some sort of performance issue. Otherwise I think we will continue to find ourselves having to re-implement logic that is already provided OOTB with prefab variants and re-implement a cloth version of any prefab-ba

[2019-11-22 02:47] chairbender commented on #1747
Also related to #2248  , there are other slots which are tied to the suit. Might be good to do them together.

[2019-11-22 02:48] StrawberryMoses opened #2320 "Add Coins"
# Description
This is a low priority addition, but it does add some flavor to the station. Coins are made out of ore and act as the value of their materials.
Notes:
- Coins can be flipped to show head or tails
- They can be examined to show their value
- It is possible to attach a string (wire) to the coin, but this no longer has any effect on the game
- Coins can be made out of the following:
	-

[2019-11-22 02:49] StrawberryMoses opened #2321 "Add Clipboards"
# Description

Clipboards essentially function as mobile paper trays.
Notes:
- They can be worn on a player’s belt
- They can have a pen added to them
- Paper added shows an overlay of the paper sprite above the clipboard
- Activating the clipboard has a popup including:
	- The ability to add or remove a pen
	- A list of all papers on the clipboard
	- The ability to write on any paper, assuming ac

[2019-11-22 02:54] #2166 closed, assigned to nobody

[2019-11-22 03:02] chairbender commented on #2319
Related to #2148

[2019-11-22 03:14] StrawberryMoses opened #2322 "Add Bank Accounts for Player Characters and Departments"
# Description

Bank accounts hold money for the player character. They do not persist between rounds. Money can be used to buy cosmetic items, extra special items, or food from vending machines. Departments also have budgets that are pulled from on payday to pay their employees. Payday is every five minutes.

The budgets are split into the following departments:
- Civilian
- Engineering
- Science

[2019-11-22 03:45] StrawberryMoses opened #2323 "Add Bounty Console and Bounty System"
# Description

Bounties are a way for Cargo to make additional money by snooping through the station or asking other departments for assistance. Each bounty has a name, description, reward in credits, and a high priority marking. High priority bounties multiply the reward, with a default of 2.

Bounties are split into categories to get a distribution of bounties across different departments.

The

[2019-11-22 03:54] StrawberryMoses opened #2324 "Add Request Console"
# Description

Request console are wall mounted computers that send messages to different departments across the station. Messages are sent using the same system as the PDA server.

The request console can:

View Messages from the other departments
Request assistance from other departments, at either normal or high priority
Request supplies from other departments, at either normal or high priority

[2019-11-22 03:57] StrawberryMoses opened #2325 "Add Carbon Paper and Carbon Paper Bins"
# Description

Carbon paper works as it does in real life. After writing on the paper, there will be a normal piece of paper and a piece of pink carbon paper. The pink carbon paper can be split one more time into two pieces.

https://github.com/tgstation/tgstation/blob/98b0805b57d64399557385de84a32d64c547f3f2/code/modules/paperwork/carbonpaper.dm

[2019-11-22 03:59] StrawberryMoses opened #2326 "Add Stamps"
# Description

Stamps are used to stamp on pieces of paper. A tiny version of the stamp is visible as an overlay in the world, while a detailed version displays on the paper. An unlimited amount of stamps can be applied to a piece of paper.

https://github.com/tgstation/tgstation/blob/aa8e09ed021228c1e77bffeb28d7f033ab53c702/code/modules/paperwork/stamps.dm

[2019-11-22 04:01] StrawberryMoses opened #2327 "Add folders and file cabinets"
# Description

Folders and file cabinets hold paper to be grouped together. When used, they display a popup where paper can either be removed or viewed.

- [x] add folders
- [x] add file cabinets

https://github.com/tgstation/tgstation/blob/cc1f39661c1cda8de1caa005ea199bb3d8ca591f/code/modules/paperwork/folders.dm
https://github.com/tgstation/tgstation/blob/dd6fa5ededb15c36bb0f0663a4f37c8c699036a5

[2019-11-22 05:59] #2216 closed, assigned to chairbender

[2019-11-22 05:59] #2255 closed, assigned to chairbender

[2019-11-22 06:23] #1870 closed, assigned to chairbender

[2019-11-22 07:36] fomalsd commented on #2317
how do you suggest actually taking photos? simply rendering into a texture on serverside and sending to observing clients in binary form?

[2019-11-22 10:56] fomalsd opened #2329 "`CustomNetworkManager.IsServer` can give NRE in Awake()"
# Description
`CustomNetworkManager.Instance` can be null during Awake()/Start(), which causes `Instance._IsServer` to throw an NRE.
A workaround is to create a waiting coroutine in places where you need to evaluate it, [like here](https://github.com/unitystation/unitystation/blob/3c2bb3de6dc58ee7f1b74b83eca1d18a005c3366/UnityProject/Assets/Scripts/Spawners/NPCSpawner.cs#L35), but it's not very pr

[2019-11-22 12:20] fomalsd commented on #2315
I don't mind swapping cloth scriptableObjects with prefab variants unless it makes performance/load times worse when there are around 800 different clothes (see [this](https://github.com/unitystation/unitystation/blob/a7ab52b2a4b11c3433d8864e4060ef38c4eaba90/UnityProject/Assets/Scripts/Items/ClothEnum.cs) to have an idea)

[2019-11-22 12:27] fomalsd commented on #1723
jetpacking is on my todo list, we don't have rolling wheely chairs yet though

[2019-11-22 12:55] fomalsd commented on #2329
how do you feel about a solution like this? suitable for stuff that can be done asynchronously
[code]
– WaitForNetworkManager is an extension method available for every MonoBehaviour

[2019-11-22 12:56] DooblyNoobly commented on #2329
Ooo I like that

[2019-11-22 13:36] StrawberryMoses commented on #2317
Yeah, I think just making an actual image like that might be easiest. There's also a photo album object that saves pictures through different rounds, so it might be worth planning it like that so they can be kept even with multiple versions of the game

[2019-11-22 16:11] fomalsd opened #2331 "One can no longer melee bash windows"
# Description
Got an exception when trying to bash window with an oxygen tank:
[code]

That NRE was fixed by replacing relevant code with:
[code]

After fixing it returns two messages. First one, generic:
[code]
and second one, from the place that NRE'd before:
[code]
So target object is station which is at 0,0 position, which is correct.
Not sure how this worked before

## Steps to Reproduce
Plea

[2019-11-22 18:22] chairbender commented on #2315
Honestly the load times / memory usage of the current cloth data system is probably worse than using prefab variants, as it requires loading and caching every single cloth data asset at startup in a set of dictionaries. With prefab variants those dictionaries and loading logic can all be removed, as each prefab variant already has all the data it would need. The logic of syncing the unicloth data

[2019-11-22 18:58] #2329 closed, assigned to nobody

[2019-11-22 20:34] #1748 closed, assigned to nobody

[2019-11-22 20:52] fomalsd opened #2332 "Clothes fail to sync on client when "EVA ready" command is executed"
# Description
Getting `No Cloth Data found for clothname` exceptions on client after debug command is invoked:
<img width="1145" alt="Scr 2019-11-22 в 23 41 18" src="https://user-images.githubusercontent.com/10403536/69459099-0c360d80-0d82-11ea-8688-10b61cfe8645.png">

cloth setting code is basically like this:
[code]

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:

[2019-11-22 21:24] fomalsd opened #2333 "Some airlocks can't be right-clicked"
# Description
Some airlocks like RD department ones don't show a right click menu

## Detailed Bug Report

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1. Go to RD or spawn as one
2. Try rightclicking the airlock

[2019-11-23 00:51] dapocalypse commented on #2327
Ill take this up

[2019-11-23 00:59] StrawberryMoses opened #2334 "Add loot tables and spawners for map makers"
# Description
For areas in maint, lavaland, or otherwise, map makers in DM can define loot tables to spawn random items. The loot tables could probably be SOs, with an option to make an overridden loot table for a specific spot.

These should be able to define how many items can spawn at that location, if the same item can be spawned more than once, and if the items should be locked into the cente

[2019-11-23 01:12] StrawberryMoses opened #2335 "Add cloak cosmetic items"
# Description

The heads of staff have cloaks, cosmetic items that are specific to the role and are worn on the neck slot. There are also cloaks made out of monsters, but it's fine to only do the heads of staff. These are pretty much only cosmetic, but they can also hide the backpack slot.

https://github.com/tgstation/tgstation/blob/master/code/modules/clothing/suits/cloaks.dm

First issue notes:

[2019-11-23 01:22] StrawberryMoses opened #2336 "Add lockboxes"
# Description

Lockboxes are similar to storage boxes, with the added feature that they can be locked. They are also bulky instead of normally sized. Lockboxes can be locked and unlocked with an appropriate id card. By using an emag on one, they are broken open and id cards will no longer work. Lockboxes are used to store items of value at roundstart such as clusterbangs or mindshield implants. Ad

[2019-11-23 01:50] #2331 closed, assigned to chairbender

[2019-11-23 02:18] chairbender commented on #2315
looking into this a bit more, as I think it would end up allowing us to have more stuff built out for 0.4 and I am concerned that the amount of content we might add for 0.4 will cause a lot more rework to be needed if we put this off

[2019-11-23 02:35] StrawberryMoses opened #2338 "Add Accessories"
# Description

Accessories are items that can be attached to a player's jumpsuit. Only one accessory may be attached at one time. Accessories can be removed by alt clicking the jumpsuit in the inventory. When an accessory is attached, it is optionally (and by default) overlaid at 50% in the bottom right hand corner of the object's icon.

A lot of these are purely cosmetic, but some have some speci

[2019-11-23 02:55] chairbender commented on #2315
One interesting limitation I discovered with prefab variants is you can't rearrange the order of components in a child, other than the ones you added. Our interaction framework uses the ordering of components to determine what to check first, so if there is a situation where we want something in the variant to override the interactions higher up in the parent, we would need to add a way to do that

[2019-11-23 03:08] StrawberryMoses commented on #2315
Was my hacky workaround for selected interaction / component or whatever fixed? If not it might be worth looking into both at the same time

[2019-11-23 03:16] chairbender commented on #2315
@StrawberryMoses it was! See here: https://github.com/unitystation/unitystation/wiki/Implementing-Interactions#how-can-i-trigger-interactions-manually-such-as-for-right-click-options

[2019-11-23 14:10] StrawberryMoses opened #2339 "Backpacks Should Not Fit in Backpacks"
# Description

Currently, backpacks can be put into other backpacks. They should be too large to fit inside each other.

[2019-11-23 18:46] chairbender commented on #2339
it used to be like that, I think someone may have messed with backpack storage capacity or backpack item size

[2019-11-23 18:46] chairbender commented on #2312
doing this partly with #2315

[2019-11-23 20:47] Bod9001 opened #2340 "Better Examine System"
# Description
We need the ability to let components on an object customize that object's examine text. For example, this is used often during construction to give hints about what you need to do next or to see what state an object is in for objects that don't have different sprites for each construction state.

We need to support components adding arbitrary lines to the examine message. For toolti

[2019-11-23 20:50] Bod9001 opened #2341 "punpun can't be walked past when killed"
# Description
when you kill something in the byond version of the game you can then walk over it, once it is dead

## Steps to Reproduce
Please enter the steps to reproduce the bug or behaviour:
1.kill punpun
2.try walking over
3.observe lack of ability to do so

[2019-11-23 20:52] fomalsd commented on #2340
they did have proper descriptions when dm data was a thing, maybe there’s still some way to automate it

[2019-11-23 21:33] chairbender commented on #2340
I'm doing this for all the cloths as part of #2312

[2019-11-23 21:45] Bod9001 commented on #2339
remember that the blue space backpack can store backpacks

[2019-11-23 23:51] chairbender commented on #2340
I will eventually be migrating the itemattributes component users to the new and improved "ItemAttributesV2" so I'll also just look up the names / descriptions when I do that and that should fix this ticket, but that won't be until a later PR.

EDIT: So I'll assign this to me.

[2019-11-24 08:28] chairbender commented on #2283
One issue with variants is you can only add to the bottom of components in the parent, you can't rearrange parent components or insert things in the middle of them in a variant.

A simple fix for this is that we should change the IF2 interaction checking logic to check components in reverse order, from bottom up. Makes sense since variants that add ICs will want to have their logic fire first, and

[2019-11-24 11:13] chairbender commented on #2250
not doing this because prefab variants solves it for us

[2019-11-24 11:13] #2250 closed, assigned to nobody

[2019-11-24 11:14] chairbender commented on #2303
not needed anymore due to using prefab variants instead of cloths!

[2019-11-24 11:14] #2303 closed, assigned to nobody

[2019-11-24 11:14] chairbender commented on #2290
Not needed anymore due to using prefab variants for everything, hooray!

[2019-11-24 11:14] #2290 closed, assigned to nobody

[2019-11-24 11:15] chairbender commented on #2259
Not needed anymore due to using prefab variants for everything, hooray!

[2019-11-24 11:15] #2259 closed, assigned to nobody

[2019-11-24 11:17] #2315 closed, assigned to chairbender

[2019-11-24 11:28] fomalsd commented on #2309
It actually used to work back in the day, but stopped working for both players and NPCs

[2019-11-24 12:01] Bod9001 opened #2344 "Dragging a box/container towards you allows you to open the inventory"
# Description
in byond Version of the game you're able to drag containers to yourself, And open it up, this means that you can open up the box within your backpack Without taking it out
Feature

[2019-11-24 16:08] Bod9001 opened #2345 "Rounds can't end properly if you park something in front of the emergency shuttle B: 25"
# Description
If you Park mining shuttle in front of the escape area, the escape shuttle will crash into it and get stuck, resulting in the round never ending

## Steps to Reproduce
1.Grab mining shuttle
2.Fly around to departures
3.Place in front of departures where Emergency escape Shuttle would be
4. Call emergency shuttle
5. Watch as it crashes and get stuck

[2019-11-24 18:09] chairbender commented on #2344
isn't this already possible?

[2019-11-24 18:15] Bod9001 commented on #2344
it's odd, it wasn't working for me then it started working
unity being odd

[2019-11-24 18:15] #2344 closed, assigned to nobody

[2019-11-24 19:55] Mantle-Wanderer opened #2347 "Security records console's 'text input box' doesn't handle the Enter key properly"
# Description
~~_Bod recently created a build for download on the discord server. This issue is in that build._~~

Security records 'text input' doesn't register the enter key correctly. The other hotkeys such as 't' or 'wasd' take over any time you press enter, causing you to open the chat window accidentally or start walking around whilst typing.

In the clip I type 'ttt adadad' on the first lin